<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Innovating Through Empathy and Creativity",
        p: "At iWINGS, we believe that Design Thinking is the key to solving complex problems and fostering innovation. Our mission is to use this human-centered approach to create solutions that not only meet business goals but also resonate deeply with users.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "Design Thinking is essential for driving innovation and creating solutions that truly meet user needs. Here’s why our Design Thinking service is crucial for your business.",
          cards: [
            "By deeply understanding the needs, motivations, and pain points of your users, we create solutions that resonate and engage.",
            "Our iterative approach encourages creativity and experimentation, leading to innovative solutions that set your brand apart.",
            "Design Thinking fosters collaboration across teams, ensuring that diverse perspectives contribute to the best possible outcomes.",
          ],
        },
        WHAT: {
          desc: "Our Design Thinking service involves a comprehensive process that guides you from problem identification to innovative solution implementation.",
          cards: [
            {
              title: "Empathy and User Research",
              desc: "Conducting in-depth research to understand your users’ needs, behaviors, and pain points.",
            },
            {
              title: "Problem Definition",
              desc: "Clearly defining the problem based on insights gathered during the research phase.",
            },
            {
              title: "Ideation and Brainstorming",
              desc: "Generating a wide range of ideas and potential solutions through collaborative brainstorming sessions.",
            },
            {
              title: "Prototyping",
              desc: "Creating low-fidelity prototypes to visualize and test different solutions quickly and cost-effectively.",
            },
            {
              title: "Testing and Iteration",
              desc: "Gathering user feedback on prototypes, refining solutions based on insights, and iterating to improve the final outcome.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to Design Thinking is systematic, user-centric, and collaborative.",
          cards: [
            {
              title: "Understanding Your Users",
              desc: "We start by diving deep into your users’ needs, motivations, and pain points through empathetic research and analysis.",
            },
            {
              title: "Collaborative Ideation",
              desc: "Our team facilitates brainstorming sessions to generate innovative ideas and solutions, leveraging diverse perspectives and expertise.",
            },
            {
              title: "Rapid Prototyping and Testing",
              desc: "We create and test prototypes, gathering user feedback to refine and optimize solutions, ensuring they effectively address user needs.",
            },
            {
              title: "In today’s fast-paced and competitive market",
              desc: " Innovation is key to staying ahead. By leveraging iWINGS’ Design Thinking services.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
