<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Establishing a Cohesive and Authentic Online Presence",
        p: "At iWINGS, we believe that a strong Digital Identity is fundamental to building trust and recognition in the digital landscape. Our mission is to help you establish a cohesive and authentic online presence that truly represents your brand’s values and resonates with your audience.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "A well-defined Digital Identity is crucial for differentiating your brand and creating a lasting impression. Here’s why our Digital Identity service is essential for your business.",
          cards: [
            "A consistent digital identity builds trust and makes your brand easily recognizable across all online platforms.",
            "Your digital identity should authentically represent your brand’s values, creating a deeper connection with your audience.",
            "A strong digital identity attracts and retains users, encouraging them to engage with your content and become loyal customers.",
          ],
        },
        WHAT: {
          desc: "Our Digital Identity service includes a comprehensive suite of strategies and tactics designed to establish and enhance your brand’s online presence.",
          cards: [
            {
              title: "Brand Audit and Analysis",
              desc: "Conducting a thorough audit of your current digital presence to identify strengths, weaknesses, and opportunities for improvement.",
            },
            {
              title: "Brand Strategy Development",
              desc: "Crafting a clear and cohesive brand strategy that defines your brand’s voice, values, and visual identity.",
            },
            {
              title: "Visual Identity Design",
              desc: "Designing consistent visual elements, including logos, color schemes, typography, and imagery that reflect your brand’s personality.",
            },
            {
              title: "Content Strategy and Creation",
              desc: "Developing a content strategy that aligns with your brand’s identity and creating compelling content that engages your audience.",
            },
            {
              title: "Social Media Branding",
              desc: "Ensuring your brand’s identity is consistently represented across all social media platforms to build a unified online presence.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to Digital Identity is strategic, creative, and aligned with your brand’s core values.",
          cards: [
            {
              title: "Understanding Your Brand",
              desc: "We start by diving deep into your brand’s values, goals, and target audience to ensure our strategy aligns with your identity and resonates with your audience.",
            },
            {
              title: "Creating a Cohesive Identity",
              desc: "Our team of designers and strategists work together to develop a consistent and authentic digital identity that reflects your brand’s personality.",
            },
            {
              title: "Implementing and Monitoring",
              desc: "We implement the digital identity across all online platforms and continuously monitor its effectiveness, making adjustments as needed to maintain consistency and engagement.",
            },
            {
              title: "In today’s digital age",
              desc: "a strong and cohesive digital identity is essential for standing out and building lasting relationships with your audience.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
