<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Crafting Visual Narratives that Engage and Inspire",
        p: "At iWINGS, we believe that exceptional Digital Design is more than just aesthetics—it’s about creating visual narratives that captivate your audience and communicate your brand’s story effectively. Our mission is to transform your digital presence with designs that resonate and inspire action.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "Digital Design is essential for making a strong impression and engaging your audience online. Here’s why our Digital Design service is crucial for your business.",
          cards: [
            "Eye-catching designs attract attention and keep your audience engaged, making your brand memorable.",
            "Cohesive and consistent design elements across all digital platforms reinforce your brand identity and create a professional image.",
            "Well-designed digital interfaces improve usability, making it easier for users to navigate and interact with your content.",
          ],
        },
        WHAT: {
          desc: "Our Digital Design service includes a comprehensive suite of strategies and tactics designed to enhance your brand’s visual presence online.",
          cards: [
            {
              title: "Website Design",
              desc: "Crafting visually stunning and user-friendly websites that reflect your brand’s identity and engage your audience.",
            },
            {
              title: "Graphic Design",
              desc: "Creating compelling graphics for social media, marketing materials, and digital platforms that capture attention and communicate your message.",
            },
            {
              title: "UI/UX Design",
              desc: "Designing intuitive and engaging user interfaces that enhance the user experience and drive conversions.",
            },
            {
              title: "Motion Graphics and Animation",
              desc: "Developing dynamic motion graphics and animations that bring your brand to life and enhance storytelling.",
            },
            {
              title: "Interactive Design",
              desc: "Creating interactive elements that engage users and encourage them to explore your digital content further.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to Digital Design is creative, strategic, and user-centric.",
          cards: [
            {
              title: "Understanding Your Brand",
              desc: "We start by diving deep into your brand’s values, goals, and target audience to ensure our designs align with your identity and resonate with your audience.",
            },
            {
              title: "Designing the Visuals",
              desc: "Our team of designers creates visually compelling and cohesive designs that enhance your digital presence and engage your audience.",
            },
            {
              title: "Implementing and Testing",
              desc: "We implement the designs across your digital platforms and conduct usability tests to ensure an optimal user experience.",
            },
            {
              title: "In today’s digital world",
              desc: "Strong visual design is key to capturing attention and engaging your audience. By leveraging iWINGS’ Digital Design services.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
