<template>
  <ServiceMainHeroservice1 :dataProps="dataProps"></ServiceMainHeroservice1>
  <ServiceMainSubservice1 :content="content"></ServiceMainSubservice1>
</template>

<script>
import { defineAsyncComponent } from "vue";
export default {
  components: {
    ServiceMainHeroservice1: defineAsyncComponent(() =>
      import("@/components/service/main/heroservice.vue")
    ),
    ServiceMainSubservice1: defineAsyncComponent(() =>
      import("@/components/service/main/subservice.vue")
    ),
  },
  data() {
    return {
      dataProps: {
        title: "Creating Digital Experiences That Captivate and Convert",
        p: "At iWINGS, we believe in the power of design to transform user experiences and drive business success. Our services are tailored to meet the digital era's demands, focusing on creating engaging, user-centered designs that enhance usability and foster brand identity. ",
        p2: "Our approach ensures that your digital assets not only capture attention but also drive engagement and conversion, solidifying your brand's presence in the digital world.",
        image: "/images/services/pages/hero-image.png",
      },
      content: [
        {
          title: "UX/UI Design",
          p: "Crafting intuitive, user-friendly interfaces that heighten enjoyment and accessibility, enhancing overall user satisfaction.",
          link: "/services/design/ux-ui-design",
        },
        {
          title: "Design Thinking",
          p: "Adopting a human-focused approach to unravel complex challenges and foster groundbreaking innovations.",
          link: "/services/design/design-thinking",
        },
        {
          title: "Journey & Service Design",
          p: "Charting and refining every phase of the user experience to ensure smooth and effective service interactions.",
          link: "/services/design/journey-service-design",
        },
        {
          title: "Digital Design",
          p: "Producing visually compelling digital assets that clearly express your brand's core values and ethos.",
          link: "/services/design/digital-design",
        },
        {
          title: "Digital Identity",
          p: "Building a strong, consistent digital persona that connects meaningfully with your intended audience.",
          link: "/services/design/digital-identity",
        },
      ],
    };
  },
};
</script>
