<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Crafting Seamless and Memorable User Experiences",
        p: "At iWINGS, we believe that Journey & Service Design is about understanding and enhancing every interaction a customer has with your brand. Our mission is to create seamless, efficient, and delightful experiences that resonate with your users and align with your business goals.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "Journey & Service Design is critical for creating cohesive and satisfying user experiences. Here’s why our Journey & Service Design service is essential for your business.",
          cards: [
            "By mapping and optimizing the entire customer journey, we ensure every touchpoint is smooth and enjoyable.",
            "Streamlined processes and well-designed services reduce friction and enhance operational efficiency.",
            "Memorable and positive experiences foster loyalty and encourage repeat business.",
          ],
        },
        WHAT: {
          desc: "Our Journey & Service Design service includes a comprehensive approach to understanding and improving every aspect of your customer interactions.",
          cards: [
            {
              title: "Customer Journey Mapping",
              desc: "Visualizing the entire customer journey from initial contact to post-purchase to identify pain points and opportunities for improvement.",
            },
            {
              title: "Service Blueprinting",
              desc: "Creating detailed service blueprints that outline the processes, people, and technology involved in delivering exceptional service.",
            },
            {
              title: "Experience Design",
              desc: "Designing touchpoints and interactions that are intuitive, engaging, and aligned with your brand values.",
            },
            {
              title: "Process Optimization",
              desc: "Streamlining service processes to reduce inefficiencies and enhance the overall customer experience.",
            },
            {
              title: "Implementation and Training",
              desc: "Ensuring that new service designs are effectively implemented and that your team is trained to deliver consistent, high-quality experiences.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to Journey & Service Design is user-centric, strategic, and collaborative.",
          cards: [
            {
              title: "Understanding Your Customers",
              desc: "We start by diving deep into your customers’ needs, behaviors, and pain points through thorough research and journey mapping.",
            },
            {
              title: "Designing the Experience",
              desc: "Our team creates service blueprints and designs touchpoints that ensure a cohesive and delightful customer experience.",
            },
            {
              title: "Optimizing and Implementing",
              desc: "We streamline processes and implement new designs, providing training to your team to maintain high service standards.",
            },
            {
              title: "In today’s competitive market",
              desc: "Providing a seamless and memorable customer journey is key to building lasting relationships.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
