<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Creating Intuitive and Engaging User Experiences",
        p: "At iWINGS, we believe that exceptional UX/UI design is about more than aesthetics - it's about creating intuitive and engaging experiences that delight users and keep them coming back. Our mission is to craft user-centric designs that reflect your brand's values and provide seamless interactions.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "UX/UI Design is critical for ensuring that users have a positive and memorable experience with your brand. Here’s why our UX/UI Design service is essential for your business.",
          cards: [
            "A well-designed user experience increases satisfaction, making users more likely to return and engage with your brand.",
            "Intuitive design and smooth navigation guide users towards desired actions, improving conversion rates and achieving your business goals.",
            "Consistent and visually appealing design elements reinforce your brand identity, creating a cohesive and memorable impression.",
          ],
        },
        WHAT: {
          desc: "Our UX/UI Design service includes a comprehensive suite of strategies and tactics designed to create engaging and user-friendly digital experiences.",
          cards: [
            {
              title: "User Research & Analysis",
              desc: "Understanding your users' needs, preferences, and pain points through detailed research and analysis to inform the design process.",
            },
            {
              title: "Wireframing & Prototyping",
              desc: "Creating wireframes and prototypes to visualize and test the user flow and interactions before final design implementation.",
            },
            {
              title: "Visual Design & Branding",
              desc: "Crafting visually appealing and brand-aligned designs that enhance the user experience and reinforce your brand identity.",
            },
            {
              title: "Interaction Design",
              desc: "Designing intuitive and engaging interactions that guide users seamlessly through your digital platform.",
            },
            {
              title: "Usability Testing & Feedback",
              desc: "Conducting usability tests and gathering user feedback to refine and optimize the design for the best possible user experience.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to UX/UI Design is user-centric, data-driven, and iterative.",
          cards: [
            {
              title: "Understanding Your Users",
              desc: "We start by diving deep into your target audience’s needs, behaviors, and preferences through thorough research and analysis.",
            },
            {
              title: "Designing the Experience",
              desc: "Our team of designers creates wireframes, prototypes, and final visual designs that ensure an intuitive and engaging user experience.",
            },
            {
              title: "Testing and Refining",
              desc: "We conduct usability tests and gather feedback to identify areas for improvement, continuously refining the design to meet user needs.",
            },
            {
              title: "In today’s competitive digital landscape",
              desc: "An exceptional user experience is key to building strong customer relationships and achieving business success.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
