<template>
  <div class="m-t-50">
    <img
      src="/images/about/about-left-top-light.svg"
      alt="light"
      width="100%"
      height="100%"
      class="about-left-top-light"
    />
    <img
      src="/images/about/about-right-bottom-light.svg"
      alt="light"
      width="100%"
      height="100%"
      class="about-right-bottom-light m-hide"
    />
    <div class="container">
      <div class="row content-align-center p-15">
        <div class="col-6">
          <div class="heading-div">
            <h1 class="heading-1">
              <span class="text-1">Our Services</span>
              <span class="text-2">We Do Marketing Through Technology</span>
            </h1>
            <p class="heading-div-p">
              We transform businesses and provide innovative digital solutions through a
              design-led, user-centric process that is back by data. Through our LADR
              Framework, we have helped businesses deliver successful human-centered
              design solutions. We will provide you with solutions that are evidence-based
              with a unique value proposition and ensure you stay ahead of the
              competition.
            </p>
            <div class="fit-content">
              <NuxtLink to="/contact-us">
                <ButtonsPrimary
                  :btn="{ label: 'Get in touch', icon: '' }"
                ></ButtonsPrimary>
              </NuxtLink>
            </div>
          </div>
        </div>
        <div class="col-6 position-relative"></div>
      </div>
    </div>
    <div class="stars-left m-width"></div>
    <div class="stars-right m-width"></div>
  </div>
</template>

<script>
export default {
  mounted() {
    window.addEventListener(
      "scroll",
      () => {
        document.body.style.setProperty(
          "--scroll",
          window.pageYOffset / (document.body.offsetHeight - window.innerHeight)
        );
      },
      false
    );
  },
};
</script>

<style scoped>
.heading-1 .text-1 {
  margin-bottom: 26.8px;
}
@media (max-width: 991px) {
  /* .heading-1 .text-1 {
    margin-bottom: 
  } */
  .heading-1 {
    font-size: 2.5em !important;
  }
  .heading-div-p {
    font-family: Raleway;
    font-size: 16px !important;

    line-height: 150% !important; /* 24px */
    background: linear-gradient(
      137deg,
      #fff -18.54%,
      rgba(255, 255, 255, 0) 149.75%
    ) !important;
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    backdrop-filter: blur(2px) !important;
  }
  .about-left-top-light {
    background-image: unset !important;
    background: linear-gradient(
      148deg,
      rgba(85, 192, 249, 0.34) 0%,
      rgba(255, 255, 255, 0) 73%
    );
    height: 100% !important;
    width: 100% !important;
  }
}

.heading-div-p {
  font-variant-numeric: lining-nums proportional-nums;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  /* text-transform: capitalize; */
  background: linear-gradient(137deg, #fff -18.54%, rgba(255, 255, 255, 0) 149.75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backdrop-filter: blur(2px);
}

.about-left-top-light {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: auto;
  object-fit: cover;
}
.about-right-bottom-light {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: auto;
  object-fit: cover;
}
.heading-1 {
  font-size: 3.4em;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 150%; /* 138px */
}
.heading-1 .text-1,
.heading-1 .text-2 {
  display: block;
}
.heading-1 .text-1 {
  background: linear-gradient(126deg, #fff -6.54%, rgba(255, 255, 255, 0) 152.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backdrop-filter: blur(2px);
}
.heading-1 .text-2 {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 38.4px */
}
.stars-left {
  height: 60%;
  background-image: url("/images/Stars-left.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 60%;
  background-position: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
  animation-name: stars;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
}
.stars-right {
  height: 60%;
  background-image: url("/images/Stars-right.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 60%;
  background-position: 0;
  position: absolute;
  bottom: -20%;
  right: 0;
  z-index: -2;
  animation-name: stars;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}
.div-hero-right,
.div-hero-left {
  /* animation: scroll-img 1s ease forwards; */
  /* animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both; */
}
</style>
<style>
@keyframes scroll-img {
  0% {
    /* transform: scale(100%);
    background: red; */
    opacity: 0.5;
  }

  100% {
    /* transform: scale(150%); */
    opacity: 1;
    /* background: red; */
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.fit-content {
  width: fit-content;
}
</style>
