<template>
  <div class="container m-t-150">
    <div class="row content-align-center justify-center p-15">
      <div class="col-7 self-center">
        <img
          class="image-sc"
          alt="bg"
          width="100%"
          height="auto"
          src="/images/services/serv-bg-1.svg"
        />
        <div class="div-hero-left row content-align-center">
          <div class="hero-icon-left">
            <img class="hero-img-icon" src="/images/services/hero-icon-left.svg" />
          </div>
          <div class="hero-num">150</div>
          <div class="hero-text">Clients</div>
        </div>

        <div class="div-hero-right row content-align-center">
          <div class="hero-icon-right">
            <img class="hero-img-icon" src="/images/about/hero-icon-right.svg" />
          </div>
          <div class="hero-num">160</div>
          <div class="hero-text">
            Websites & projects <br />
            launched
          </div>
        </div>
        <div class="div-hero-left-bottom row content-align-center">
          <div class="hero-icon-left">
            <img class="hero-img-icon" src="/images/about/hero-icon-left.svg" />
          </div>
          <div class="hero-num">8+</div>
          <div class="hero-text">Years in business</div>
        </div>
        <div class="div-hero-right-bottom row content-align-center">
          <div class="hero-icon-right">
            <img class="hero-img-icon" src="/images/services/hero-icon-right.svg" />
          </div>
          <div class="hero-num">18</div>
          <div class="hero-text">Team Members</div>
        </div>
        <div class="hero-service-p text-center position-relative">
          <img
            class="bg-ser-hero"
            src="/images/services/bg-hero.svg"
            width="auto"
            height="auto"
          />
          <span>
            Our topmost priority is to ensure the maximum <br />satisfaction of our
            awesome clients and we build<br />
            relations that are not merely formal.
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.bg-ser-hero {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 130%;
  transform: translate(-50%, -50%);
}
.hero-service-p {
  margin-top: -250px;
  margin-bottom: 250px;
  text-align: center;
  /* Font - Desktop/Headline 5 */
  background: linear-gradient(126deg, #fff -6.54%, rgba(255, 255, 255, 0) 152.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backdrop-filter: blur(2px);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 57px */
}
.div-hero-left {
  position: absolute;
  top: 15%;
  left: 20%;
  border-radius: 7.698px;
  border: 0.641px solid rgba(255, 255, 255, 0.22);
  background: radial-gradient(
      84.92% 150% at 50% 138.75%,
      rgba(13, 71, 245, 0.24) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(51, 51, 51, 0.37);
  backdrop-filter: blur(5.773254871368408px);
  padding: 10px 20px;
}
.div-hero-right {
  position: absolute;
  top: 15%;
  right: 20%;
  border-radius: 7.698px;
  border: 0.641px solid rgba(255, 255, 255, 0.22);
  background: radial-gradient(
      84.92% 150% at 50% 138.75%,
      rgba(13, 71, 245, 0.24) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(51, 51, 51, 0.37);
  backdrop-filter: blur(5.773254871368408px);
  padding: 10px 20px;
}
.div-hero-left-bottom {
  position: absolute;
  top: 35%;
  left: 13%;
  border-radius: 7.698px;
  border: 0.641px solid rgba(255, 255, 255, 0.22);
  background: radial-gradient(
      84.92% 150% at 50% 138.75%,
      rgba(13, 71, 245, 0.24) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(51, 51, 51, 0.37);
  backdrop-filter: blur(5.773254871368408px);
  padding: 10px 20px;
}
.div-hero-right-bottom {
  position: absolute;
  top: 35%;
  right: 13%;
  border-radius: 7.698px;
  border: 0.641px solid rgba(255, 255, 255, 0.22);
  background: radial-gradient(
      84.92% 150% at 50% 138.75%,
      rgba(13, 71, 245, 0.24) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(51, 51, 51, 0.37);
  backdrop-filter: blur(5.773254871368408px);
  padding: 10px 20px;
}
.hero-text {
  color: #fff;
  font-size: 11.547px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 18.474px */
  text-transform: capitalize;
}
.hero-num {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;

  font-size: 30.791px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  padding: 0 10px;
}
@media (max-width: 991px) {
  .div-hero-right-bottom,
  .div-hero-right,
  .div-hero-left-bottom,
  .div-hero-left {
    position: static;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .hero-text {
    font-size: 18px;
  }
  .hero-service-p span {
    display: none;
  }
  .hero-service-p {
    margin: 0 auto;
    top: 0px;
  }
  .bg-ser-hero {
    position: absolute;
    top: 23%;
    left: 50%;
    width: 200%;
    transform: translate(-50%, -100%);
  }
  .col-7 {
    width: 100%;
    /* padding: 10px; */
  }
  .m-t-150 {
    /* margin-top: 50px; */
  }
  .image-sc {
    transform: scale(1.8);
    height: 325px;
    object-fit: cover;
    object-position: top;
  }
}
</style>
