<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Elevating Your Visual Content with Immersive 3D Production",
        p: "At iWINGS, we believe that 3D production can transform your visual content, making it more immersive and captivating. Our mission is to create high-quality 3D visuals that bring your ideas to life, engage your audience, and enhance your brand’s presence.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "3D production is essential for creating realistic and engaging content that stands out in the digital landscape. Here’s why our 3D Production service is crucial for your business:",
          cards: [
            "Immersive Experience: 3D visuals provide a more engaging and interactive experience, capturing your audience’s attention.",
            "Enhanced Realism: High-quality 3D production creates realistic representations of products, concepts, and environments.",
            "Versatile Application: 3D visuals can be used across various platforms and industries, from marketing and advertising to product design and virtual tours.",
          ],
        },
        WHAT: {
          desc: "Our 3D Production service includes a comprehensive suite of strategies and tactics designed to create stunning and immersive 3D content:",
          cards: [
            {
              title: "Concept Development",
              desc: "Collaborating with you to develop creative concepts that align with your brand’s vision and goals.",
            },
            {
              title: "Storyboarding and Planning",
              desc: "Creating detailed storyboards and planning the visual flow and narrative of your 3D content.",
            },
            {
              title: "3D Modeling",
              desc: "Crafting detailed and realistic 3D models of products, characters, and environments.",
            },
            {
              title: "Texturing and Lighting",
              desc: "Applying textures and lighting to enhance the realism and visual appeal of your 3D models.",
            },
            {
              title: "Animation and Rendering",
              desc: "Animating and rendering 3D models to create dynamic and engaging visuals.",
            },
            {
              title: "Post-Production and Editing",
              desc: "Refining and polishing the final product to ensure high-quality output.",
            },
            {
              title: "3D Content Marketing Strategy",
              desc: "Developing a strategic plan for distributing and promoting your 3D content to maximize reach and impact.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to 3D Production is innovative, meticulous, and tailored to your brand’s unique needs:",
          cards: [
            {
              title: "Understanding Your Brand",
              desc: "We start by diving deep into your brand’s identity, target audience, and marketing goals to develop a 3D production strategy that aligns with your vision.",
            },
            {
              title: "Creative Planning",
              desc: "Our team collaborates with you to brainstorm and storyboard innovative concepts that effectively communicate your brand’s message.",
            },
            {
              title: "Professional Production",
              desc: "We handle all aspects of production, from 3D modeling to animation, ensuring high-quality results that captivate your audience.",
            },
            {
              title: "Strategic Distribution",
              desc: "We create a distribution plan to strategically share your 3D content across the most effective channels, maximizing visibility and engagement.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
