<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Bringing Your Ideas to Life with Vibrant Animations",
        p: "At iWINGS, we believe that animation can transform complex ideas into engaging and easily understandable content. Our mission is to create vibrant animations that capture attention, tell your brand’s story, and leave a lasting impression on your audience.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "Animation is a powerful tool for communicating your brand’s message in a visually engaging way. Here’s why our Animation service is crucial for your business:",
          cards: [
            "Visual Appeal: Animations attract attention and make your content stand out in a crowded digital landscape.",
            "Simplified Communication: Complex ideas and messages can be simplified and made more accessible through engaging animations.",
            "Enhanced Engagement: Animated content keeps viewers engaged longer, increasing the likelihood of message retention and action.",
          ],
        },
        WHAT: {
          desc: "Our Animation service includes a comprehensive suite of strategies and tactics designed to create captivating and impactful animations:",
          cards: [
            {
              title: "Concept Development",
              desc: "Collaborating with you to develop creative concepts that align with your brand’s vision and goals.",
            },
            {
              title: "Storyboarding",
              desc: "Creating detailed storyboards to plan the visual flow and narrative of your animations.",
            },
            {
              title: "Character and Scene Design",
              desc: "Designing unique characters and scenes that reflect your brand’s identity and resonate with your audience.",
            },
            {
              title: "Animation Production",
              desc: "Using advanced animation techniques to bring your concepts to life with smooth and dynamic animations.",
            },
            {
              title: "Post-Production and Editing",
              desc: "Enhancing animations with sound effects, music, and voiceovers to create a polished final product.",
            },
            {
              title: "Animation Marketing Strategy",
              desc: "Developing a strategic plan for distributing and promoting your animations to maximize reach and impact.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to Animation is creative, strategic, and tailored to your brand’s unique needs:",
          cards: [
            {
              title: "Understanding Your Brand",
              desc: "We start by diving deep into your brand’s identity, target audience, and marketing goals to develop an animation strategy that aligns with your vision.",
            },
            {
              title: "Creative Planning",
              desc: "Our team collaborates with you to brainstorm and storyboard innovative concepts that effectively communicate your brand’s message.",
            },
            {
              title: "Professional Production",
              desc: "We handle all aspects of production, from character design to animation, ensuring high-quality results that captivate your audience.",
            },
            {
              title: "Strategic Distribution",
              desc: "We create a distribution plan to strategically share your animations across the most effective channels, maximizing visibility and engagement.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
