<template>
  <ServiceMainHeroservice1 :dataProps="dataProps"></ServiceMainHeroservice1>
  <ServiceMainSubservice1 :content="content"></ServiceMainSubservice1>
</template>

<script>
import { defineAsyncComponent } from "vue";
export default {
  components: {
    ServiceMainHeroservice1: defineAsyncComponent(() =>
      import("@/components/service/main/heroservice.vue")
    ),
    ServiceMainSubservice1: defineAsyncComponent(() =>
      import("@/components/service/main/subservice.vue")
    ),
  },
  data() {
    return {
      dataProps: {
        title: "Capturing Imagination, Creating Stories",
        p: "At iWINGS, we believe that every brand has a story that deserves to be told in a way that truly resonates. We bring your vision to life through compelling video and media content that captures the imagination and connects deeply with your audience. ",
        p2: "Our mission is to help you communicate your values and beliefs through powerful visuals that leave a lasting impression.",
        image: "/images/services/pages/hero-image.png",
      },
      content: [
        {
          title: "Videography",
          p: "Crafting high-quality videos that tell your brand's unique story, capturing its essence and evolution.",
          link: "/services/video-media/videography",
        },
        {
          title: "Animation",
          p: "Bringing your ideas to life with vibrant animations that engage viewers and spark their imagination.",
          link: "/services/video-media/animation",
        },
        {
          title: "Motion Graphics",
          p: "Enhancing your message with energetic, visually appealing motion graphics that enhance viewer engagement.",
          link: "/services/video-media/motion-graphics",
        },
        {
          title: "3D Production",
          p: "Creating engaging 3D visuals that elevate your digital presence and draw audiences into your brand’s world.",
          link: "/services/video-media/3d-production",
        },
        {
          title: "Photography",
          p: "Capturing authentic moments and the true spirit of your brand through skilled, artistic photography.",
          link: "/services/video-media/photography",
        },
      ],
    };
  },
};
</script>
