<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Enhancing Your Message with Dynamic Motion Graphics",
        p: "At iWINGS, we believe that motion graphics can elevate your visual storytelling, making your brand’s message more compelling and engaging. Our mission is to create dynamic motion graphics that capture attention, communicate effectively, and leave a lasting impression on your audience.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "Motion graphics are essential for adding visual dynamism to your content and making complex information more accessible. Here’s why our Motion Graphics service is crucial for your business:",
          cards: [
            "Increased Engagement: Dynamic visuals capture attention and keep your audience engaged longer.",
            "Simplified Communication: Motion graphics make complex ideas and data more understandable and visually appealing.",
            "Brand Differentiation: Unique and creative motion graphics set your brand apart in a crowded digital landscape.",
          ],
        },
        WHAT: {
          desc: "Our Motion Graphics service includes a comprehensive suite of strategies and tactics designed to create impactful and engaging visual content:",
          cards: [
            {
              title: "Concept Development",
              desc: "Collaborating with you to develop creative concepts that align with your brand’s vision and goals.",
            },
            {
              title: "Storyboarding",
              desc: "Creating detailed storyboards to plan the visual flow and narrative of your motion graphics.",
            },
            {
              title: "Design and Animation",
              desc: "Crafting visually stunning graphics and animating them to create smooth, dynamic sequences.",
            },
            {
              title: "Sound Design",
              desc: "Enhancing motion graphics with carefully chosen sound effects, music, and voiceovers to create a cohesive and immersive experience.",
            },
            {
              title: "Post-Production and Editing",
              desc: "Refining and polishing the final product to ensure high-quality output.",
            },
            {
              title: "Motion Graphics Marketing Strategy",
              desc: "Developing a strategic plan for distributing and promoting your motion graphics to maximize reach and impact.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to Motion Graphics is innovative, strategic, and tailored to your brand’s unique needs:",
          cards: [
            {
              title: "Understanding Your Brand",
              desc: "We start by diving deep into your brand’s identity, target audience, and marketing goals to develop a motion graphics strategy that aligns with your vision.",
            },
            {
              title: "Creative Planning",
              desc: "Our team collaborates with you to brainstorm and storyboard innovative concepts that effectively communicate your brand’s message.",
            },
            {
              title: "Professional Production",
              desc: "We handle all aspects of production, from design to animation, ensuring high-quality results that captivate your audience.",
            },
            {
              title: "Strategic Distribution",
              desc: "We create a distribution plan to strategically share your motion graphics across the most effective channels, maximizing visibility and engagement.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
