<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Capturing the Essence of Your Brand with Stunning Photography",
        p: "At iWINGS, we believe that exceptional photography is vital for showcasing your brand’s unique personality and values. Our mission is to capture high-quality images that tell your brand’s story, engage your audience, and leave a lasting impression.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "Professional photography is essential for creating visually appealing content that resonates with your audience. Here’s why our Photography service is crucial for your business:",
          cards: [
            "Authentic Representation: High-quality images authentically represent your brand, building trust and credibility with your audience.",
            "Enhanced Engagement: Stunning visuals capture attention and keep your audience engaged across various platforms.",
            "Versatile Use: Professional photography can be used in marketing materials, websites, social media, and more, enhancing your overall content strategy.",
          ],
        },
        WHAT: {
          desc: "Our Photography service includes a comprehensive suite of strategies and tactics designed to create captivating and impactful images:",
          cards: [
            {
              title: "Concept Development",
              desc: "Collaborating with you to develop creative concepts that align with your brand’s vision and goals.",
            },
            {
              title: "Professional Photoshoots",
              desc: "Conducting professional photoshoots with skilled photographers who capture high-quality images that reflect your brand’s essence.",
            },
            {
              title: "Editing and Retouching",
              desc: "Enhancing images through expert editing and retouching to ensure a polished and professional look.",
            },
            {
              title: "Diverse Photography Styles",
              desc: "Offering various photography styles, including product photography, lifestyle photography, corporate photography, and event photography, to meet your specific needs.",
            },
            {
              title: "Visual Storytelling",
              desc: "Creating visual narratives that effectively communicate your brand’s message and engage your audience.",
            },
            {
              title: "Photography Marketing Strategy",
              desc: "Developing a strategic plan for utilizing and promoting your photography across different channels to maximize impact.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to Photography is creative, strategic, and tailored to your brand’s unique needs:",
          cards: [
            {
              title: "Understanding Your Brand",
              desc: "We start by diving deep into your brand’s identity, target audience, and marketing goals to develop a photography strategy that aligns with your vision.",
            },
            {
              title: "Creative Planning",
              desc: "Our team collaborates with you to brainstorm and plan innovative concepts that effectively capture your brand’s story.",
            },
            {
              title: "Professional Execution",
              desc: "We handle all aspects of the photoshoot, from planning to execution, ensuring high-quality results that resonate with your audience.",
            },
            {
              title: "Strategic Utilization",
              desc: "We create a plan to strategically use your photography across the most effective channels, maximizing visibility and engagement.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
