<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Capturing Moments, Creating Stories",
        p: "At iWINGS, we believe that powerful visuals can convey your brand’s story in ways that words alone cannot. Our mission is to produce high-quality videography that captures moments, engages your audience, and leaves a lasting impact.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "Videography is essential for creating engaging content that resonates with your audience and strengthens your brand’s presence. Here’s why our Videography service is crucial for your business:",
          cards: [
            "Emotional Connection: Videos evoke emotions and create a deeper connection with your audience, making your brand more memorable.",
            "Increased Engagement: High-quality videos capture attention and drive engagement across digital platforms.",
            "Versatile Content: Videos can be used across various channels, from social media to websites, enhancing your content strategy.",
          ],
        },
        WHAT: {
          desc: "Our Videography service includes a comprehensive suite of strategies and tactics designed to produce compelling and impactful videos:",
          cards: [
            {
              title: "Concept Development",
              desc: "Working closely with you to develop creative concepts that align with your brand’s vision and goals.",
            },
            {
              title: "Storyboarding",
              desc: "Creating detailed storyboards to plan the visual flow and narrative of your videos.",
            },
            {
              title: "Professional Filming",
              desc: "Utilizing state-of-the-art equipment and techniques to capture high-quality footage that reflects your brand’s essence.",
            },
            {
              title: "Post-Production",
              desc: "Editing and enhancing footage to create polished, engaging videos that captivate your audience.",
            },
            {
              title: "Video Marketing Strategy",
              desc: "Developing a strategic plan for distributing and promoting your videos to maximize reach and impact.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to Videography is creative, strategic, and tailored to your brand’s unique needs:",
          cards: [
            {
              title: "Understanding Your Brand",
              desc: "We start by diving deep into your brand’s identity, target audience, and marketing goals to develop a videography strategy that aligns with your vision.",
            },
            {
              title: "Creative Planning",
              desc: "Our team collaborates with you to brainstorm and storyboard innovative concepts that tell your brand’s story compellingly.",
            },
            {
              title: "Professional Production",
              desc: "We handle all aspects of production, from shooting to editing, ensuring high-quality results that resonate with your audience.",
            },
            {
              title: "Strategic Distribution",
              desc: "We create a distribution plan to strategically share your videos across the most effective channels, maximizing visibility and engagement.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
