<template>
  <div class="card-team-flex scrollimgzoom">
    <div class="card-team" v-for="item in items" :key="item">
      <div class="mask-image"></div>
      <NuxtImg format="webp" :src="item.image"></NuxtImg>
      <div class="card-team-info">
        <span class="text-name">{{ item.name }}</span>
        <span class="text-position">{{ item.position }}</span>
        <span></span>
      </div>
    </div>
  </div>
</template>

<script>
import { gsap } from "gsap";
const ctx = gsap.context(() => {});
export default {
  data() {
    return {
      items: [
        {
          name: "Nejerfan Alkhado",
          position: "Founder - CEO",
          image: "/images/team/Nejerfan_Alkhado.jpg",
        },
        {
          name: "Mohammad Adel",
          position: "General Manager",
          image: "/images/team/Mohammad_Adel.jpg",
        },
        {
          name: "Wadiaa Darwish",
          position: "Account Manager",
          image: "/images/team/Wadiaa_Darwish.jpg",
        },
        {
          name: "Mahmoud Abbas",
          position: "Regional Development Director",
          image: "/images/team/Mahmoud_Abbas.png",
        },
        {
          name: "Zainab Salman",
          position: "Marketing Manager",
          image: "/images/team/Zainab_Salman.jpg",
        },
        {
          name: "Ahmad Ghareeb",
          position: "Marketing Manager",
          image: "/images/team/Ahmad_Ghareeb.jpg",
        },
        {
          name: "Hussein Alsous",
          position: "Web Developer",
          image: "/images/team/Hussein_Alsous.jpg",
        },
        {
          name: "Subhi Hmoden",
          position: "Web Developer",
          image: "/images/team/Subhi_Hmoden.jpg",
        },
        {
          name: "Bassam Alhaj",
          position: "Mobile App Developer",
          image: "/images/team/Bassam_Alhaj.jpg",
        },
        {
          name: "Tarq Ali",
          position: "Project Manager",
          image: "/images/team/Tarq_Ali.jpg",
        },
        {
          name: "Mahmoud Adel",
          position: "Campaign Manager",
          image: "/images/team/Mahmoud_Adel.jpg",
        },
        {
          name: "Ali Mohammad",
          position: "SEO Manager",
          image: "/images/team/Ali_Mohammad.jpg",
        },
        {
          name: "Hazem Omran",
          position: "SEO Specialist",
          image: "/images/team/Hazem_Omran.jpg",
        },
        {
          name: "Ammar Mostafa",
          position: "SEO Specialist",
          image: "/images/team/Ammar_Mostafa.jpg",
        },
        {
          name: "Daiana Moussa",
          position: "Social Media Manager",
          image: "/images/team/Daiana_Moussa.jpg",
        },
        {
          name: "Hager Mostafa",
          position: "Social Media Manager",
          image: "/images/team/Hager_Mostafa.jpg",
        },
        {
          name: "Haya Yaseen",
          position: "Content Strategist",
          image: "/images/team/Haya_Yaseen.jpg",
        },
        {
          name: "Aya Mostafa",
          position: "Video Content Creator",
          image: "/images/team/Aya_Mostafa.jpg",
        },
        // {
        //   name: "Omar Adel",
        //   position: "Graphic Designer",
        //   image: "/images/team/Omar_Adel.jpg",
        // },
      ],
    };
  },
  mounted() {
    ctx.add(() => {
      gsap.to(".scrollimgzoom", {
        scale: 1.1,
        scrollTrigger: {
          trigger: ".scrollimgzoom",
          start: "top 90%",
          end: "top 10%",
          scrub: true,
          toggleClass: "scrollimgzoomin",
          //     markers: {
          //       startColor: "red",
          //       endColor: "red",
          //     },
          //     markers: {
          //       startColor: "red",
          //       endColor: "red",
          //     },
        },
      });
    });
  },
  unmounted() {
    ctx.revert();
  },
};
</script>

<style>
.card-team-flex {
  transform: scale(0.9);
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.card-team {
  width: 23.2%;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
.card-team img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
.card-team .mask-image {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(13, 71, 245, 0) -34.76%,
    rgba(13, 71, 245, 0.6) 145.12%
  );
  height: 100%;
}
.card-team-info {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.44);
  background: radial-gradient(
      77.7% 77.23% at 0% 89.8%,
      rgba(13, 71, 245, 0.4) 0%,
      rgba(13, 71, 245, 0) 100%
    ),
    linear-gradient(
      159deg,
      rgba(163, 163, 163, 0.21) -35.65%,
      rgba(170, 170, 170, 0.02) 137.45%
    );
  backdrop-filter: blur(15px);
  padding: 10px 20px;

  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 50%;
  width: 92%;
  transform: translate(-50%, 0%);
}
.card-team-info .text-name {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 38.4px */
  display: block;
}
.card-team-info .text-position {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
@media (max-width: 991px) {
  .card-team {
    width: 42%;
  }
  .card-team-flex {
    transform: unset !important;
  }
}
@media (max-width: 600px) {
  .card-team {
    width: 100%;
  }
}
</style>
