<template>
  <div class="container m-t-150">
    <div class="row content-align-center justify-center p-15">
      <div class="col-12 self-center text-center position-relative">
        <NuxtImg format="webp" class="team-s2-image-1" src="/images/team/1.png"></NuxtImg>
        <NuxtImg format="webp" class="team-s2-image-2" src="/images/team/2.png"></NuxtImg>
        <NuxtImg format="webp" class="team-s2-image-3" src="/images/team/3.png"></NuxtImg>
        <NuxtImg format="webp" class="team-s2-image-4" src="/images/team/4.png"></NuxtImg>

        <NuxtImg
          format="webp"
          class="image-sc m-auto"
          alt="bg"
          src="/images/team/bg-1.svg"
        />

        <div class="hero-service-p text-center">
          <NuxtImg
            format="webp"
            class="bg-ser-hero"
            src="/images/services/bg-hero.svg"
            width="auto"
            height="auto"
          />
          <span class="text-1"> who we are</span>
          <span>
            Let’s reimagine performance marketing together. Explore open positions below.
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { gsap } from "gsap";
const ctx = gsap.context(() => {});
export default {
  data() {
    return {
      items: [{}],
    };
  },
  mounted() {
    ctx.add(() => {
      gsap.to(".team-s2-image-1", {
        left: "5%",
        scrollTrigger: {
          trigger: ".team-s2-image-1",
          start: "top 90%",
          end: "top 10%",
          scrub: true,
          toggleClass: ".team-s2-image-1",
          //     markers: {
          //       startColor: "red",
          //       endColor: "red",
          //     },
        },
      });

      gsap.to(".team-s2-image-2", {
        right: "5%",
        scrollTrigger: {
          trigger: ".team-s2-image-2",
          start: "top 80%",
          end: "top 10%",
          scrub: true,
          toggleClass: ".team-s2-image-2",
          //     markers: {
          //       startColor: "red",
          //       endColor: "red",
          //     },
        },
      });
      gsap.to(".team-s2-image-3", {
        bottom: "5%",
        left: "5%",
        scrollTrigger: {
          trigger: ".team-s2-image-3",
          start: "top 100%",
          end: "top 5%",
          scrub: true,
          toggleClass: ".team-s2-image-3",
          //     markers: {
          //       startColor: "red",
          //       endColor: "red",
          //     },
        },
      });
      gsap.to(".team-s2-image-4", {
        bottom: "5%",
        right: "5%",
        scrollTrigger: {
          trigger: ".team-s2-image-4",
          start: "top 100%",
          end: "top 5%",
          scrub: true,
          toggleClass: ".team-s2-image-4",
          //     markers: {
          //       startColor: "red",
          //       endColor: "red",
          //     },
        },
      });
      gsap.to(".image-sc", {
        rotate: 180,
        scrollTrigger: {
          trigger: ".image-sc",
          start: "top 100%",
          end: "top 10%",
          scrub: true,
          toggleClass: ".image-sc",
          //     markers: {
          //       startColor: "red",
          //       endColor: "red",
          //     },
        },
      });
    });
  },
  unmounted() {
    ctx.revert();
  },
};
</script>

<style scoped>
.contact-hero-left-light {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}
.contact-hero-left-bottom-light {
  position: absolute;
  left: 0;
  bottom: -800px;
  max-width: 100%;
  height: 135%;
}
.contact-hero-right-light {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
}
.bg-ser-hero {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130%;
  transform: translate(-50%, -50%);
}
.hero-service-p .text-1 {
  background: var(--bg1, linear-gradient(87deg, #0f44ec -4.17%, #55c0f9 73.28%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
  text-transform: capitalize;
  display: block;
}
.hero-service-p {
  /* margin-top: -350px; */
  /* margin-bottom: 250px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  text-align: center;
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 70.5px */
}
.team-s2-image-1 {
  position: absolute;
  top: 15px;
  left: -55%;
  width: 250px;
}
.team-s2-image-2 {
  position: absolute;
  top: 15px;
  right: -55%;
  width: 400px;
}
.team-s2-image-3 {
  position: absolute;
  bottom: -15%;
  left: -15%;
  width: 300px;
}
.team-s2-image-4 {
  position: absolute;
  bottom: -15%;
  right: -15%;
  width: 250px;
}
.image-sc {
  width: 70% !important;
}
@media (max-width: 991px) {
  .hero-service-p span {
    /* display: none; */
  }
  .hero-service-p {
    margin: 0 auto;
    top: -150px;
    font-size: 25px;
    width: 100%;
  }
  .bg-ser-hero {
    position: absolute;
    top: 23%;
    left: 50%;
    width: 200%;
    transform: translate(-50%, -100%);
  }
  .col-7 {
    width: 100%;
    /* padding: 10px; */
  }
  .m-t-150 {
    /* margin-top: 50px; */
  }
  .image-sc {
    top: 00%;
    left: 50%;
    transform: translate(-50%, -70%) scale(2.8) !important;
    height: 325px;
    object-fit: cover;
    object-position: top;
    position: absolute;
  }
  .team-s2-image-1,
  .team-s2-image-2,
  .team-s2-image-3,
  .team-s2-image-4 {
    position: relative;
    margin: 25px 0;
  }
}
</style>
