<script setup lang="ts">
useHead({
  title: "iWINGS Agency - The Marketing Through Technology Agency",
  htmlAttrs: { lang: "en" },
  meta: [
    {
      name: "description",
      content:
        "We specialize in branding, digital marketing, SEO, web development, and tech-driven strategies. We help businesses grow. Visit us now to elevate your brand's online presence.",
    },
    {
      name: "theme-color",
      content: "#030014",
    },
    {
      name: "apple-mobile-web-app-status-bar-style",
      content: "#030014",
    },
    {
      name: "msapplication-navbutton-color",
      content: "#030014",
    },
    {
      property: "og:type",
      content: "website",
    },
    {
      property: "og:url",
      content: "https://iwings.io/",
    },
    {
      property: "og:title",
      content: "iWINGS Agency - The Marketing Through Technology Agency",
    },
    {
      property: "og:description",
      content:
        "We specialize in branding, digital marketing, SEO, web development, and tech-driven strategies. We help businesses grow. Visit us now to elevate your brand's online presence.",
    },
    {
      property: "og:image",
      content: "https://iwings.io/logo.jpg",
    },
    {
      property: "twitter:card",
      content: "summary_large_image",
    },
    {
      property: "twitter:url",
      content: "https://iwings.io/",
    },
    {
      property: "twitter:title",
      content: "iWINGS Agency - The Marketing Through Technology Agency",
    },
    {
      property: "twitter:description",
      content:
        "We specialize in branding, digital marketing, SEO, web development, and tech-driven strategies. We help businesses grow. Visit us now to elevate your brand's online presence.",
    },
    {
      property: "twitter:image",
      content: "https://iwings.io/logo.jpg",
    },
  ],
  // bodyAttrs: {
  //   class: 'test'
  // },
  // script: [ { innerHTML: 'console.log(\'Hello world\')' } ]
});
// You might choose this based on an API call or logged-in status
const layout = "main";
</script>
<template>
  <NuxtLayout :name="layout"> <NuxtPage id="content" /> </NuxtLayout>
</template>
