<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Crafting Stories That Connect and Engage",
        p: "At iWINGS, we believe that compelling content is at the heart of every successful marketing strategy. Our mission is to help you tell your brand's story in a way that resonates with your audience, reflects your values, and drives engagement.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "Content Creation is essential for building your brand’s identity, attracting and retaining customers, and establishing authority. Here’s why our Content Creation service is vital for your business:",
          cards: [
            "High-quality content positions your brand as an industry leader and a trusted source of information.",
            "Engaging content keeps your audience interested and encourages them to return to your brand.",
            "Well-crafted content attracts visitors to your website and guides them through the conversion funnel.",
          ],
        },
        WHAT: {
          desc: "Our Content Creation service includes a comprehensive suite of strategies and tactics designed to produce engaging and impactful content.",
          cards: [
            {
              title: "Content Strategy Development",
              desc: "Crafting a tailored content strategy that aligns with your business goals and resonates with your target audience.",
            },
            {
              title: "Copywriting and Blogging",
              desc: "Creating informative, engaging, and SEO-optimized written content that captivates your audience and improves search engine rankings.",
            },
            {
              title: "Visual Content Creation",
              desc: "Designing eye-catching graphics, infographics, and visuals that complement your brand’s message and attract attention.",
            },
            {
              title: "Video Production",
              desc: "Producing high-quality videos that tell your brand’s story, showcase products, and engage your audience.",
            },
            {
              title: "Social Media Content",
              desc: "Developing content specifically for social media platforms to drive engagement and expand your reach.",
            },
            {
              title: "Content Calendars",
              desc: "Planning and organizing your content to ensure consistent and timely delivery across all channels.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to Content Creation is strategic, creative, and data-driven, ensuring that every piece of content we produce aligns with your business objectives.",
          cards: [
            {
              title: "Understanding Your Business",
              desc: "We start by diving deep into your business goals, target audience, and brand voice to craft a customized content strategy.",
            },
            {
              title: "Creating Compelling Content",
              desc: "Our team of skilled writers, designers, and videographers work together to produce content that captures your brand’s essence and engages your audience.",
            },
            {
              title: "Distributing and Promoting",
              desc: "We distribute your content across the appropriate channels, ensuring it reaches your target audience and drives engagement.",
            },
            {
              title: "Analyzing and Optimizing",
              desc: "We continuously monitor the performance of your content, using analytics to make data-driven adjustments and optimize your strategy for better results.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
