<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title:
          "Engage and Retain Your Audience with Personalized Communication",
        p: "At iWINGS, we understand the incredible potential of Email Marketing to reach and engage your target audience effectively. Our mission is to help you build meaningful connections through personalized email campaigns that reflect your values and drive engagement.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "Email Marketing is a cornerstone of successful digital strategies, offering direct and impactful communication. Here’s why our Email Marketing service is essential for your business:",
          cards: [
            "Reach your customers directly in their inbox with personalized messages, increasing engagement and conversions.",
            "High ROI with low costs. By effectively re-targeting previous customers and re-engaging inactive ones, you can maximize your outreach and retention.",
            "Utilize comprehensive data analysis to gain insights into customer behavior, enabling continuous improvement and optimization of your email campaigns.",
          ],
        },
        WHAT: {
          desc: "Our Email Marketing service includes a comprehensive suite of strategies and tactics designed to maximize your reach and engagement.",
          cards: [
            {
              title: "Audience Identification & Segmentation",
              desc: "We help you define and segment your audience, designing campaigns that engage them with tailored content delivery.",
            },
            {
              title: "Customized Email Design and Engaging Content Creation",
              desc: "Our creative designers craft visually appealing, brand-aligned email templates, while our content team ensures every element of your email speaks to your audience and encourages action.",
            },
            {
              title: "Automation and Scheduling",
              desc: "We strategically automate and schedule your email campaigns for optimal delivery, re-targeting, and early engagement, ensuring maximum impact and timely engagement.",
            },
            {
              title: "Performance Tracking and Analytics",
              desc: "Monitoring campaign performance with advanced analytics to measure success and identify areas for improvement.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to Email Marketing is strategic, data-driven, and creative.",
          cards: [
            {
              title: "Understanding Your Business",
              desc: "We start by diving deep into your business goals, target audience, and brand voice to craft a customized email marketing strategy.",
            },
            {
              title: "Building the Campaign",
              desc: "Our team designs and develops email campaigns with captivating content and eye-catching visuals, incorporating both manually run and automated strategies for maximum flexibility and effectiveness.",
            },
            {
              title: "Distributing and Promoting",
              desc: "We distribute your emails strategically, ensuring they reach your target audience and drive engagement.",
            },
            {
              title: "Monitoring and Optimizing",
              desc: "We continuously monitor the performance of your email campaigns, using analytics to make data-driven adjustments and optimize your strategy for better results.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
