<template>
  <ServiceMainHeroservice1 :dataProps="dataProps"></ServiceMainHeroservice1>
  <ServiceMainSubservice1 :content="content"></ServiceMainSubservice1>
</template>

<script>
import { defineAsyncComponent } from "vue";
export default {
  components: {
    ServiceMainHeroservice1: defineAsyncComponent(() =>
      import("@/components/service/main/heroservice.vue")
    ),
    ServiceMainSubservice1: defineAsyncComponent(() =>
      import("@/components/service/main/subservice.vue")
    ),
  },
  data() {
    return {
      dataProps: {
        title: "Increase Your Brand’s Visibility and Engagement",
        p: "At iWINGS, we believe that effective advertising is about more than just visibility - it's about forging connections and driving meaningful engagement.",
        p2: "We are dedicated to helping you tell your brand’s story in a way that resonates deeply with your audience, turning interest into action and engagement into loyalty. Our mission is to maximize the impact of every dirham you invest, ensuring your brand grows and thrives in today’s competitive landscape.",
        image: "/images/services/pages/hero-image.png",
      },
      content: [
        {
          title: "Search Engine Optimization (SEO)",
          p: "Increasing your online visibility by optimizing your website to rank higher and attract more organic traffic.",
          link: "/services/advertising-promotion/search-engine-optimization",
        },
        {
          title: "Search Engine Marketing (SEM)",
          p: "Increasing your visibility with targeted, paid search campaigns that capture attention and drive traffic to your site effectively.",
          link: "/services/advertising-promotion/search-engine-marketing",
        },
        {
          title: "Social Media Marketing (SMM)",
          p: "Expanding your brand's digital presence across social platforms to connect with and expand your audience effectively.",
          link: "/services/advertising-promotion/social-media-marketing",
        },
        {
          title: "Content Creation",
          p: "Creating engaging, impactful content that engages your audience interest and strengthens their connection with your brand.",
          link: "/services/advertising-promotion/content-creation",
        },
        {
          title: "E-mail Marketing",
          p: "Sending personalized, persuasive emails that motivate your audience to act, and build stronger relationships with your customers.",
          link: "/services/advertising-promotion/e-mail-marketing",
        },
        {
          title: "Lead Generation Agency Services",
          p: "Employing strategic methods to generate high-quality leads that are more likely to convert, fueling your business growth.",
          link: "/services/advertising-promotion/lead-generation-agency-services",
        },
      ],
    };
  },
};
</script>
