<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Transforming Interest into Opportunity",
        p: "At iWINGS, we believe that effective lead generation is the cornerstone of business growth. Our mission is to help you attract, engage, and convert high-quality leads, turning interest into valuable business opportunities that drive your success.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "Lead Generation is critical for sustaining business growth and building a robust sales pipeline. Here’s why our Lead Generation service is essential for your business:",
          cards: [
            "Reach potential customers who are genuinely interested in your products or services, increasing the likelihood of conversion.",
            "Streamline your sales process by focusing on high-quality leads, improving efficiency and closing rates.",
            "Consistently generate new leads to maintain a healthy sales pipeline and ensure long-term business growth.",
          ],
        },
        WHAT: {
          desc: "Our Lead Generation service includes a comprehensive suite of strategies and tactics designed to attract and convert high-quality leads.",
          cards: [
            {
              title: "Lead Generation Strategy Development",
              desc: "Crafting a tailored lead generation strategy that aligns with your business goals and targets the right audience.",
            },
            {
              title: "Inbound Marketing",
              desc: "Utilizing content marketing, SEO, and social media to attract potential customers and capture their interest.",
            },
            {
              title: "Outbound Marketing",
              desc: "Implementing targeted email campaigns, cold calling, and direct mail to reach potential leads proactively.",
            },
            {
              title: "Landing Page Optimization",
              desc: "Designing and optimizing landing pages to capture leads effectively, ensuring a seamless user experience and higher conversion rates.",
            },
            {
              title: "Lead Nurturing",
              desc: "Developing automated email workflows and personalized follow-ups to nurture leads through the sales funnel.",
            },
            {
              title: "Analytics and Reporting",
              desc: "Monitoring lead generation efforts and providing detailed reports to track performance and optimize strategies.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to Lead Generation is strategic, data-driven, and tailored to your business needs.",
          cards: [
            {
              title: "Understanding Your Business",
              desc: "We start by diving deep into your business goals, target audience, and unique value proposition to craft a customized lead generation strategy.",
            },
            {
              title: "Implementing the Strategy",
              desc: "Our team of experts executes the lead generation plan, utilizing both inbound and outbound marketing techniques to attract and engage potential leads.",
            },
            {
              title: "Nurturing and Converting",
              desc: "We nurture leads through personalized follow-ups and automated workflows, guiding them through the sales funnel and increasing conversion rates.",
            },
            {
              title: "Monitoring and Optimizing",
              desc: "We continuously monitor lead generation efforts, using analytics to make data-driven adjustments and optimize strategies for better results.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
