<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Elevate Your Visibility, Drive Organic Growth",
        p: "At iWINGS, we understand that achieving top search engine rankings is not just about algorithms; it's about creating meaningful, engaging content that resonates with your audience. Our mission is to help your brand rise above the competition by optimizing your online presence in a way that truly connects with those who share your values.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "SEO is a critical component of your digital strategy, and it’s essential for establishing a strong online presence. Here’s why our SEO service is vital for your business:",
          cards: [
            "Ranking high on search engines increases your brand’s credibility and trustworthiness in the eyes of your audience.",
            "SEO isn’t just about search engines; it’s about creating a seamless and enjoyable experience for your users.",
            "By optimizing for relevant keywords, we ensure that your website attracts visitors who are genuinely interested in your offerings.",
          ],
        },
        WHAT: {
          desc: "Our SEO service includes a comprehensive suite of tactics designed to boost your search engine rankings and drive organic traffic to your site.",
          cards: [
            {
              title: "Keyword Research & Strategy",
              desc: "Identifying the most relevant and high-traffic keywords to target, tailored to your business goals and audience.",
            },
            {
              title: "On-Page Optimization",
              desc: "Enhancing your website’s content, meta tags, and structure to make it more attractive to search engines.",
            },
            {
              title: "Content Creation & Optimization",
              desc: "Crafting high-quality, engaging content that incorporates targeted keywords naturally and resonates with your audience.",
            },
            {
              title: "Technical SEO",
              desc: "Ensuring your website’s backend is optimized for speed, mobile-friendliness, and search engine crawlability.",
            },
            {
              title: "Link Building",
              desc: "Building a robust backlink profile from reputable sources to increase your site’s authority and ranking potential.",
            },
            {
              title: "Off-Page SEO",
              desc: "Enhancing your online presence beyond your website through social media engagement, influencer outreach, and brand mentions, to build authority and trust.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to SEO is systematic and data-driven, ensuring that every action we take is aligned with your business objectives.",
          cards: [
            {
              title: "Understanding Your Business",
              desc: "We begin by diving deep into your business goals, target audience, and competitive landscape to tailor our SEO strategy to your needs.",
            },
            {
              title: "Implementing the Strategy",
              desc: "Our team of experts executes the SEO plan, focusing on both on-page and off-page factors to improve your search engine rankings.",
            },
            {
              title: "Monitoring and Adjusting",
              desc: "We continuously monitor your website’s performance and make data-driven adjustments to optimize results and adapt to changing algorithms.",
            },
            {
              title: "In today’s digital landscape",
              desc: "Being easily found on search engines is crucial for success.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
