<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Maximize Your Reach with Targeted Search Advertising",
        p: "At iWINGS, we believe that effective search engine marketing is about more than just placing ads - it's about connecting with your audience at the right time with the right message. Our mission is to help you achieve immediate visibility and drive high-quality traffic to your website through strategic and data-driven SEM campaigns.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "Search Engine Marketing (SEM) is a vital tool for businesses looking to gain immediate online visibility and drive targeted traffic. Here’s why our SEM service is essential for your business:",
          cards: [
            "Achieve top positions on search engine results pages (SERPs) quickly, putting your brand in front of potential customers when they are actively searching for your products or services.",
            "Reach your ideal audience with precision targeting based on keywords, demographics, location, and more.",
            "SEM provides clear, quantifiable results, allowing you to track your return on investment (ROI) and adjust strategies in real-time for maximum effectiveness.",
          ],
        },
        WHAT: {
          desc: "Our SEM service encompasses a range of expertly crafted components designed to boost your online visibility and drive high-quality traffic to your website.",
          cards: [
            {
              title: "Keyword Research & Strategy",
              desc: "Identifying the most relevant and high-performing keywords to target, ensuring your ads appear for the right searches.",
            },
            {
              title: "Ad Creation & Optimization",
              desc: "Crafting compelling ad copy and designing visually appealing ads that capture attention and drive clicks.",
            },
            {
              title: "Campaign Management",
              desc: "Setting up and managing your SEM campaigns, including bid management, budget allocation, and targeting adjustments.",
            },
            {
              title: "Performance Tracking & Analytics",
              desc: "Monitoring campaign performance with advanced analytics to measure success and identify areas for improvement.",
            },
            {
              title: "A/B Testing & Optimization",
              desc: "Continuously testing different ad variations and strategies to optimize performance and maximize ROI.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to SEM is comprehensive and data-driven, ensuring that every campaign is optimized for success.",
          cards: [
            {
              title: "Understanding Your Business",
              desc: "We start by gaining a deep understanding of your business goals, target audience, and competitive landscape to tailor our SEM strategy to your needs.",
            },
            {
              title: "Implementing the Campaign",
              desc: "Our team of SEM experts sets up and launches your campaigns, focusing on precise targeting and effective ad placements to maximize visibility and engagement.",
            },
            {
              title: "Monitoring and Optimizing",
              desc: "We continuously monitor your campaign’s performance, using data-driven insights to make real-time adjustments and optimize for better results.",
            },
            {
              title: "In today’s competitive digital landscape",
              desc: "Being visible to your target audience at the right moment is crucial.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
