<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Connecting Your Brand with the Right Audience",
        p: "At iWINGS, we believe that Social Media Marketing is about more than just posting content - it's about creating meaningful connections that resonate with your audience. Our mission is to help your brand engage authentically and build lasting relationships through strategic and creative social media efforts.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "Social Media Marketing is crucial for building your brand's online presence and fostering community engagement. Here’s why our SMM service is essential for your business:",
          cards: [
            "Increase your brand's visibility and reach a broader audience through strategic social media campaigns.",
            "Foster genuine connections and interactions with your audience, turning followers into loyal customers.",
            "Utilize social media channels to drive traffic to your website and convert followers into customers.",
          ],
        },
        WHAT: {
          desc: "Our SMM service includes a comprehensive suite of strategies and tactics designed to enhance your brand's presence and engagement on social media platforms.",
          cards: [
            {
              title: "Social Media Strategy Development",
              desc: "Crafting a tailored social media strategy that aligns with your business goals and resonates with your target audience.",
            },
            {
              title: "Content Creation and Curation",
              desc: "Producing high-quality, engaging content that captures your brand’s voice and encourages interaction.",
            },
            {
              title: "Platform Management",
              desc: "Managing your social media profiles, including posting schedules, community engagement, and responding to comments and messages.",
            },
            {
              title: "Social Media Advertising",
              desc: "Creating and managing targeted ad campaigns to reach your ideal audience and maximize ROI.",
            },
            {
              title: "Analytics and Reporting",
              desc: "Monitoring social media performance and providing detailed reports to track success and inform future strategies.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to Social Media Marketing is creative, data-driven, and tailored to your business needs.",
          cards: [
            {
              title: "Understanding Your Business",
              desc: "We start by diving deep into your business goals, target audience, and brand personality to craft a customized social media strategy.",
            },
            {
              title: "Implementing the Strategy",
              desc: "Our team of social media experts creates and curates engaging content, manages your profiles, and runs targeted ad campaigns to increase visibility and engagement.",
            },
            {
              title: "Monitoring and Optimization",
              desc: "We continuously monitor your social media performance, using analytics to make data-driven adjustments and optimize your strategy for better results.",
            },
            {
              title: "In today’s digital landscape",
              desc: "A strong social media presence is vital for connecting with your audience and building your brand.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
