<script setup>
const props = defineProps({
  btn: {
    label: String,
    icon: String,
  },
});
const { btn } = props;
</script>

<template>
  <div class="btn-secoundary">
    <span class="label-btn"> {{ btn.label }}</span>

    <!-- {{ btn.icon }} -->
    <svg
      v-if="btn.icon === 'arrow-right'"
      width="25"
      height="25"
      viewBox="0 0 25 25"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M9.4101 21.1695C9.2201 21.1695 9.0301 21.0995 8.8801 20.9495C8.5901 20.6595 8.5901 20.1795 8.8801 19.8895L15.4001 13.3695C15.8801 12.8895 15.8801 12.1095 15.4001 11.6295L8.8801 5.10953C8.5901 4.81953 8.5901 4.33953 8.8801 4.04953C9.1701 3.75953 9.6501 3.75953 9.9401 4.04953L16.4601 10.5695C16.9701 11.0795 17.2601 11.7695 17.2601 12.4995C17.2601 13.2295 16.9801 13.9195 16.4601 14.4295L9.9401 20.9495C9.7901 21.0895 9.6001 21.1695 9.4101 21.1695Z"
        fill="white"
      />
    </svg>

    <slot />
  </div>
</template>
<style scoped>
.btn-secoundary {
  min-width: 170px;

  padding: 12px 28px;
  /* background: linear-gradient(
    95.97deg,
    rgba(13, 71, 245, 0.2) 11.47%,
    rgba(85, 192, 249, 0.2) 109.7%
  ); */
  /* border: 1px solid transparent; */
  background: linear-gradient(
    98.03deg,
    rgba(13, 71, 245, 0.9) 1.09%,
    #55c0f9 106.07%
  );
  border-radius: 10px;
  border: none;
  outline: none;
  position: relative;
  backdrop-filter: blur(15px);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  box-shadow: 0px 4px 30px 0px #55c0f947;
  cursor: pointer;
  transition: 0.4s all;
}
.btn-secoundary:hover {
  backdrop-filter: blur(15px);
  box-shadow: 0px 4px 43px 0px #55c0f999;
}
.btn-secoundary::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border-radius: 10px;
  background-color: rgb(21, 34, 71);

  z-index: -1;
}
.btn-secoundary::after {
  content: attr(data);
  font-size: 16px;
}

.btn-secoundary svg {
  vertical-align: bottom;
  width: 20px;
  height: 21px;
  display: inline-block;
}

.btn-secoundary .label-btn {
  display: inline-block;
}
</style>
