<script setup>
const props = defineProps({
  btn: {
    label: String,
    icon: String,
  },
});
const { btn } = props;
</script>

<template>
  <div class="btn-secoundary">
    <span class="label-btn"> {{ btn.label }}</span>

    <!-- {{ btn.icon }} -->
    <svg
      v-if="btn.icon === 'Whatsapp'"
      width="20"
      height="21"
      viewBox="0 0 20 21"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M5.74984 18.1426C6.99984 18.8926 8.49984 19.3092 9.99984 19.3092C14.5832 19.3092 18.3332 15.5592 18.3332 10.9759C18.3332 6.39258 14.5832 2.64258 9.99984 2.64258C5.4165 2.64258 1.6665 6.39258 1.6665 10.9759C1.6665 12.4759 2.08317 13.8926 2.74984 15.1426L2.10695 17.6152C1.91222 18.3642 2.60543 19.041 3.34949 18.8284L5.74984 18.1426Z"
        stroke="white"
        stroke-miterlimit="10"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M13.75 13.3503C13.75 13.4853 13.72 13.6241 13.6561 13.7591C13.5923 13.8941 13.5096 14.0216 13.4007 14.1416C13.2167 14.3441 13.0139 14.4903 12.7848 14.5841C12.5595 14.6778 12.3153 14.7266 12.0525 14.7266C11.6694 14.7266 11.26 14.6366 10.8281 14.4528C10.3962 14.2691 9.96432 14.0216 9.53618 13.7103C9.10428 13.3953 8.69492 13.0466 8.30433 12.6603C7.9175 12.2703 7.56823 11.8616 7.25651 11.4341C6.94855 11.0066 6.70068 10.5791 6.52041 10.1553C6.34014 9.72781 6.25 9.31906 6.25 8.92906C6.25 8.67406 6.29507 8.43031 6.3852 8.20531C6.47534 7.97656 6.61805 7.76656 6.8171 7.57906C7.05746 7.34281 7.32036 7.22656 7.59827 7.22656C7.70343 7.22656 7.80859 7.24906 7.90248 7.29406C8.00013 7.33906 8.0865 7.40656 8.15411 7.50406L9.02541 8.73031C9.09301 8.82406 9.14184 8.91031 9.17564 8.99281C9.20944 9.07156 9.22822 9.15031 9.22822 9.22156C9.22822 9.31156 9.20193 9.40156 9.14935 9.48781C9.10053 9.57406 9.02917 9.66406 8.93903 9.75406L8.65361 10.0503C8.61229 10.0916 8.59352 10.1403 8.59352 10.2003C8.59352 10.2303 8.59727 10.2566 8.60478 10.2866C8.61605 10.3166 8.62732 10.3391 8.63483 10.3616C8.70243 10.4853 8.81885 10.6466 8.9841 10.8416C9.1531 11.0366 9.33337 11.2353 9.52867 11.4341C9.73147 11.6328 9.92677 11.8166 10.1258 11.9853C10.3211 12.1503 10.4826 12.2628 10.6103 12.3303C10.6291 12.3378 10.6516 12.3491 10.6779 12.3603C10.7079 12.3716 10.738 12.3753 10.7718 12.3753C10.8356 12.3753 10.8845 12.3528 10.9258 12.3116L11.2112 12.0303C11.3051 11.9366 11.3952 11.8653 11.4816 11.8203C11.568 11.7678 11.6544 11.7416 11.7482 11.7416C11.8196 11.7416 11.8947 11.7566 11.9773 11.7903C12.06 11.8241 12.1463 11.8728 12.2402 11.9366L13.4834 12.8178C13.581 12.8853 13.6486 12.9641 13.6899 13.0578C13.7275 13.1516 13.75 13.2453 13.75 13.3503Z"
        stroke="white"
        stroke-miterlimit="10"
      />
    </svg>

    <svg
      v-if="btn.icon === 'arrow-right'"
      width="25"
      height="25"
      viewBox="0 0 25 25"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M9.4101 21.1695C9.2201 21.1695 9.0301 21.0995 8.8801 20.9495C8.5901 20.6595 8.5901 20.1795 8.8801 19.8895L15.4001 13.3695C15.8801 12.8895 15.8801 12.1095 15.4001 11.6295L8.8801 5.10953C8.5901 4.81953 8.5901 4.33953 8.8801 4.04953C9.1701 3.75953 9.6501 3.75953 9.9401 4.04953L16.4601 10.5695C16.9701 11.0795 17.2601 11.7695 17.2601 12.4995C17.2601 13.2295 16.9801 13.9195 16.4601 14.4295L9.9401 20.9495C9.7901 21.0895 9.6001 21.1695 9.4101 21.1695Z"
        fill="white"
      />
    </svg>

    <slot />
  </div>
</template>
<style scoped>
.btn-secoundary {
  min-width: 170px;
  text-align: center;
  padding: 12px 28px;
  /* background: linear-gradient(
    95.97deg,
    rgba(13, 71, 245, 0.2) 11.47%,
    rgba(85, 192, 249, 0.2) 109.7%
  ); */
  /* border: 1px solid transparent; */
  background: #03ac42;
  border-radius: 10px;
  border: none;
  outline: none;
  position: relative;
  backdrop-filter: blur(15px);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  /* box-shadow: 0px 4px 30px 0px #55c0f947; */
  cursor: pointer;
  transition: 0.4s all;
}
.btn-secoundary:hover {
  backdrop-filter: blur(15px);
  box-shadow: 0px 4px 43px 0px #03ac4183;
}
.btn-secoundary::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border-radius: 10px;
  background-color: #03ac42;

  z-index: -1;
}
.btn-secoundary::after {
  content: attr(data);
  font-size: 14px;
}

.btn-secoundary svg {
  vertical-align: bottom;
  width: 20px;
  height: 21px;
  margin-left: 10px;
  display: inline-block;
}

.btn-secoundary .label-btn {
  display: inline-block;
}
</style>
