<template>
  <div class="container-big-" style="position: relative">
    <div class="row container">
      <div class="col-12 self-center text-center">
        <h2 class="heading-2">OUR PROCESS</h2>
      </div>
    </div>
    <div class="row row-gap container" style="margin-top: 246px">
      <div
        class="col-12 self-center p-15 add-margin-card"
        v-for="(item, index) in items"
        :key="index"
      >
        <div
          class="process-card-m"
          ref="itemProcess"
          @click="toggle_card(index)"
          style="height: 300px"
        >
          <div class="process-content">
            <div class="arrow">
              <NuxtImg
                format="webp"
                quality="100"
                alt="image"
                :class="[index === active ? '' : 'up-down']"
                class="icon-arrow"
                src="/images/arrow-top.svg"
                style="vertical-align: sub; margin-right: 3px"
              />
              <h3 style="display: inline">{{ item.title }}</h3>
            </div>

            <p :class="[index === active ? 'up-show' : 'up-hide']">
              {{ item.desc }}
            </p>
          </div>
          <NuxtImg
            format="webp"
            quality="100"
            alt="image"
            class="bottom-image"
            :src="item.image"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      active: 0,
      items: [
        {
          title: "Discovery",
          desc: "We dive deep into your business, and understand your goals, needs, customers, and your competitors.",
          image: "/images/mobile/process-1-card.png",
        },
        {
          title: "Strategies",
          desc: "With a clear understanding of your unique needs, we craft bespoke plans and roadmaps to get you to your goals.",
          image: "/images/mobile/process-1-card.png",
        },
        {
          title: "Design",
          desc: "Our talented team brings your vision to life, creating experiences that leave a lasting impression on your audience.",
          image: "/images/mobile/process-1-card.png",
        },
        {
          title: "Development",
          desc: "Our skilled engineers bring the creative vision to life, turning designs into high-performing digital solutions.",
          image: "/images/mobile/process-1-card.png",
        },
        {
          title: "Optimization",
          desc: "We monitor performance metrics constantly, we fine-tune and optimize your marketing efforts for exceptional results.",
          image: "/images/mobile/process-1-card.png",
        },
      ],
    };
  },
  methods: {
    toggle_card(index) {
      if (process.client) {
        this.active = "";
        for (var i in this.$refs["itemProcess"]) {
          this.$refs["itemProcess"][i].style.height = "300px";

          this.$refs["itemProcess"][index].classList.remove(
            "remove-margin-card"
          );
          this.$refs["itemProcess"][index].classList.add("add-margin-card");
        }
        if (this.$refs["itemProcess"][index].style.height === "300px") {
          if (window.innerWidth < 380) {
            this.$refs["itemProcess"][index].style.height = "500px";
            this.$refs["itemProcess"][index].classList.remove(
              "add-margin-card"
            );
            this.$refs["itemProcess"][index].classList.add(
              "remove-margin-card"
            );
          } else if (window.innerWidth < 310) {
            this.$refs["itemProcess"][index].style.height = "400px";
            this.$refs["itemProcess"][index].classList.remove(
              "add-margin-card"
            );
            this.$refs["itemProcess"][index].classList.add(
              "remove-margin-card"
            );
          } else {
            this.$refs["itemProcess"][index].style.height = "600px";
            this.$refs["itemProcess"][index].classList.remove(
              "add-margin-card"
            );
            this.$refs["itemProcess"][index].classList.add(
              "remove-margin-card"
            );
          }

          this.active = parseInt(index);
        } else {
          this.$refs["itemProcess"][index].style.height = "300px";
          this.$refs["itemProcess"][index].classList.add("add-margin-card");
          this.$refs["itemProcess"][index].classList.remove(
            "remove-margin-card"
          );
          this.active = "";
        }
      }
    },
  },
  mounted() {
    this.toggle_card("0");
  },
};
</script>

<style scoped>
.add-margin-card {
  margin-top: -246px !important;
}
.remove-margin-card {
  /* margin-top: 0px !important; */
}
.process-content {
  padding: 15px 35px;
}
.bottom-image {
  width: 100%;
  margin-top: -40px;
}
.process-content p {
  transition: all 0.2s;
  width: 75%;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 48px;
  margin-left: 5px;
}
.process-content h3 {
  font-size: 1.25em;
  width: 90%;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  background: linear-gradient(
    180deg,
    #fff 17.2%,
    rgba(255, 255, 255, 0) 93.01%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.process-card-m {
  overflow: hidden;
  width: 100%;
  height: 300px;
  /* background: url(/images/mobile/process-bg.svg); */
  background: url("/images/mobile/Subtract2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom: 1px solid #ffffff64;
  transition: all 0.4s;
  /* margin-top: -130px; */
}
.up-down {
  transform: rotate(180deg) !important;
}
.icon-arrow {
  transition: all 0.4s;
  transform: unset;
}
.up-hide {
  opacity: 0;
}
.up-show {
  opacity: 1;
}
</style>
