<template>
  <div class="container-big-" style="position: relative">
    <!-- <img alt="image" 
      class="Ellipse-ser-right"
      width="800px"
      src="/images/Ellipse-ser-right.svg"
    />
    <img alt="image" 
      class="Ellipse-ser-left"
      width="500px"
      src="/images/Ellipse-ser-left.svg"
    /> -->
    <div class="row container">
      <div class="col-12 self-center text-center">
        <h2 class="heading-2">OUR SERVICES</h2>
      </div>
    </div>
    <div class="row row-gap container">
      <div class="col-12 self-center">
        <carousel v-bind="settings" :breakpoints="breakpoints" ref="carousel">
          <slide
            class="slide-card"
            v-for="(slide, index) in slides"
            :key="slide"
          >
            <div :class="'card-' + (parseInt(index) + 1)">
              <div class="card-content">
                <NuxtImg format="webp" alt="image" :src="slide.icon" />
                <h3>{{ slide.title }}</h3>
                <div class="tags" v-if="slide.text1">
                  <span class="tag">
                    <span>{{ slide.text1 }}</span>
                  </span>
                  <span class="tag">
                    <span>{{ slide.text2 }}</span>
                  </span>
                </div>
                <div class="tags p-t-10">
                  <span class="tag">
                    <span>{{ slide.text3 }}</span>
                  </span>
                  <span class="tag" v-if="slide.text4">
                    <span>{{ slide.text4 }}</span>
                  </span>
                  <!-- <span class="tag">
                    <span>{{ slide.text5 }}</span>
                  </span> -->
                </div>
                <p>
                  {{ slide.p }}
                </p>
              </div>
              <NuxtLink :to="slide.url">
                <ButtonsIcon
                  class="btn-card"
                  :btn="{ icon: 'arrow-right' }"
                ></ButtonsIcon>
              </NuxtLink>
              <NuxtImg
                class="slide-bg"
                format="webp"
                quality="93"
                alt="image"
                :src="slide.bg"
              />
            </div>
          </slide>
          <template #addons>
            <!-- <navigation /> -->
            <div class="slider-pagination">
              <pagination />
            </div>
          </template>
        </carousel>
      </div>
    </div>
  </div>
</template>
<style scoped>
.carousel__pagination {
  margin: -25px 0px 0 -20px;
}
img {
  pointer-events: none;
}
.row-gap {
  gap: 35px;
}
.slide-bg {
  width: 100% !important;
}
.slide-card > div {
  width: 100%;
}
.card-content {
  text-align: left;

  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(50%, 50%); */
  padding: 35px 35px;
}
.card-content img {
  width: 110px;
  pointer-events: none;
  margin-left: -12px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.card-1 .card-content img {
  width: 120px;
  margin-top: 0px;
}
.card-2 .card-content img {
  width: 120px;
  margin-top: -5px;
  margin-bottom: 15px;
  margin-left: -20px;
  pointer-events: none;
}
.card-3 .card-content img {
  width: 110px;
  margin-top: 15px;
  /* margin-bottom: 15px; */
  margin-left: -10px;
  pointer-events: none;
}
.card-content h3 {
  /* font-size: 39px; */
  font-size: 1.8em;
  font-weight: 600;
  line-height: 0px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 27px;

  margin-bottom: 40px;
  margin-left: 7px;
}
.btn-card {
  position: absolute;
  top: 6px;
  right: 0;
}
.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
  margin-left: 10px;
  margin-right: -20px;
  position: relative;
  transition: all 0.3s;
  /* background: url("/images/card-1.svg");
  background-position: center center;
  background-size: contain; */
}
.card-1:hover {
  /* transform: scale(1.1); */
  /* transform: rotate3d(1, 1, 3, 1deg); */
}
.Ellipse-ser-right {
  position: absolute;
  top: -250px;
  right: 0;
  z-index: 0;
}
.Ellipse-ser-left {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 0;
}
.card-content .tags {
  display: flex;
  gap: 9px;
  flex-wrap: wrap;
  flex-direction: row;
}
.card-content p {
  font-size: 16px;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 0em;
  margin-top: 10px;
  text-align: left;
}
.tags .tag {
  background: radial-gradient(
    84.92% 150% at 50% 138.75%,
    rgba(13, 71, 245, 0.24) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  /* linear-gradient(0deg, rgba(13, 71, 245, 0.02), rgba(13, 71, 245, 0.02)),
    linear-gradient(0deg, rgba(255, 255, 255, 0.22), rgba(255, 255, 255, 0.22)); */
  border: 1px solid #ffffff38;
  padding: 12px 10px;
  border-radius: 25px;
  /* border: 1px; */
  /* gap: 6px; */
  margin-bottom: 5px;
  margin-top: 5px;
}
.tags .tag span {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) -6.34%,
    #ffffff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: Raleway;
  font-size: 16px;
  font-weight: 400;
  line-height: 5px;
  letter-spacing: 0em;
  text-align: left;
}
.card-5 .card-content h3 {
  line-height: unset;
  margin-bottom: 0;
}
@media (min-width: 390px) and (max-width: 991px) {
  .card-content {
    padding: 35px 15px;
  }
}
@media (max-width: 991px) {
  .card-4 .card-content h3 {
    /* font-size: 39px; */
    font-size: 1.8em;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0em;
    text-align: left;
    /* margin-top: -9px; */
    margin-bottom: 20px;
    margin-left: 7px;
  }
  .card-5 .card-content h3 {
    font-size: 25px;
    font-weight: 600;
    /* line-height: 0px; */
    letter-spacing: 0em;
    text-align: left;
    margin-top: -9px;
    margin-bottom: 20px;
    margin-left: 7px;
  }
  .card-content img {
    margin-top: -20px;
  }
  .card-3 .card-content img {
    margin-top: -20px;
  }
  .card-1,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6 {
    margin-left: 10px;
    margin-right: 10px;

    /* background: url("/images/card-1.svg");
  background-position: center center;
  background-size: contain; */
  }
}
@media (max-width: 385px) {
  .card-content {
    padding: 5px 5px;
    transform: scale(0.9);
  }
  .tags .tag {
    padding: 10px 5px;
  }
  .card-content p {
    margin-top: 30px;
  }
}
@media (max-width: 335px) {
  .card-content {
    padding: 10px 10px;
  }
}
@media (max-width: 300px) {
  .carousel__slide {
    transform: scale(0.9);
  }
  .tags {
    gap: 2;
  }
  .card-3 .card-content img {
    transform: scale(0.9);
  }
  .btn-card {
    transform: scale(0.8);
    top: -3px;
    right: -10px;
  }
  .tags .tag {
    padding: 5px 10px;
    border-radius: 5px;
    /* border: 1px; */
    /* gap: 6px; */
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .card-content h3 {
    font-size: 1.8em;
    font-weight: 600;
    line-height: 0px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 28px;
    margin-left: 7px;
  }
}
</style>
<script>
export default {
  data() {
    return {
      slides: [
        {
          icon: "/images/card-1-icon.svg",
          title: "Branding",
          text1: "Brand identity",
          text2: "Logo design",
          text3: "storytelling",
          text4: "Visual",
          // text5: "Brand strategy",
          p: "Create a memorable brand identity with attractive designs and stories, ensuring your brand remains unforgettable in the minds of your audience.",
          bg: "/images/mobile/Subtract.png",
          url: "/services/branding",
        },
        {
          icon: "/images/card-2-icon.svg",
          title: "Technology",
          text1: "Tech solutions",
          text2: "Digital tools",
          text3: "IT",
          text4: "Software development",
          // text5: "Tech innovation",
          p: "Simplify your work and impress your customers with the latest tools, making your business operations smoother and more efficient than before.",
          bg: "/images/mobile/Subtract.png",
          url: "/services/technology",
        },
        {
          icon: "/images/card-3-icon.svg",
          title: "Design",
          text1: "Website",
          text2: "Graphic",
          text3: "UI/UX",
          text4: "Visual communication",
          // text5: "Creative design",
          p: "Let your brand shine online with beautiful websites that reflect your unique style and personality, leaving a lasting impression on your visitors.",
          bg: "/images/mobile/Subtract.png",
          url: "/services/design",
        },
        {
          icon: "/images/card-4-icon.svg",
          title: "Consulting",
          text1: "Business",
          text2: "Marketing",
          text3: "Management",
          text4: "Strategic Planning",
          // text5: "Strategic planning",
          p: "Grow your business smarter and faster with expert advice tailored to your specific needs, helping you overcome challenges and seize opportunities.",
          bg: "/images/mobile/Subtract.png",
          url: "/services/consulting",
        },
        {
          icon: "/images/card-5-icon.svg",
          title: "Advertising & Promotion",
          text1: "Digital Marketing",
          text2: "Advertising Campaigns",
          text3: "Social Media Marketing",
          text4: "",
          // text5: "PPC advertising",
          p: "Expand your reach and increase your sales with effective marketing campaigns that grab the attention of your target audience and drive them to action.",
          bg: "/images/mobile/Subtract.png",
          url: "/services/advertising-promotion",
        },
        {
          icon: "/images/card-6-icon.svg",
          title: "Video & Media",
          text1: "Multimedia Content",
          text2: "Digital Media",
          text3: "Video Marketing",
          text4: "Visual Storytelling",
          // text5: "Visual storytelling",
          p: "Tell your story in an engaging way through attractive multimedia content, connecting with your audience on a deeper level and leaving a lasting impression.",
          bg: "/images/mobile/Subtract.png",
          url: "/services/video-media",
        },
      ],
      settings: {
        itemsToShow: 1.15,

        transition: 1000,
        //   autoplay: 1000,
        wrapAround: true,
        snapAlign: "left",
      },
      // breakpoints are mobile first
      // any settings not specified will fallback to the carousel settings
      breakpoints: {
        // 700px and up
        200: {
          itemsToShow: 1.1,
        },
        400: {
          itemsToShow: 1.15,
        },
        500: {
          itemsToShow: 1.3,
        },
        700: {
          itemsToShow: 2,
        },
        800: {
          itemsToShow: 2.5,
        },
      },
    };
  },
};
</script>
