<template>
  <div class="row container m-t-150 p-b-75">
    <img alt="image" class="footer-line" src="/images/way-top-line.svg" />
    <!-- <div style="width: 100%" class="footer-line">
      <svg
        width="100%"
        height="7"
        viewBox="0 0 629 7"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M628.392 4.87913L1.00001 1.9643"
          stroke="url(#paint0_radial_897_6080)"
          stroke-width="3"
        />
        <defs>
          <radialGradient
            id="paint0_radial_897_6080"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(303 -217.5) rotate(98.3151) scale(262.762 439.753)"
          >
            <stop stop-color="white" stop-opacity="0" />
            <stop offset="0.838542" stop-color="white" />
            <stop offset="0.988544" stop-color="white" stop-opacity="0" />
          </radialGradient>
        </defs>
      </svg>
    </div> -->
    <div class="col-6 logo-section">
      <!-- <img alt="image" class="logo-h" width="200px" src="/images/logo.svg" /> -->
      <span class="logo-h" width="200px">
        <svg
          width="252"
          height="38"
          viewBox="0 0 252 38"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <mask
            id="mask0_582_4046"
            style="mask-type: luminance"
            maskUnits="userSpaceOnUse"
            x="0"
            y="0"
            width="252"
            height="38"
          >
            <path d="M251.659 0H0V37.2261H251.659V0Z" fill="white" />
          </mask>
          <g mask="url(#mask0_582_4046)">
            <path
              d="M32.038 18.7594L7.71777 4.74023V13.328C7.71719 14.3019 7.97323 15.2588 8.4601 16.1023C8.94697 16.9458 9.64749 17.6461 10.4911 18.1328L24.6619 26.3066L32.038 22.0424C32.3252 21.8757 32.5636 21.6365 32.7293 21.3488C32.895 21.061 32.9822 20.7348 32.9822 20.4027C32.9822 20.0706 32.895 19.7444 32.7293 19.4566C32.5636 19.1688 32.3252 18.9297 32.038 18.763"
              fill="#0D47F5"
            />
            <path
              d="M24.6619 26.311L14.6507 20.5329C14.7119 12.5169 8.14325 5.21793 7.7373 4.76855C7.74643 4.76932 7.75495 4.77342 7.76124 4.78008C7.8125 4.80525 7.86144 4.83491 7.90748 4.86871C9.85742 6.13351 25.9958 16.9592 24.6592 26.3181"
              fill="#3A8EF8"
            />
            <path
              d="M14.6507 20.5333L10.4911 18.1402C9.64744 17.6539 8.94686 16.9537 8.45997 16.1103C7.97308 15.2669 7.71708 14.3101 7.71777 13.3363V4.74414L7.76564 4.78048C7.75935 4.77383 7.75083 4.76973 7.74171 4.76896C8.14322 5.21833 14.7119 12.5173 14.6551 20.5333"
              fill="#55C0F9"
            />
            <path
              d="M37.7103 18.7594L62.0296 4.74023V13.328C62.0302 14.3019 61.7742 15.2588 61.2873 16.1023C60.8004 16.9458 60.0999 17.6461 59.2563 18.1328L45.0855 26.3066L37.7103 22.0424C37.4231 21.8757 37.1847 21.6365 37.019 21.3488C36.8533 21.061 36.7661 20.7348 36.7661 20.4027C36.7661 20.0706 36.8533 19.7444 37.019 19.4566C37.1847 19.1688 37.4231 18.9297 37.7103 18.763"
              fill="#0D47F5"
            />
            <path
              d="M45.1095 26.311L55.1207 20.5329C55.0595 12.5169 61.6281 5.21793 62.0341 4.76855C62.025 4.76948 62.0165 4.77355 62.0101 4.78008C61.9591 4.80565 61.9102 4.83529 61.8639 4.86871C59.914 6.13351 43.7764 16.9592 45.1121 26.3181"
              fill="#3A8EF8"
            />
            <path
              d="M62.0294 4.76855V13.3323C62.0301 14.3062 61.7741 15.263 61.2872 16.1064C60.8003 16.9498 60.0997 17.6499 59.256 18.1363L55.1204 20.5205C55.0716 12.5045 61.6279 5.21793 62.0338 4.76855"
              fill="#55C0F9"
            />
            <path
              d="M27.4292 27.8959L34.8744 32.2062L42.3365 27.8959L35.8919 24.1733C35.5828 23.9945 35.232 23.9004 34.8749 23.9004C34.5178 23.9004 34.1669 23.9945 33.8578 24.1733L27.4292 27.8959Z"
              fill="#0D47F5"
            />
            <path
              d="M71.9726 12.897H68.1179C67.79 12.897 67.6056 12.9989 67.6056 13.45V31.2273C67.6056 31.6164 67.7288 31.7396 68.1179 31.7396H71.9726C72.3626 31.7396 72.4858 31.6377 72.4858 31.2273V13.45C72.4858 12.9989 72.3005 12.897 71.9726 12.897ZM71.9726 4.91992H68.1179C67.6464 4.91992 67.564 5.10428 67.564 5.43311V9.16459C67.564 9.55369 67.7288 9.71766 68.1179 9.71766H71.9726C72.3005 9.71766 72.4858 9.61574 72.4858 9.16459V5.43311C72.4858 5.02274 72.3626 4.91992 71.9726 4.91992Z"
              fill="white"
            />
            <path
              d="M125.427 4.90039L120.075 4.91989C119.932 4.91989 119.849 4.91989 119.768 5.16629L113.576 26.324C113.473 26.5899 113.329 26.8558 112.92 26.8558H112.673C112.263 26.8558 112.119 26.5899 112.038 26.324L105.515 6.95049C105.003 5.41269 104.286 4.91989 102.727 4.91989H98.827C97.6588 4.91989 96.8177 5.24872 96.2638 6.95049L89.8937 26.324C89.8112 26.5899 89.6473 26.8558 89.2369 26.8558H89.0295C88.5783 26.8558 88.4144 26.5474 88.3736 26.2806L82.0194 5.16629C81.9379 4.91989 81.8971 4.91989 81.7943 4.91989H76.5454C76.5046 4.90039 76.4426 5.02271 76.5454 5.37192L83.7832 29.0123C84.5012 31.3292 85.1775 31.7396 86.756 31.7396H91.2453C92.4959 31.7396 93.1518 31.37 93.9513 28.9919L100.205 10.3124C100.235 10.1666 100.315 10.0358 100.431 9.94234C100.547 9.8489 100.692 9.79861 100.841 9.80006H101.005C101.251 9.80006 101.579 9.8816 101.661 10.3531L107.812 28.9919C108.633 31.37 109.268 31.7396 110.519 31.7396H115.128C116.358 31.7396 117.078 31.3292 117.813 29.0123L125.369 5.37192C125.472 5.06348 125.43 4.91989 125.43 4.90039"
              fill="white"
            />
            <path
              d="M134.366 4.91992H130.122C129.65 4.91992 129.548 5.10428 129.548 5.41273V31.2273C129.548 31.5552 129.65 31.7396 130.122 31.7396H134.366C134.756 31.7396 134.879 31.6164 134.879 31.2273V5.41273C134.879 5.02274 134.756 4.91992 134.366 4.91992Z"
              fill="white"
            />
            <path
              d="M172.831 4.92054H168.69C168.301 4.92054 168.177 5.02335 168.177 5.41334V25.9577C168.177 26.5117 167.829 26.6961 167.521 26.6961H167.152C166.783 26.6961 166.516 26.5525 166.354 26.2449L151.754 7.09118C150.278 5.14124 149.847 4.91699 147.448 4.91699H143.982C141.931 4.91699 140.804 5.49222 140.804 8.64847V31.2279C140.804 31.5558 140.885 31.7402 141.358 31.7402H145.478C145.889 31.7402 145.991 31.617 145.991 31.2279V10.703C145.991 10.0666 146.421 9.96468 146.668 9.96468H147.016C147.169 9.95534 147.321 9.98638 147.458 10.0547C147.595 10.123 147.712 10.2261 147.796 10.3538L162.476 29.5669C164.013 31.5762 164.527 31.7402 166.761 31.7402H170.144C172.215 31.7402 173.343 31.1455 173.343 27.9875V5.41334C173.343 5.02335 173.22 4.92054 172.83 4.92054"
              fill="white"
            />
            <path
              d="M189.85 9.8382H209.554C209.903 9.8382 210.067 9.75578 210.067 9.26474V5.41273C210.067 5.02185 209.965 4.91992 209.554 4.91992H189.628C181.857 4.91992 178.966 7.62591 178.966 14.9471V21.7151C178.966 29.015 181.857 31.7422 189.628 31.7422H205.519C208.697 31.7422 210.051 30.0582 210.051 26.0626V16.8943C210.051 16.3209 209.804 16.0745 209.209 16.0745H191.244C190.876 16.0745 190.732 16.2384 190.732 16.6488V19.5799C190.732 19.9699 190.876 20.1552 191.244 20.1552H204.327C204.716 20.1552 205.167 20.2784 205.167 20.9945V24.1738C205.167 26.1007 204.449 26.9418 202.83 26.9418H189.85C185.647 26.9418 184.294 25.5476 184.294 21.2002V15.5418C184.294 11.1535 185.585 9.84086 189.85 9.84086"
              fill="white"
            />
            <path
              d="M237.687 16.1152H222.943C221.857 16.1152 220.545 15.665 220.545 13.5732V12.2198C220.545 10.1085 221.874 9.67689 222.985 9.67689H242.689C243.099 9.67689 243.201 9.57496 243.201 9.16459V5.41273C243.201 5.02274 243.078 4.91992 242.689 4.91992H221.836C217.572 4.91992 215.234 7.07283 215.234 10.9692V13.84C215.234 18.0421 217.49 20.2571 221.755 20.2571H236.516C237.602 20.2571 238.894 20.7082 238.894 22.8204V24.4158C238.894 26.5279 237.582 26.9782 236.474 26.9782H215.808C215.357 26.9782 215.276 27.1634 215.276 27.4914V31.2237C215.276 31.5517 215.359 31.736 215.808 31.736H237.604C241.868 31.736 244.227 29.5831 244.227 25.6673V22.5297C244.227 18.3462 241.951 16.1117 237.687 16.1117"
              fill="white"
            />
          </g>
        </svg>
      </span>
      <p class="logo-desc">
        We are the catalyst that elevates your brand to new heights, leveraging innovative
        technologies and strategic marketing expertise to help you share your story with
        the world and stand out from the crowd.
      </p>
      <div class="footer-info">
        <div class="footer-info-icon">
          <!-- <img alt="image" src="/images/footer-icon-1.svg" /> -->
          <svg
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.3082 17.2509C17.3082 17.5509 17.2415 17.8592 17.0998 18.1592C16.9582 18.4592 16.7748 18.7426 16.5332 19.0092C16.1248 19.4592 15.6748 19.7842 15.1665 19.9926C14.6665 20.2009 14.1248 20.3092 13.5415 20.3092C12.6915 20.3092 11.7832 20.1092 10.8248 19.7009C9.8665 19.2926 8.90817 18.7426 7.95817 18.0509C6.99984 17.3509 6.0915 16.5759 5.22484 15.7176C4.3665 14.8509 3.5915 13.9426 2.89984 12.9926C2.2165 12.0426 1.6665 11.0926 1.2665 10.1509C0.866504 9.20091 0.666504 8.29258 0.666504 7.42591C0.666504 6.85924 0.766504 6.31758 0.966504 5.81758C1.1665 5.30924 1.48317 4.84258 1.92484 4.42591C2.45817 3.90091 3.0415 3.64258 3.65817 3.64258C3.8915 3.64258 4.12484 3.69258 4.33317 3.79258C4.54984 3.89258 4.7415 4.04258 4.8915 4.25924L6.82484 6.98425C6.97484 7.19258 7.08317 7.38425 7.15817 7.56758C7.23317 7.74258 7.27484 7.91758 7.27484 8.07591C7.27484 8.27591 7.2165 8.47591 7.09984 8.66758C6.9915 8.85924 6.83317 9.05924 6.63317 9.25924L5.99984 9.91758C5.90817 10.0092 5.8665 10.1176 5.8665 10.2509C5.8665 10.3176 5.87484 10.3759 5.8915 10.4426C5.9165 10.5092 5.9415 10.5592 5.95817 10.6092C6.10817 10.8842 6.3665 11.2426 6.73317 11.6759C7.10817 12.1092 7.50817 12.5509 7.9415 12.9926C8.3915 13.4342 8.82484 13.8426 9.2665 14.2176C9.69984 14.5842 10.0582 14.8342 10.3415 14.9842C10.3832 15.0009 10.4332 15.0259 10.4915 15.0509C10.5582 15.0759 10.6248 15.0842 10.6998 15.0842C10.8415 15.0842 10.9498 15.0342 11.0415 14.9426L11.6748 14.3176C11.8832 14.1092 12.0832 13.9509 12.2748 13.8509C12.4665 13.7342 12.6582 13.6759 12.8665 13.6759C13.0248 13.6759 13.1915 13.7092 13.3748 13.7842C13.5582 13.8592 13.7498 13.9676 13.9582 14.1092L16.7165 16.0676C16.9332 16.2176 17.0832 16.3926 17.1748 16.6009C17.2582 16.8092 17.3082 17.0176 17.3082 17.2509Z"
              stroke="white"
              stroke-width="1.2"
              stroke-miterlimit="10"
            />
            <path
              d="M14.4167 9.47526C14.4167 8.97526 14.025 8.20859 13.4417 7.58359C12.9083 7.00859 12.2 6.55859 11.5 6.55859"
              stroke="white"
              stroke-width="1.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M17.3333 9.47591C17.3333 6.25091 14.725 3.64258 11.5 3.64258"
              stroke="white"
              stroke-width="1.2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="footer-info-text">
          <div class="text-1">Tel</div>
          <div class="text-2">
            <a title="phone" target="_blank" href="tel:+971507706746"> +971507706746</a>
          </div>
        </div>
      </div>
      <div class="footer-info">
        <div class="footer-info-icon">
          <!-- <img alt="image" src="/images/footer-icon-2.svg" /> -->
          <svg
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M14.167 18.0605H5.83366C3.33366 18.0605 1.66699 16.8105 1.66699 13.8938V8.06047C1.66699 5.1438 3.33366 3.8938 5.83366 3.8938H14.167C16.667 3.8938 18.3337 5.1438 18.3337 8.06047V13.8938C18.3337 16.8105 16.667 18.0605 14.167 18.0605Z"
              stroke="white"
              stroke-width="1.2"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M14.1663 8.47705L11.558 10.5604C10.6997 11.2437 9.29134 11.2437 8.433 10.5604L5.83301 8.47705"
              stroke="white"
              stroke-width="1.2"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="footer-info-text">
          <div class="text-1">Mail</div>
          <div class="text-2">
            <a title="mail" target="_blank" href="mailto:info@iwings.io"
              >info@iwings.io</a
            >
          </div>
        </div>
      </div>
      <div class="footer-info">
        <div class="footer-info-icon">
          <!-- <img alt="image" src="/images/footer-icon-3.svg" /> -->
          <svg
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.0004 12.1687C11.4363 12.1687 12.6004 11.0047 12.6004 9.56875C12.6004 8.13281 11.4363 6.96875 10.0004 6.96875C8.56445 6.96875 7.40039 8.13281 7.40039 9.56875C7.40039 11.0047 8.56445 12.1687 10.0004 12.1687Z"
              stroke="white"
              stroke-width="1.2"
            />
            <path
              d="M3.01675 8.05213C4.65842 0.835467 15.3501 0.843801 16.9834 8.06047C17.9418 12.2938 15.3084 15.8771 13.0001 18.0938C11.3251 19.7105 8.67508 19.7105 6.99175 18.0938C4.69175 15.8771 2.05842 12.2855 3.01675 8.05213Z"
              stroke="white"
              stroke-width="1.2"
            />
          </svg>
        </div>
        <div class="footer-info-text">
          <div class="text-1">Address</div>
          <div class="text-2">
            Tamani Art offices - Business Bay - Dubai - United Arab Emirates
          </div>
        </div>
      </div>
      <div class="footer-social-link">
        <a href="https://www.facebook.com/iWings.io" target="_blank" title="facebook">
          <div class="social-icon">
            <!-- <img alt="image" src="/images/footer-icon-social-facebook.svg" /> -->
            <svg
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11.6667 8.72656V11.1432H13.8333C14 11.1432 14.0833 11.3099 14.0833 11.4766L13.75 13.0599C13.75 13.1432 13.5833 13.2266 13.5 13.2266H11.6667V19.3099H9.16667V13.3099H7.75C7.58333 13.3099 7.5 13.2266 7.5 13.0599V11.4766C7.5 11.3099 7.58333 11.2266 7.75 11.2266H9.16667V8.47656C9.16667 7.0599 10.25 5.97656 11.6667 5.97656H13.9167C14.0833 5.97656 14.1667 6.0599 14.1667 6.22656V8.22656C14.1667 8.39323 14.0833 8.47656 13.9167 8.47656H11.9167C11.75 8.47656 11.6667 8.5599 11.6667 8.72656Z"
                stroke="white"
                stroke-miterlimit="10"
                stroke-linecap="round"
              />
              <path
                d="M12.4998 19.3092H7.49984C3.33317 19.3092 1.6665 17.6426 1.6665 13.4759V8.47591C1.6665 4.30924 3.33317 2.64258 7.49984 2.64258H12.4998C16.6665 2.64258 18.3332 4.30924 18.3332 8.47591V13.4759C18.3332 17.6426 16.6665 19.3092 12.4998 19.3092Z"
                stroke="white"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </a>

        <a href="https://wa.me/+971507706746" target="_blank" title="whatsapp">
          <div class="social-icon">
            <!-- <img alt="image" src="/images/footer-icon-social-Whatsapp.svg" /> -->
            <svg
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M5.74984 18.1426C6.99984 18.8926 8.49984 19.3092 9.99984 19.3092C14.5832 19.3092 18.3332 15.5592 18.3332 10.9759C18.3332 6.39258 14.5832 2.64258 9.99984 2.64258C5.4165 2.64258 1.6665 6.39258 1.6665 10.9759C1.6665 12.4759 2.08317 13.8926 2.74984 15.1426L2.10695 17.6152C1.91222 18.3642 2.60543 19.041 3.34949 18.8284L5.74984 18.1426Z"
                stroke="white"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M13.75 13.3503C13.75 13.4853 13.72 13.6241 13.6561 13.7591C13.5923 13.8941 13.5096 14.0216 13.4007 14.1416C13.2167 14.3441 13.0139 14.4903 12.7848 14.5841C12.5595 14.6778 12.3153 14.7266 12.0525 14.7266C11.6694 14.7266 11.26 14.6366 10.8281 14.4528C10.3962 14.2691 9.96432 14.0216 9.53618 13.7103C9.10428 13.3953 8.69492 13.0466 8.30433 12.6603C7.9175 12.2703 7.56823 11.8616 7.25651 11.4341C6.94855 11.0066 6.70068 10.5791 6.52041 10.1553C6.34014 9.72781 6.25 9.31906 6.25 8.92906C6.25 8.67406 6.29507 8.43031 6.3852 8.20531C6.47534 7.97656 6.61805 7.76656 6.8171 7.57906C7.05746 7.34281 7.32036 7.22656 7.59827 7.22656C7.70343 7.22656 7.80859 7.24906 7.90248 7.29406C8.00013 7.33906 8.0865 7.40656 8.15411 7.50406L9.02541 8.73031C9.09301 8.82406 9.14184 8.91031 9.17564 8.99281C9.20944 9.07156 9.22822 9.15031 9.22822 9.22156C9.22822 9.31156 9.20193 9.40156 9.14935 9.48781C9.10053 9.57406 9.02917 9.66406 8.93903 9.75406L8.65361 10.0503C8.61229 10.0916 8.59352 10.1403 8.59352 10.2003C8.59352 10.2303 8.59727 10.2566 8.60478 10.2866C8.61605 10.3166 8.62732 10.3391 8.63483 10.3616C8.70243 10.4853 8.81885 10.6466 8.9841 10.8416C9.1531 11.0366 9.33337 11.2353 9.52867 11.4341C9.73147 11.6328 9.92677 11.8166 10.1258 11.9853C10.3211 12.1503 10.4826 12.2628 10.6103 12.3303C10.6291 12.3378 10.6516 12.3491 10.6779 12.3603C10.7079 12.3716 10.738 12.3753 10.7718 12.3753C10.8356 12.3753 10.8845 12.3528 10.9258 12.3116L11.2112 12.0303C11.3051 11.9366 11.3952 11.8653 11.4816 11.8203C11.568 11.7678 11.6544 11.7416 11.7482 11.7416C11.8196 11.7416 11.8947 11.7566 11.9773 11.7903C12.06 11.8241 12.1463 11.8728 12.2402 11.9366L13.4834 12.8178C13.581 12.8853 13.6486 12.9641 13.6899 13.0578C13.7275 13.1516 13.75 13.2453 13.75 13.3503Z"
                stroke="white"
                stroke-miterlimit="10"
              />
            </svg>
          </div>
        </a>
        <a
          href="https://www.linkedin.com/company/iwings-agency/"
          target="_blank"
          title="linkedin"
        >
          <div class="social-icon">
            <!-- <img alt="image" src="/images/footer-icon-social-linkedin.svg" /> -->
            <svg
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2.38095 0.977051C1.07166 0.977051 0 2.04871 0 3.358V18.5961C0 19.9054 1.07166 20.9771 2.38095 20.9771H17.619C18.9283 20.9771 20 19.9054 20 18.5961V3.358C20 2.04871 18.9283 0.977051 17.619 0.977051H2.38095ZM2.38095 1.92943H17.619C18.4136 1.92943 19.0476 2.56349 19.0476 3.358V18.5961C19.0476 19.3906 18.4136 20.0247 17.619 20.0247H2.38095C1.58644 20.0247 0.952381 19.3906 0.952381 18.5961V3.358C0.952381 2.56349 1.58644 1.92943 2.38095 1.92943ZM4.7619 4.31596C4.24037 4.31596 3.77106 4.47185 3.42355 4.76425C3.07604 5.05666 2.86272 5.49348 2.86272 5.96124C2.86272 6.85037 3.63395 7.54353 4.61496 7.6121L4.61682 7.61303C4.66356 7.62896 4.71252 7.63743 4.7619 7.63814C5.84429 7.63814 6.66109 6.87995 6.66109 5.96124C6.661 5.95286 6.66069 5.94449 6.66016 5.93613C6.6117 5.03126 5.80497 4.31596 4.7619 4.31596ZM4.7619 5.25718C5.42487 5.25718 5.68665 5.55326 5.71522 5.97333C5.70943 6.38107 5.45719 6.69692 4.7619 6.69692C4.10219 6.69692 3.80394 6.35906 3.80394 5.96124C3.80394 5.76233 3.87653 5.61243 4.02902 5.48412C4.18151 5.35581 4.4263 5.25718 4.7619 5.25718ZM3.33333 8.11991C3.20704 8.11992 3.08593 8.17009 2.99663 8.2594C2.90733 8.3487 2.85716 8.46981 2.85714 8.5961V17.6437C2.85716 17.77 2.90733 17.8911 2.99663 17.9804C3.08593 18.0697 3.20704 18.1199 3.33333 18.1199H6.19048C6.31677 18.1199 6.43788 18.0697 6.52718 17.9804C6.61648 17.8911 6.66665 17.77 6.66667 17.6437V14.8507V8.5961C6.66665 8.46981 6.61648 8.3487 6.52718 8.2594C6.43788 8.17009 6.31677 8.11992 6.19048 8.11991H3.33333ZM7.61905 8.11991C7.49276 8.11992 7.37164 8.17009 7.28234 8.2594C7.19304 8.3487 7.14287 8.46981 7.14286 8.5961V17.6437C7.14287 17.77 7.19304 17.8911 7.28234 17.9804C7.37164 18.0697 7.49276 18.1199 7.61905 18.1199H10.4762C10.6025 18.1199 10.7236 18.0697 10.8129 17.9804C10.9022 17.8911 10.9524 17.77 10.9524 17.6437V12.8818C10.9524 12.4867 11.0602 12.0937 11.25 11.8364C11.4398 11.5791 11.6793 11.4247 12.1345 11.4328C12.6039 11.4409 12.8524 11.6017 13.0404 11.8541C13.2283 12.1065 13.3333 12.485 13.3333 12.8818V17.6437C13.3333 17.77 13.3835 17.8911 13.4728 17.9804C13.5621 18.0697 13.6832 18.1199 13.8095 18.1199H16.6667C16.793 18.1199 16.9141 18.0697 17.0034 17.9804C17.0927 17.8911 17.1428 17.77 17.1429 17.6437V12.5303C17.1429 11.12 16.7251 10.0029 16.0091 9.24714C15.2931 8.49136 14.2972 8.11991 13.244 8.11991C12.2431 8.11991 11.4814 8.45557 10.9524 8.79792V8.5961C10.9524 8.46981 10.9022 8.3487 10.8129 8.2594C10.7236 8.17009 10.6025 8.11992 10.4762 8.11991H7.61905ZM3.80952 9.07229H5.71429V14.8507V17.1675H3.80952V9.07229ZM8.09524 9.07229H10V9.81541C10 9.91526 10.0314 10.0126 10.0898 10.0936C10.1482 10.1746 10.2305 10.2352 10.3252 10.2669C10.4199 10.2986 10.5221 10.2997 10.6175 10.2701C10.7129 10.2405 10.7965 10.1816 10.8566 10.1019C10.8566 10.1019 11.6044 9.07229 13.244 9.07229C14.079 9.07229 14.7949 9.34971 15.3181 9.9019C15.8412 10.4541 16.1905 11.3048 16.1905 12.5303V17.1675H14.2857V12.8818C14.2857 12.3263 14.1526 11.7519 13.8049 11.2849C13.4571 10.8179 12.8723 10.4928 12.1512 10.4804C11.4264 10.4675 10.8322 10.7994 10.4836 11.2719C10.1351 11.7443 10 12.3245 10 12.8818V17.1675H8.09524V9.07229Z"
                fill="white"
              />
            </svg>
          </div>
        </a>
        <a href="https://www.instagram.com/iwings.io/" target="_blank" title="instagram">
          <div class="social-icon">
            <!-- <img alt="image" src="/images/footer-icon-social-instagram.svg" /> -->
            <svg
              width="24"
              height="25"
              viewBox="0 0 24 25"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15 23.7271H9C3.57 23.7271 1.25 21.4071 1.25 15.9771V9.97705C1.25 4.54705 3.57 2.22705 9 2.22705H15C20.43 2.22705 22.75 4.54705 22.75 9.97705V15.9771C22.75 21.4071 20.43 23.7271 15 23.7271ZM9 3.72705C4.39 3.72705 2.75 5.36705 2.75 9.97705V15.9771C2.75 20.5871 4.39 22.2271 9 22.2271H15C19.61 22.2271 21.25 20.5871 21.25 15.9771V9.97705C21.25 5.36705 19.61 3.72705 15 3.72705H9Z"
                fill="white"
              />
              <path
                d="M12 17.2271C9.66 17.2271 7.75 15.3171 7.75 12.9771C7.75 10.6371 9.66 8.72705 12 8.72705C14.34 8.72705 16.25 10.6371 16.25 12.9771C16.25 15.3171 14.34 17.2271 12 17.2271ZM12 10.2271C10.48 10.2271 9.25 11.4571 9.25 12.9771C9.25 14.4971 10.48 15.7271 12 15.7271C13.52 15.7271 14.75 14.4971 14.75 12.9771C14.75 11.4571 13.52 10.2271 12 10.2271Z"
                fill="white"
              />
              <path
                d="M17 8.47695C16.87 8.47695 16.74 8.44695 16.62 8.39696C16.5 8.34696 16.39 8.27696 16.29 8.18695C16.2 8.08695 16.12 7.97696 16.07 7.85696C16.02 7.73696 16 7.60695 16 7.47695C16 7.34695 16.02 7.21695 16.07 7.09695C16.13 6.96695 16.2 6.86695 16.29 6.76695C16.34 6.72695 16.39 6.67696 16.44 6.64696C16.5 6.60696 16.56 6.57695 16.62 6.55695C16.68 6.52695 16.74 6.50695 16.81 6.49695C17.13 6.42695 17.47 6.53695 17.71 6.76695C17.8 6.86695 17.87 6.96695 17.92 7.09695C17.97 7.21695 18 7.34695 18 7.47695C18 7.60695 17.97 7.73696 17.92 7.85696C17.87 7.97696 17.8 8.08695 17.71 8.18695C17.61 8.27696 17.5 8.34696 17.38 8.39696C17.26 8.44695 17.13 8.47695 17 8.47695Z"
                fill="white"
              />
            </svg>
          </div>
        </a>
        <a href="https://twitter.com/iWings_agency" target="_blank" title="twitter">
          <div class="social-icon">
            <!-- <img alt="image" src="/images/footer-icon-social-twitter.svg" /> -->
            <svg
              width="19"
              height="21"
              viewBox="0 0 19 21"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0.116332 1.14776C0.180326 1.24163 1.66236 3.45943 3.40975 6.07617C5.15714 8.69291 6.7733 11.1128 7.00125 11.4538C7.22919 11.7948 7.41568 12.0806 7.41568 12.089C7.41568 12.0973 7.3308 12.2049 7.22706 12.3281C7.12333 12.4512 6.83113 12.7997 6.57776 13.1026C6.32438 13.4055 5.89725 13.9159 5.62857 14.237C5.35991 14.558 4.88726 15.123 4.57821 15.4925C4.26919 15.862 3.71348 16.5263 3.34329 16.9687C2.19837 18.3371 2.03314 18.5347 1.16159 19.5784C0.696218 20.1356 0.249955 20.6685 0.169914 20.7624C0.0898739 20.8564 0.0243806 20.9431 0.0243806 20.9552C0.0243806 20.9693 0.316691 20.9771 0.847943 20.9771H1.67148L2.57689 19.8922C3.07487 19.2956 3.5661 18.7083 3.66851 18.5872C3.88997 18.3252 5.57883 16.3049 5.72078 16.1321C5.77513 16.066 5.85408 15.9718 5.89622 15.9229C5.93839 15.8739 6.27065 15.477 6.6346 15.0409C6.99853 14.6048 7.30631 14.2373 7.3185 14.2242C7.33071 14.2112 7.52338 13.9807 7.74666 13.7121C7.96994 13.4435 8.15952 13.2237 8.16794 13.2237C8.17638 13.2237 9.32334 14.9311 10.7168 17.0178C12.1102 19.1045 13.2752 20.8488 13.3056 20.894L13.3609 20.9761L16.1858 20.9766C18.5089 20.977 19.0088 20.9719 18.9999 20.9481C18.9905 20.9228 17.637 18.8932 14.1648 13.6973C11.6652 9.95687 11.3328 9.45423 11.3423 9.42872C11.3516 9.40392 11.6921 8.99452 13.9304 6.31663C14.3144 5.85729 14.8437 5.22375 15.1066 4.90877C15.3695 4.59379 15.635 4.27661 15.6966 4.20392C15.7581 4.13124 16.0816 3.74467 16.4155 3.34489C16.7494 2.94511 17.3171 2.26582 17.6769 1.83535C18.0368 1.40489 18.3445 1.03569 18.3606 1.01487C18.3883 0.979254 18.3413 0.977051 17.5535 0.977051H16.717L16.345 1.42309C15.8498 2.0167 14.9547 3.08716 14.7005 3.38965C14.5882 3.52331 14.4481 3.69128 14.3892 3.76291C14.3303 3.83454 14.2141 3.97298 14.1309 4.07055C14.0478 4.16813 13.6287 4.66923 13.1997 5.1841C12.7707 5.69897 12.4138 6.12518 12.4066 6.13124C12.3995 6.13729 12.3075 6.24692 12.2024 6.37487C12.0184 6.59866 11.8312 6.82267 10.9727 7.84632C10.5958 8.29566 10.5765 8.31496 10.5447 8.27366C10.5264 8.24987 9.42204 6.59848 8.09054 4.60395L5.66962 0.977513L2.83481 0.977271L0 0.977051L0.116332 1.14776ZM2.32886 2.33701C2.35016 2.37042 2.8798 3.15106 3.50588 4.07176C4.69326 5.81793 9.35921 12.6838 12.3599 17.1004C13.3188 18.5117 14.1151 19.6789 14.1294 19.6942C14.1498 19.716 14.429 19.7207 15.434 19.7162L16.7126 19.7105L13.3668 14.7876C11.5266 12.08 8.86224 8.15987 7.44606 6.07617L4.87119 2.28762L3.58069 2.28194L2.29019 2.27626L2.32886 2.33701Z"
                fill="#FAFAFA"
              />
            </svg>
          </div>
        </a>
        <a
          href="https://www.pinterest.com/iwingsagency/"
          target="_blank"
          title="pinterest"
        >
          <div class="social-icon">
            <img alt="image" src="/images/footer-icon-social-pinterest.png" />
          </div>
        </a>
      </div>
    </div>
    <div class="col-6 links-div-cont position-relative">
      <!-- <div class="links-div">
        <div class="link-col">
          Links
          <ul class="link-col-list">
            <li>About us</li>
            <li>Blog</li>
            <li>Careers</li>
            <li>Jobs</li>
            <li>In Press</li>
          </ul>
        </div>
        <div class="link-col">
          Support
          <ul class="link-col-list">
            <li>Contact us</li>
            <li>Online Chat</li>
            <li>Whatsapp</li>
            <li>Telegram</li>
            <li>Ticketing</li>
          </ul>
        </div>
        <div class="link-col">
          FAQ
          <ul class="link-col-list">
            <li>Account</li>
            <li>Manage</li>
            <li>Orders</li>
            <li>Payments</li>
            <li>Returns</li>
          </ul>
        </div>
        <div class="link-col">
          About
          <ul class="link-col-list">
            <li>About us</li>
            <li>Blog</li>
            <li>Careers</li>
            <li>Jobs</li>
            <li>In Press</li>
          </ul>
        </div>
      </div> -->
      <p class="d-by">
        © {{ new Date().getFullYear() }} iWINGS - Digital Marketing Agency
      </p>
    </div>
    <img alt="image" class="footer-light" src="/images/footer-light.svg" />
  </div>
  <ClientOnly>
    <div
      class="elfsight-app-34f418fb-9a85-4a81-a643-5619ad462a24"
      data-elfsight-app-lazy
    ></div>
  </ClientOnly>
</template>

<script>
export default {
  mounted() {
    if (process.client) {
      const el = document.createElement("script");
      el.setAttribute("src", "https://static.elfsight.com/platform/platform.js");
      el.setAttribute("data-use-service-core", "");
      el.defer = true;
      document.head.appendChild(el);
    }
  },
};
</script>
<style scoped>
.d-by {
  position: absolute;
  bottom: 60px;
  right: 0;
  color: #8c8c8c;
  text-align: right;
  /* font-family: "29LT Bukra"; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-light {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* z-index: -1; */
}
.link-col-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.link-col-list li {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #8c8c8c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.footer-social-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-top: 80px;
  margin-bottom: 20px;
}
.links-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* align-items: center; */
  gap: 12px;
}
.footer-social-link .social-icon {
  cursor: pointer;
  display: flex;
  width: 48px;
  height: 48px;
  min-width: 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  background: linear-gradient(71deg, #0f44ec 4.55%, #55c0f9 126.14%);
  transition: all 0.3s;
}
.footer-info-text .text-1 {
  color: var(--Dark-Text, #8c8c8c);
  /* font-family: "29LT Bukra"; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}
.footer-info-text .text-2 {
  color: #ffff;
  /* font-family: "29LT Bukra"; */
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.footer-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-info-icon {
  display: flex;
  width: 48px;
  height: 48px;
  min-width: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid #ffffff21;
  background: linear-gradient(
    136deg,
    rgba(255, 255, 255, 0.22) -4.61%,
    rgba(255, 255, 255, 0) 93.85%
  );
}
.footer-line {
  position: absolute;
  top: 0;
  width: 120%;
  height: 2px;
  -o-object-fit: contain;
  object-fit: cover;
  left: 50%;
  opacity: 0.3;
  transform: translate(-55%, 50%);
}
.logo-section {
  padding: 50px;
}
.links-div-cont {
  padding: 80px 50px;
}
.logo-desc {
  color: #8c8c8c;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.social-icon:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.274);
}
@media only screen and (max-width: 991px) {
  .links-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 0px;
  }
  .link-col {
    margin-top: 15px;
    width: 50%;
    margin: 0;
  }
  .links-div-cont {
    padding: 0px 50px;
  }
  .d-by {
    right: unset;
    left: unset;
    position: relative;
    text-align: justify;
  }
  .footer-social-link {
    flex-wrap: wrap;
  }
}
</style>
<style>
.text-2 a {
  text-decoration: none;
  color: #ffff;
}
.p-b-75 {
  padding-bottom: 75px;
}
@media (max-width: 991px) {
  [class*="FloatingButton"] {
    bottom: 100px !important;
  }
  [class*="FloatingWindow"] {
    bottom: 175px !important;
  }
}
</style>
