<script setup>
const route = useRoute();

import { useToggle } from "@vueuse/core";

const [toggleMobileMnue, toggle] = useToggle();
</script>
<template>
  <header id="desktop" class="header_desktop">
    <div class="image-bg-h"></div>
    <div class="row content-align-center content-space-between">
      <div class="col-5 self-center text-center">
        <nuxt-link to="/" style="z-index: 9; position: relative">
          <img
            alt="image"
            class="logo-h"
            width="200px"
            src="/images/logo.svg"
          />
        </nuxt-link>
      </div>
      <div class="col-7 self-center text-center">
        <ul class="nav-mneu m-hide">
          <li :class="[route.path === '/' ? 'active' : '']">
            <nuxt-link to="/">home</nuxt-link>
          </li>
          <li :class="[route.path === '/our-services' ? 'active' : '']">
            <nuxt-link to="/our-services">Our services</nuxt-link>
          </li>
          <!-- <li :class="[route.path === '/projects' ? 'active' : '']">Projects</li> -->
          <li :class="[route.path === '/about-us' ? 'active' : '']">
            <nuxt-link to="/about-us">About us</nuxt-link>
          </li>
          <li :class="[route.path === '/our-team' ? 'active' : '']">
            <nuxt-link to="/our-team">Our team</nuxt-link>
          </li>
          <li :class="[route.path === '/contact-us' ? 'active' : '']">
            <nuxt-link to="/contact-us">Call Us</nuxt-link>
          </li>
        </ul>
        <ul class="nav-mneu m-show">
          <li class="mobile-mneu-btn" @click="toggle()">
            <img
              class="m-menu"
              v-if="!toggleMobileMnue"
              src="/images/open-mnue.svg"
              width="auto"
              height="auto"
              alt="icon"
            />
            <img
              class="m-menu"
              v-else
              src="/images/close-mnue.svg"
              width="auto"
              height="auto"
              alt="icon"
            />
          </li>
          <!-- <li>Our services</li>
          <li>projects</li>
          <li>About us</li>
          <li>call us</li> -->
        </ul>
      </div>
      <Transition name="slide-fade">
        <div v-if="toggleMobileMnue" class="nav-bar-mobile">
          <ul class="nav-bar-mobile-mnue">
            <li :class="[route.path === '/' ? 'active' : '']">
              <nuxt-link @click="toggle()" to="/">home</nuxt-link>
            </li>
            <li :class="[route.path === '/our-services' ? 'active' : '']">
              <nuxt-link @click="toggle()" to="/our-services"
                >Our services</nuxt-link
              >
            </li>
            <!-- <li :class="[route.path === '/projects' ? 'active' : '']">
              <nuxt-link @click="toggle()" to="/projects">Projects</nuxt-link>
            </li> -->
            <li :class="[route.path === '/about-us' ? 'active' : '']">
              <nuxt-link @click="toggle()" to="/about-us">About us</nuxt-link>
            </li>
            <li :class="[route.path === '/our-team' ? 'active' : '']">
              <nuxt-link to="/our-team">Our team</nuxt-link>
            </li>
            <li :class="[route.path === '/contact-us' ? 'active' : '']">
              <nuxt-link @click="toggle()" to="/contact-us">Call Us</nuxt-link>
            </li>
          </ul>
        </div>
      </Transition>
    </div>
  </header>
</template>
<style></style>
