<template>
  <div class="p-t-50 position-relative">
    <img
      src="/images/about/about-left-top-light.svg"
      alt="light"
      width="100%"
      height="100%"
      class="sub-s-about-left-top-light"
    />
    <img
      src="/images/about/about-right-bottom-light.svg"
      alt="light"
      width="100%"
      height="100%"
      class="sub-s-about-right-bottom-light m-hide"
    />
    <div class="container">
      <div class="row content-align-center p-15">
        <div class="col-6">
          <div class="sub-s-heading-div">
            <h1 class="sub-s-heading-1">
              <span class="sub-s-text-1">{{ dataProps.title }}</span>
              <!-- <span class="text-2">We Do Marketing Through Technology</span> -->
            </h1>
            <p class="sub-s-heading-div-p">{{ dataProps.p }}</p>
            <p class="sub-s-heading-div-p">{{ dataProps.p2 }}</p>
            <div class="fit-content">
              <!-- <NuxtLink to="/contact-us">
                <ButtonsPrimary
                  :btn="{ label: 'Get in touch', icon: '' }"
                ></ButtonsPrimary>
              </NuxtLink> -->
            </div>
          </div>
        </div>
        <div class="col-6 position-relative"></div>
      </div>
    </div>
    <NuxtImg
      class="sub-s-image-hero"
      loading="lazy"
      format="webp"
      alt="image"
      width="100%"
      height="100%"
      :src="dataProps.image"
    />
    <div class="sub-s-stars-left m-width"></div>
    <div class="sub-s-stars-right m-width"></div>
  </div>
</template>

<script>
export default {
  props: ["dataProps"],
  mounted() {
    window.addEventListener(
      "scroll",
      () => {
        document.body.style.setProperty(
          "--scroll",
          window.pageYOffset / (document.body.offsetHeight - window.innerHeight)
        );
      },
      false
    );
  },
};
</script>
