<template>
  <div class="container m-t-150">
    <div v-for="item in content" v-bind:key="item.link">
      <div class="row justify-center gap-row-contact p-15">
        <div class="col-6 full-width">
          <NuxtLink :to="item.link">
            <h2 class="sub-s-heading-2" style="margin-top: 35px">
              {{ item.title }}
            </h2>
            <ButtonsSecoundary
              style="width: min-content"
              :btn="{ label: 'Explore more', icon: 'arrow-right' }"
            ></ButtonsSecoundary>
          </NuxtLink>
        </div>
        <div class="col-4 full-width">
          <p class="sub-p-text">{{ item.p }}</p>
        </div>
      </div>
      <hr style="opacity: 0.1; margin-top: 40px" />
    </div>
  </div>
</template>
<script>
export default {
  props: ["content"],
};
</script>
