@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
$lg-primary: linear-gradient(87deg, #0f44ec -4.17%, #55c0f9 73.28%);
$primary: #030014;
$blue-color: #0d47f5;
$cyan_color: #55c0f9;
$white_color: #ffffff;
@font-face {
  font-family: "Conthrax";
  src: url("/Conthrax.ttf");
  font-display: swap;
}
a {
  color: #ffffff;
  text-decoration: none;
  width: auto;
}
.text-upper {
  text-transform: uppercase;
}
h1,
h2,
h3 {
  font-family: "Conthrax" !important;
  text-transform: uppercase;
}
$font_family: "Raleway";
* {
  box-sizing: border-box;
}
*,
html {
  scroll-behavior: smooth !important;
}
img {
  pointer-events: none;
}
//   html { overflow:auto;  overflow-x:hidden !important; }
body {
  color: $white_color;
  background: $primary;
  font-family: $font_family;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

.row {
  display: flex;
  padding: 0;
  margin: 0;
  // width: 100%;
  position: relative;
}
.content-align-center {
  align-content: center;
  align-items: center;
}
.content-space-between {
  justify-content: space-between;
}
.self-center {
  align-self: center;
  vertical-align: middle;
}
.text-center {
  text-align: center;
}
.col-4 {
  width: 33%;
}
.col-5 {
  width: 34%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 66%;
}
.col-8 {
  width: 66%;
}
.col-12 {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: auto;
  justify-content: center;
  position: relative;
}
.m-hide {
  display: block;
}
.m-show {
  display: none;
}
@media (max-width: 991px) {
  .m-hide {
    display: none;
  }
  .m-show {
    display: block;
  }
  .m-width {
    width: 100% !important;
    height: 100% !important;
  }
  .m-width-1 {
    width: 100% !important;
    /* height: 100% !important; */
    height: 300px !important;
  }
  .heading-2 {
    font-size: 2em !important;
  }
  .full-width{
    width: 100%;
  }
}
.container-big {
  max-width: 1500px;
  margin: 0 auto;
  width: auto;
  justify-content: center;
  position: relative;
}
.heading-2 {
  background: linear-gradient(85.44deg, #0f44ec 10.16%, #55c0f9 126.52%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: Raleway;
  font-size: 2.4em;
  // font-size: 52px;

  font-weight: 700;
  line-height: 117px;
  letter-spacing: 0em;
  //   text-align: center;
  //   text-transform: capitalize;
}
.p-0 {
  padding: 0px;
}
.p-15 {
  padding: 15px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-t-10 {
  padding-top: 10px;
}
.p-t-25 {
  padding-top: 25px;
}
.p-t-50 {
  padding-top: 50px;
}
.m-0 {
  margin: 0px;
}
.m-t-15 {
  margin-top: 15px;
}
.m-t-25 {
  margin-top: 15px;
}
.m-t-35 {
  margin-top: 35px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-b-50 {
  margin-top: 50px;
}
.m-t-150 {
  margin-top: 150px;
}
.m-b-150 {
  margin-bottom: 150px;
}
.p-b-150 {
  padding-bottom: 150px;
}
.bg-primary {
  background: $primary;
}
.z-0-1 {
  z-index: -1;
}
.z-0-2 {
  z-index: -2;
}
.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.overflow-hidden {
  overflow: hidden;
}
.circle-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;

  &--outer {
    width: 100px;
    height: 100px;
    border: 1px solid var(--color-text);
    z-index: 12000;
    background: var(--color-text);
    box-shadow: 0 0 100px 100px var(--color-text);
    opacity: 1;
    mix-blend-mode: overlay;
  }

  &--inner {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    z-index: 11000;
    background: var(--color-text);
  }
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.justify-center {
  justify-content: center !important;
}

@media (max-width: 991px) {
  .row {
    flex-wrap: wrap;
  }
  .col-6 {
    width: 100%;
  }
  .mouseLight {
    display: none;
  }
  .process-right2-light {
    display: none;
  }
}
#__nuxt {
  overflow: hidden;
}

@keyframes stars {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(0.98);
    /* margin-left: 0px; */
  }
  100% {
    opacity: 1;
    transform: scale(1);
    /* transform: scale(1); */
    /* margin-left: 15px; */
  }
}
.m-auto{
      margin: 0 auto;
}
.gap-row-contact {
  gap: 15px;
}
@media (max-width: 991px) {
  .fixed-animation {
    margin-top: 700px;
  }
  .gap-row-contact {
    /* flex-direction: column-reverse; */
    margin-top: 10px;
  }
}
.sub-p-text{
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  // font-family: 'Raleway';
}
.sub-s-image-hero {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.sub-s-heading-1 .sub-s-text-1 {
  margin-bottom: 26.8px;
}
@media (max-width: 991px) {
  /* .heading-1 .text-1 {
    margin-bottom:
  } */
  .sub-s-heading-1 {
    font-size: 2.5em !important;
  }
  .sub-s-heading-div-p {
    font-family: Raleway;
    font-size: 18px !important;

    line-height: 150% !important; /* 24px */
    background: linear-gradient(
      137deg,
      #fff -18.54%,
      rgba(255, 255, 255, 0) 149.75%
    ) !important;
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    backdrop-filter: blur(2px) !important;
  }
  .sub-s-about-left-top-light {
    background-image: unset !important;
    background: linear-gradient(
      148deg,
      rgba(85, 192, 249, 0.34) 0%,
      rgba(255, 255, 255, 0) 73%
    );
    height: 100% !important;
    width: 100% !important;
  }
  .sub-s-image-hero {
    position: relative;
    width: 120%;
    height: 100%;
    object-fit: unset;
    left: -50px;
  }
  .shape-h1 {
    /* position: absolute; */
    top: 0% !important;
    bottom: unset !important;
    left: 50% !important;
    font-size: 113px !important;
    transform: translate(-50%, 64%) !important;
  }
}

.sub-s-heading-div-p {
  font-variant-numeric: lining-nums proportional-nums;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  /* text-transform: capitalize; */
  background: linear-gradient(
    137deg,
    #fff -18.54%,
    rgba(255, 255, 255, 0) 149.75%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backdrop-filter: blur(2px);
}

.sub-s-about-left-top-light {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: auto;
  object-fit: cover;
}
.sub-s-about-right-bottom-light {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: auto;
  object-fit: cover;
}
.sub-s-heading-1 {
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 150%; /* 138px */
}
.sub-s-heading-1 .sub-s-text-1,
.sub-s-heading-1 .sub-s-text-2 {
  display: block;
}
.sub-s-heading-1 .sub-s-text-1 {
  background: linear-gradient(
    126deg,
    #fff -6.54%,
    rgba(255, 255, 255, 0) 152.98%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backdrop-filter: blur(2px);
}
.sub-s-heading-1 .sub-s-text-2 {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 38.4px */
}
.sub-s-stars-left {
  height: 60%;
  background-image: url("/images/Stars-left.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 60%;
  background-position: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
  animation-name: stars;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
}
.sub-s-stars-right {
  height: 60%;
  background-image: url("/images/Stars-right.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 60%;
  background-position: 0;
  position: absolute;
  bottom: -20%;
  right: 0;
  z-index: -2;
  animation-name: stars;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}
.sub-s-div-hero-right,
.sub-s-div-hero-left {
  /* animation: scroll-img 1s ease forwards; */
  /* animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both; */
}
@keyframes scroll-img {
  0% {
    /* transform: scale(100%);
    background: red; */
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.fit-content {
  width: fit-content;
}
/*
  Enter and leave animations can use different
  durations and timing functions.
*/
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(20px);
  opacity: 0;
}
.mobile-mneu-btn {
  cursor: pointer;
}
.header_desktop {
  padding: 0;
  width: 760px;
  position: fixed;
  /* height: 205px; */
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 10;
}
.header_desktop .image-bg-h {
  width: 765px;
  height: 129px;
  background-size: 100% !important;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0%);
  background: url(/images/h-bg.svg);
  position: absolute;
  background-repeat: no-repeat;
  bottom: -75px;
  backdrop-filter: blur(4px);
  border-radius: 12px;
}
.header_desktop .row {
  text-align: center;
  background: none;
  /* z-index: 1; */
}
.logo-h {
  vertical-align: middle;
}
.nav-mneu {
  list-style-type: none;
  margin: 0;
}
.nav-mneu li {
  /* cursor: pointer; */
  text-transform: capitalize;
  display: inline;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff99;
  position: relative;
  transition: all 0.2s;
}
.nav-mneu li a {
  color: #ffffff99;
  text-decoration: none;
}
.nav-mneu li.active {
  color: #ffffff;
}
.nav-mneu li.active::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100vw;
  height: 0.5em;
  width: 0.5em;
  background-color: #ffffff;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%, 0%);
}
@media (max-width: 991px) {
  .nav-bar-mobile-mnue {
    text-align: left;
    list-style: none;
    padding: 10px;
  }
  .nav-bar-mobile-mnue li {
    text-align: left;
    color: #ffffff99;
    /* font-family: Raleway; */
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
  }
  .nav-bar-mobile-mnue li a {
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    text-decoration: none;
    color: #ffffff99;
    text-transform: capitalize;
  }
  .nav-bar-mobile-mnue li.active a {
    text-decoration: none;
    color: #ffffff;
  }
  .nav-bar-mobile {
    padding: 15px;
    width: 100%;
    /* display: none; */
    border-radius: 14px;
    background: #d9d9d917;
    backdrop-filter: blur(11px);
    position: absolute;
    bottom: 70px;
    border: 1px solid rgba(128, 128, 128, 0.247);
    transition: all 0.3s;
  }
  /* .nav-bar-mobile::before {
    content: "";
    position: absolute;
    visibility: visible;
    top: -1px;
    right: -10px;
    border: 10px solid transparent;
    border-top: 10px solid #ccc;
    background: url("/images/arrow-mobile-m.svg");
  } */

  .nav-bar-mobile:after {
    content: "";
    position: absolute;
    visibility: visible;
    bottom: -21px;
    right: 16px;
    background: url("/images/arrow-mobile-m.svg");
    border: 10px solid transparent;
    border-top: 10px solid rgb(255 255 255 / 14%);
    clear: both;
  }
  .nav-bar-mobile-show {
    display: block;
    bottom: 70px;
  }
  .nav-bar-mobile-hide {
    display: none;
  }

  .nav-mneu {
    text-align: right;
    margin-right: 00px;
  }
  .header_desktop row {
    margin-top: 25px;
  }
  .header_desktop {
    padding: 0;
    width: 252px;
    position: fixed;
    /* height: 205px; */
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 100%);
    z-index: 99999999999999999999;
  }
  .header_desktop .image-bg-h {
    width: 260px;
    height: 140px;
    background-size: 100% !important;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, 0%);
    background: url(/images/mobile/h-bg.svg);
    position: absolute;
    background-repeat: no-repeat;
    bottom: -93px;
    border-radius: 5px;
    backdrop-filter: blur(2px);
    border-radius: 12px;
  }
  .logo-h {
    width: 170px;
    margin-left: 8px;
  }
  .m-menu {
    vertical-align: bottom;
  }
  .lbvXTF {
    bottom: 100px !important;
  }
}
@media (min-width: 389px) and (max-width: 991px) {
  .header_desktop {
    transform: translate(-50%, 20%) scale(1.42);
  }
}
@media (max-width: 389px) {
  .header_desktop {
    transform: translate(-50%, 65%) scale(1.15);
  }
}
