<template>
  <div
    class="m-t-150 position-relative clients-light"
    @scroll="handleScroll"
    ref="wrapper"
  >
    <!-- <img alt="image"  class="clients-bottom-light" src="/images/clients-bottom-light.svg" />
    <img alt="image"  class="clients-top-light" src="/images/clients-top-light.svg" /> -->
    <div class="row logo-clients">
      <div class="col-12 container logo-clients-div position-relative">
        <img alt="image" class="clients-top-line" src="/images/way-top-line.svg" />
        <img alt="image" class="clients-bottom-line" src="/images/way-bottom-line.svg" />
        <carousel
          v-bind="settings"
          :breakpoints="breakpoints"
          ref="carousel"
          :wrap-around="true"
        >
          <slide v-for="slide in 8" :key="slide">
            <div class="carousel__item">
              <img
                width="auto"
                height="auto"
                alt="image"
                :src="'/images/logos/' + slide + '.svg'"
              />
            </div>
          </slide>
          <!-- <template #addons>
            <navigation />
            <div class="slider-pagination">
              <pagination />
            </div>
          </template> -->
        </carousel>
        <!-- <div class="logo-item" v-for="item in logos" v-bind:key="item">
          <img alt="image"  :src="item.url" />
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      logos: [],
      settings: {
        itemsToShow: 5,
        snapAlign: "center",
        transition: 500,
        mouseDrag: true,
        touchDrag: true,

        autoplay: 1000,
        interval: 10,
        // wrapAround: true,
      },
      // breakpoints are mobile first
      // any settings not specified will fallback to the carousel settings
      breakpoints: {
        // 700px and up
        300: {
          itemsToShow: 3,
          snapAlign: "center",
          wrapAround: true,
          autoplay: 1000,
        },
        700: {
          itemsToShow: 5,
          snapAlign: "center",
        },
        // 1024 and up
        1024: {
          itemsToShow: 6,
          snapAlign: "start",
          // wrapAround: true,
        },
      },
    };
  },
  methods: {
    logosPrint() {
      for (var i = 1; i <= 5; i++) {
        this.logos.push({ url: `/images/logos/${i}.svg` });
      }
    },
    handleScroll() {
      if (process.client) {
        const myCarousel = this.$refs.carousel;
        var currentScrollPosition = window.scrollY;
        if (myCarousel) {
          if (currentScrollPosition < this.scrollPosition) {
            myCarousel.next();
            // myCarousel.updateSlideWidth();
            // this.showFullNav = true;
            //your desire logic
          } else {
            // this.showFullNav = false;
            myCarousel.prev();
            // myCarousel.updateSlideWidth(this.itemsToShow);
            //your desire logic
          }
        }

        this.scrollPosition = window.scrollY;
      }
      // this.$refs.carousel.$el.style.transition = "none";
    },
  },

  destroyed() {
    if (process.client) {
      // let width = window.innerWidth;
      // if (width > 600) {
      window.removeEventListener("scroll", this.handleScroll);
      // }
    }
  },
  created() {
    if (process.client) {
      // let width = window.innerWidth;
      // if (width > 600) {
      window.addEventListener("scroll", this.handleScroll);
      // }
    }

    this.logosPrint();
  },
};
</script>

<style scoped>
.scrollable-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  height: 300px; /* Set the height as per your requirement */
}
.logo-clients:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  background: rgb(3, 0, 20);
  background: linear-gradient(
    90deg,
    rgba(3, 0, 20, 0.9444152661064426) 26%,
    rgba(3, 0, 20, 0) 98%
  );

  margin-left: 15%;
}
.logo-clients:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20%;
  background: rgb(3, 0, 20);
  background: linear-gradient(
    262deg,
    rgba(3, 0, 20, 0.9444152661064426) 26%,
    rgba(3, 0, 20, 0) 98%
  );
  z-index: 1;
  margin-right: 15%;
}
.clients-top-line {
  position: absolute;
  top: -4px;
  right: 0;
  opacity: 0.2;
}
.clients-bottom-line {
  position: absolute;
  bottom: -4px;
  left: 0;
  opacity: 0.1;
}
.logo-clients {
  transform: rotate(352deg);
  flex-shrink: 0;
  width: 150%;
  margin-left: -25%;
  background: linear-gradient(
    139deg,
    rgba(220, 220, 220, 0.09) -10.59%,
    rgba(221, 221, 221, 0.01) 62.38%
  );
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 12%);
  backdrop-filter: blur(2px);
}
.logo-clients-div {
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
}
.logo-clients .logo-clients-div .logo-item {
  /* min-width: 10%; */
  padding: 0 20px;
}
.carousel__item img {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (max-width: 600px) {
  .carousel__item img {
    /* width: 150px; */
  }
}
</style>
