<template>
  <div class="position-relative overflow-hidden">
    <!-- <img alt="image"  class="featured-section-ellipse" src="/images/Ellipse 7.svg" /> -->

    <div class="container m-t-150 z-1">
      <div class="row">
        <div class="col-12 text-center">
          <h2 class="heading-2">FEATURED CASE STUDIES</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center featured-section">
          <div class="tabs-container">
            <div class="tab-item active">All</div>
            <div class="tab-item">Web development</div>
            <div class="tab-item m-hide-f">Mobile app</div>
            <div class="tab-item m-hide-f">Graphic Design</div>
            <div class="tab-item m-show m-show-f">
              <svg
                class="m-menu"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M9.25 5C9.25 3.48 10.48 2.25 12 2.25C13.52 2.25 14.75 3.48 14.75 5C14.75 6.52 13.52 7.75 12 7.75C10.48 7.75 9.25 6.52 9.25 5ZM13.25 5C13.25 4.31 12.69 3.75 12 3.75C11.31 3.75 10.75 4.31 10.75 5C10.75 5.69 11.31 6.25 12 6.25C12.69 6.25 13.25 5.69 13.25 5Z"
                  fill="white"
                />
                <path
                  d="M9.25 19C9.25 17.48 10.48 16.25 12 16.25C13.52 16.25 14.75 17.48 14.75 19C14.75 20.52 13.52 21.75 12 21.75C10.48 21.75 9.25 20.52 9.25 19ZM13.25 19C13.25 18.31 12.69 17.75 12 17.75C11.31 17.75 10.75 18.31 10.75 19C10.75 19.69 11.31 20.25 12 20.25C12.69 20.25 13.25 19.69 13.25 19Z"
                  fill="white"
                />
                <path
                  d="M9.25 12C9.25 10.48 10.48 9.25 12 9.25C13.52 9.25 14.75 10.48 14.75 12C14.75 13.52 13.52 14.75 12 14.75C10.48 14.75 9.25 13.52 9.25 12ZM13.25 12C13.25 11.31 12.69 10.75 12 10.75C11.31 10.75 10.75 11.31 10.75 12C10.75 12.69 11.31 13.25 12 13.25C12.69 13.25 13.25 12.69 13.25 12Z"
                  fill="white"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-t-50 m-b-150 carv_top">
    <div class="col-12 text-center">
      <carousel
        class="carousel"
        v-bind="settings"
        :breakpoints="breakpoints"
        ref="carousel"
      >
        <slide v-for="slide in 14" :key="slide">
          <div class="carousel__item">
            <img
              loading="lazy"
              format="webp"
              alt="image"
              :src="'/images/slider/' + slide + '.webp'"
            />
          </div>
        </slide>
        <template #addons>
          <!-- <navigation /> -->
          <div class="slider-pagination">
            <pagination />
          </div>
        </template>
      </carousel>
    </div>
    <!-- <img alt="image"  class="featured-section-ellipse-bottom" src="/images/Ellipse 7.svg" /> -->
  </div>
</template>

<style scoped>
.carousel {
  background: #030014;
}
.carv_top {
  width: 100%;
  position: relative;
}
.carv_top:after {
  content: "";
  position: absolute;
  top: -2px;
  width: 100%;
  height: 50px;
  border-bottom-right-radius: 200%;
  border-bottom-left-radius: 200%;
  background: #030014;
  z-index: 0;
}
.carv_top:before {
  content: "";
  position: absolute;
  bottom: 60px;
  width: 100%;
  height: 50px;
  border-top-right-radius: 200%;
  border-top-left-radius: 200%;
  background: #030014;
  z-index: 1;
}
.featured-section-ellipse {
  position: absolute;
  bottom: -100px;
  max-width: 100%;
  width: 100%;
  height: 300px;
  z-index: 1;
  left: 53%;
  transform: translate(-50%, 0%);
}
.featured-section-ellipse-bottom {
  position: absolute;
  bottom: -220px;
  max-width: 100%;
  width: 100%;
  height: 300px;
  z-index: 0;
  left: 53%;
  transform: translate(-50%, 0%);
}
.tabs-container {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  padding: 10px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 12%);
  background: linear-gradient(
    167deg,
    rgba(255, 255, 255, 0.17) -93.24%,
    rgba(255, 255, 255, 0.02) 132.03%
  );
  backdrop-filter: blur(11px);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.tabs-container .tab-item {
  position: relative;
  padding: 13px 40px;
  display: block;
  min-width: 80px;
  border-radius: 10px;
  transition: all 0.4s;
  color: #717171;

  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;

  cursor: pointer;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.tab-item:after {
  transition: all 0.6s;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #7bd1ffa8;
  opacity: 0;
  border-radius: 50%;
  /* backdrop-filter: blur(15px); */
  filter: blur(18px);
  width: 70%;
  height: 70px;
  z-index: 0;
}
.tab-item:hover::after {
  opacity: 0.4;
}
.tab-item:hover {
  color: white;
}
.tab-item.active {
  color: white;
  background: var(--blue-color, #0d47f5);
}
@media (min-width: 1600px) {
  .carv_top:after {
    height: 100px;
  }
  .carv_top:before {
    height: 100px;
  }
}
</style>
<script>
// If you are using PurgeCSS, make sure to whitelist the carousel CSS classes
// import 'vue3-carousel/dist/carousel.css'
import { Carousel, Slide, Pagination, Navigation } from "vue3-carousel";

export default {
  name: "App",
  components: {
    Carousel,
    Slide,
    Pagination,
    Navigation,
  },
  data() {
    return {
      settings: {
        itemsToShow: 3.2,
        snapAlign: "center",
        transition: 1000,
      },
      // breakpoints are mobile first
      // any settings not specified will fallback to the carousel settings
      breakpoints: {
        // 700px and up
        300: {
          itemsToShow: 1,
          snapAlign: "center",
        },
        700: {
          itemsToShow: 1,
          snapAlign: "center",
        },
        // 1024 and up
        1024: {
          itemsToShow: 3.2,
          snapAlign: "center",
        },
      },
    };
  },
};
</script>
<style scoped>
.carousel__slide {
  padding: 15px;
  z-index: -1;
  /* margin-left: 15px; */
  position: relative;
}

.carousel__viewport {
  perspective: 2000px;
}

.carousel__track {
  transform-style: preserve-3d;
}

.carousel__slide--sliding {
  transition: 0.5s;
}

.carousel__slide {
  opacity: 0.9;
  transform: rotateY(-20deg) scale(1.5);
}

.carousel__slide--active ~ .carousel__slide {
  transform: rotateY(20deg) scale(1.5);
}

.carousel__slide--prev {
  opacity: 1;
  transform: rotateY(-10deg) scale(1.5);
}

.carousel__slide--next {
  opacity: 1;
  transform: rotateY(10deg) scale(1.6);
}

.carousel__slide--active {
  opacity: 1;
  transform: rotateY(0) scale(1.4);
}
.carousel__slide img {
  width: 100%;
  max-width: 280px;
  height: 280px;
  object-fit: cover;
}
@media (min-width: 1600px) and (max-width: 2000px) {
  .carousel__slide img {
    width: 100%;
    height: 380px;
    object-fit: cover;
  }
}
@media (min-width: 2000px) {
  .carousel__slide img {
    width: 100%;
    height: 480px;
    object-fit: cover;
  }
}
/* @media (max-width: 350px) {
  .carousel__slide img {
    width: 100%;
    height: 280px;
    object-fit: cover;
  }
} */
</style>
<style>
.carousel__pagination {
  z-index: 2;
  position: relative;
}
.carousel__pagination-button:after {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: #0d47f54f !important;
  transition: all 0.3s;
}
.carousel__pagination-item {
  transition: all 0.3s;
  z-index: 1;
}
.carousel__pagination-button {
  transition: all 0.3s;
}
.carousel__pagination-button--active.carousel__pagination-button:after {
  transition: all 0.3s;
  width: 20px;
  height: 8px;
  background: #0d47f5 !important;
  border-radius: 20px;
}
.slider-pagination {
  padding-top: 60px;
}
.m-show-f {
  display: none !important;
}

@media (max-width: 991px) {
  .heading-2 {
    line-height: 50px;
  }
  .m-hide-f {
    display: none !important;
  }
  .m-show {
    vertical-align: middle;
  }

  .tabs-container .tab-item {
    padding: 12px 5px !important;
  }
  .featured-section {
    padding: 15px;
  }
  .slider-pagination {
    margin-left: -35px;
  }
  .m-show-f {
    display: block !important;
  }
  .tabs-container {
    border-radius: 100px !important;
    align-items: center;
  }
  .tab-item {
    border-radius: 100px !important;
  }
}
</style>
