<template>
  <div class="hero-home">
    <div class="content-hero">
      <h1>elevate your brand</h1>
    </div>
    <div class="content-hero-bottom">
      <h2>The Marketing Through Technology Agency</h2>
      <div class="buttons row">
        <div class="col-6">
          <NuxtLink to="/contact-us">
            <ButtonsPrimary
              :btn="{ label: 'Call US', icon: 'arrow-right' }"
            ></ButtonsPrimary>
          </NuxtLink>
        </div>
        <div class="col-6">
          <NuxtLink to="/our-services">
            <ButtonsSecoundary
              :btn="{ label: 'Explore more', icon: 'arrow-right' }"
            ></ButtonsSecoundary>
          </NuxtLink>
        </div>
      </div>
    </div>
    <div class="stars-left m-width"></div>
    <div class="stars-right m-width-1"></div>
    <div class="ellipse-right"></div>
    <div class="ellipse-left m-hide"></div>
    <div class="logo-hero"></div>
  </div>
</template>
<style scoped>
.hero-home {
  height: 100vh;
  width: 100%;
  margin: 0;
  position: relative;
  /* overflow: hidden; */
}
.hero-home .content-hero {
  position: absolute;
  /* top: 100px; */
  z-index: 1;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 20%);
}
.hero-home .content-hero-bottom .row > div {
  margin-right: 15px;
}
.hero-home .content-hero-bottom {
  position: absolute;
  /* top: 100px; */
  bottom: 15%;
  z-index: 2;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -00%);
}
.content-hero-bottom h2 {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 300;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
}
.content-hero h1 {
  background: linear-gradient(85.44deg, #0f44ec 10.16%, #55c0f9 126.52%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: Raleway;
  font-size: 2.8em;
  font-weight: 700;
  line-height: 117px;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}
.hero-home .logo-hero {
  height: 86%;
  background-image: url("/images/opo1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 105%;
  position: absolute;
  top: 0;
  left: -1.5%;
  z-index: -2;
}
.hero-home .stars-left {
  height: 60%;
  background-image: url("/images/Stars-left.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 60%;
  background-position: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
  animation-name: stars;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
}
.hero-home .stars-right {
  height: 60%;
  background-image: url("/images/Stars-right.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 60%;
  background-position: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -2;
  max-height: 600px;
  animation-name: stars;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}
.hero-home .ellipse-right {
  height: 130%;
  background-image: url("/images/Ellipse-right.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 50%;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}
.hero-home .ellipse-left {
  height: 100%;
  background-image: url("/images/Ellipse-left.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 50%;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

@media (max-width: 991px) {
  .content-hero-bottom h2 {
    font-size: 20px;
  }
  .hero-home .content-hero {
    width: 100%;
    transform: translate(-50%, 9%);
  }
  .hero-home .content-hero h1 {
    text-align: center;
    font-family: Raleway;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 70px */
    text-transform: uppercase;
  }
  .content-hero-bottom {
    padding: 15px;
    width: 100%;
  }
  .hero-home {
    /* overflow: hidden; */
  }
  .logo-hero {
    height: 60% !important;
    background-image: url("/images/mobile/hero-bg.svg") !important;
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
    background-position: center center;
    width: 100% !important;
    position: absolute;
    top: 10% !important;
    left: 0 !important;
    z-index: -2;
    max-height: 300px;
    max-width: 100vw;
  }
  .hero-home .content-hero-bottom {
    position: absolute;
    /* top: 100px; */
    bottom: 27%;
    z-index: 2;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 12%);
  }
  .hero-home .content-hero-bottom .row > div {
    margin-right: 0;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    padding: 10px 15px;
  }
  .hero-home .ellipse-right,
  .hero-home .ellipse-left {
    width: 100%;
  }
  .ellipse-right {
    background-image: unset !important;

    background: linear-gradient(
      85deg,
      rgba(255, 255, 255, 0) 2%,
      rgb(85 192 249 / 23%) 98%
    ) !important;
  }
  .hero-home .stars-left {
    /* background-size: cover !important; */
  }
  .hero-home .stars-right {
    background-size: cover !important;
    max-width: 100vh;
    max-height: 200px;
  }
}
</style>
