<template>
  <div class="position-relative">
    <NuxtImg
      format="webp"
      alt="image"
      quality="10"
      class="process-right-light"
      src="/images/process-right-light.svg"
    />
    <NuxtImg
      format="webp"
      alt="image"
      quality="10"
      class="process-right2-light"
      src="/images/process-right2-light.svg"
    />
    <NuxtImg
      format="webp"
      quality="10"
      alt="image"
      class="process-left-light"
      src="/images/process-left-light.svg"
    />

    <div class="container m-t-150 z- wrapper">
      <div class="row header1">
        <div class="col-12 position-relative">
          <div class="blur-process"></div>
          <div class="blur-process-2"></div>
          <h2 class="heading-2 process-heading">OUR PROCESS</h2>
          <NuxtImg
            format="webp"
            alt="image"
            width="100%"
            class="width-100"
            src="/images/process-2.svg"
          />
          <NuxtImg
            format="webp"
            alt="image"
            class="process-1-div"
            src="/images/process-1-div.svg"
          />
          <div class="process-content">
            <h3>1 Discovery</h3>
            <p>
              We dive deep into your business, and understand your goals, needs,
              customers, and your competitors.
            </p>
          </div>
        </div>
      </div>
      <div class="cards">
        <div class="row m-t-70- card">
          <div class="col-12 position-relative">
            <div class="blur-process"></div>
            <div class="blur-process-2"></div>
            <!-- <h2 class="heading-2 process-heading">OUR PROCESS</h2> -->
            <NuxtImg
              format="webp"
              alt="image"
              width="100%"
              class="width-100"
              src="/images/process-2.svg"
            />
            <NuxtImg
              format="webp"
              alt="image"
              class="process-2-div"
              src="/images/process-2-div.svg"
            />
            <div class="process-content">
              <h3>2 Strategies</h3>
              <p>
                We dive deep into your business, and understand your goals, needs,
                customers, and your competitors.
              </p>
            </div>
          </div>
        </div>
        <div class="row m-t-70- card">
          <div class="col-12 position-relative">
            <div class="blur-process"></div>
            <div class="blur-process-2"></div>
            <!-- <h2 class="heading-2 process-heading">OUR PROCESS</h2> -->
            <NuxtImg
              format="webp"
              alt="image"
              width="100%"
              class="width-100"
              src="/images/process-2.svg"
            />
            <NuxtImg
              format="webp"
              alt="image"
              class="process-2-div"
              src="/images/process-3-div.svg"
            />
            <div class="process-content">
              <h3 style="margin-bottom: 0">3 Design</h3>
              <!-- <h3 style="margin: 0; margin-left: 35px">Design</h3> -->
              <p>
                Our talented team brings your vision to life, creating experiences that
                leave a lasting impression on your audience.
              </p>
            </div>
          </div>
        </div>
        <div class="row m-t-70- card">
          <div class="col-12 position-relative">
            <div class="blur-process"></div>
            <div class="blur-process-2"></div>
            <!-- <h2 class="heading-2 process-heading">OUR PROCESS</h2> -->
            <NuxtImg
              format="webp"
              alt="image"
              width="100%"
              class="width-100"
              src="/images/process-2.svg"
            />
            <NuxtImg
              format="webp"
              alt="image"
              class="process-4-div"
              src="/images/process-4-div.svg"
            />
            <div class="process-content">
              <h3>4 Development</h3>
              <p>
                Our skilled engineers bring the creative vision to life, turning designs
                into high-performing digital solutions.
              </p>
            </div>
          </div>
        </div>
        <div class="row m-t-70- card">
          <div class="col-12 position-relative">
            <div class="blur-process"></div>
            <div class="blur-process-2"></div>
            <!-- <h2 class="heading-2 process-heading">OUR PROCESS</h2> -->
            <NuxtImg
              format="webp"
              alt="image"
              width="100%"
              class="width-100"
              src="/images/process-2.svg"
            />
            <NuxtImg
              format="webp"
              alt="image"
              class="process-4-div"
              src="/images/process-5-div.svg"
            />
            <div class="process-content">
              <h3>5 Optimization</h3>
              <p>
                We monitor performance metrics constantly, we fine-tune and optimize your
                marketing efforts for exceptional results.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script setup>
import { onMounted, onBeforeUnmount, ref } from "vue";
import { ScrollTrigger } from "gsap/ScrollTrigger";

const { $gsap: gsap } = useNuxtApp();

const main = ref();
const ctx = ref();
const props = defineProps({
  anim: Boolean,
});
let anim = props;
onMounted(() => {
  if (process.client) {
    if (anim.anim) {
      // gsap.registerPlugin(ScrollTrigger);
      const cards = document.querySelectorAll(".card");
      const header = document.querySelector(".header1");
      const animation = gsap.timeline();
      let cardHeight;
      function initCards() {
        animation.clear();
        cardHeight = cards[0].offsetHeight;
        // console.log("initCards()", cardHeight);
        gsap.set(cards[0], { y: 1 * cardHeight });
        animation.to(cards[0], { y: 0, duration: 1 * 1.5, ease: "none" }, 0);
        cards.forEach((card, index) => {
          if (index > 0) {
            //increment y value of each card by cardHeight
            gsap.set(card, { y: (index + 1) * cardHeight });
            //animate each card back to 0 (for stacking)
            animation.to(card, { y: 0, duration: (index + 1) * 1.5, ease: "none" }, 0);
          }
        });
      }

      initCards();
      ctx.value = gsap.context(() => {
        ScrollTrigger.create({
          trigger: ".wrapper",
          start: "top top",
          pin: true,
          end: () => `+=${cards.length * cardHeight + header.offsetHeight}`,
          scrub: true,
          animation: animation,
          markers: false,
          invalidateOnRefresh: true,
        });
      }, main.value);

      ScrollTrigger.addEventListener("refreshInit", initCards);

      // ctx.value = gsap.context(() => {
      //   gsap.utils.toArray(".animation").forEach((box) => {
      //     ScrollTrigger.create({
      //       trigger: box,
      //       pin: true,
      //       toggleClass: "active",
      //       start: "center center",
      //       // end: "+=300",
      //       scrub: true,
      //       // markers: true,
      //     });
      //   });
      // }, main.value);
    }
  }
});

onBeforeUnmount(() => {
  if (anim.anim) {
    ctx.value.revert(); // <- Easy Cleanup!
  }
});
</script>
<style scoped>
img {
  pointer-events: none;
}
.m-t-70- {
  margin-top: -400px;
}
.blur_svg {
  /* width: 100%; */
  backdrop-filter: blur(11px);
}
.width-100 {
  width: 100%;
}
</style>
<style scoped>
.process-heading {
  position: absolute;
  top: -10%;
  left: 50%;
}
.process-1-div {
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 64%;
  border-top-right-radius: 40px;
}
.process-2-div {
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 74%;
  border-top-right-radius: 40px;
}
.process-4-div {
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 64.1%;
  border-top-right-radius: 40px;
}
.process-content {
  position: absolute;
  top: -3%;
  left: 5%;
  max-width: 320px;
}
.blur-process {
  position: absolute;
  top: 4px;
  left: 2px;
  height: 98%;
  width: 34.29%;
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
}
.blur-process-2 {
  position: absolute;
  bottom: 13px;
  left: 9px;
  height: 317px;
  width: 99%;
  /* background: black; */
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
  border-bottom-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
}
/* .blur-process:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: red;
  top: 0;
  right: 0;
} */
.process-content h3 {
  font-size: 1.7em;
  font-style: normal;
  font-weight: 800;
  line-height: 160%; /* 99.2px */
  background: linear-gradient(180deg, #fff 17.2%, rgba(255, 255, 255, 0) 93.01%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.process-content p {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  margin-left: 40px;
  /* Font - Desktop/bodytext 2 */
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: 160%; /* 38.4px */
}

.process-right-light {
  position: absolute;
  right: 0;
  top: -35%;
  z-index: 0;
}
.process-right2-light {
  position: absolute;
  right: 0;
  bottom: -50%;
  z-index: 0;
}
.process-left-light {
  position: absolute;
  left: 0;
  top: 20%;
  z-index: 0;
}
/* .animation {
  filter: blur(10px);
}
.animation .blur-process{
  filter: blur(10px);
  backdrop-filter:unset;
}
.animation.active {
  filter: unset;
  backdrop-filter: blur(11px);
} */
.card {
}
.process-right-light {
  top: unset;
}
.cards {
  width: 100%;
  height: 100vh;
  position: relative;
}
</style>
