<template>
  <div class="container-big-" style="position: relative">
    <NuxtImg
      format="webp"
      alt="image"
      class="Ellipse-ser-right"
      width="800px"
      src="/images/Ellipse-ser-right.svg"
    />
    <NuxtImg
      format="webp"
      alt="image"
      class="Ellipse-ser-left"
      width="500px"
      src="/images/Ellipse-ser-left.svg"
    />
    <div class="row container">
      <div class="col-12 self-center text-center">
        <h2 class="heading-2">OUR SERVICES</h2>
      </div>
    </div>
    <div class="row row-gap container">
      <div class="col-4 self-center">
        <div class="card-1">
          <div class="card-content">
            <NuxtImg format="webp" alt="image" src="/images/card-1-icon.svg" />
            <h3>Branding</h3>
            <div class="tags">
              <span class="tag"> <span>Brand identity</span> </span>
              <span class="tag"> <span>Logo design</span> </span>
            </div>
            <div class="tags p-t-10">
              <span class="tag"> <span>storytelling</span> </span>
              <span class="tag"> <span>Visual</span> </span>
              <!-- <span class="tag"> <span>Brand strategy</span> </span> -->
            </div>
            <p>
              Create a memorable brand identity with attractive designs and
              stories, ensuring your brand remains unforgettable in the minds of
              your audience.
            </p>
          </div>
          <NuxtLink to="/services/branding">
            <ButtonsIcon
              class="btn-card"
              :btn="{ icon: 'arrow-right' }"
            ></ButtonsIcon>
          </NuxtLink>
          <img alt="image" width="100%" src="/images/card-1.svg" />
        </div>
      </div>
      <div class="col-4 self-center">
        <div class="card-2">
          <div class="card-content">
            <NuxtImg format="webp" alt="image" src="/images/card-2-icon.svg" />
            <h3>Technology</h3>
            <div class="tags">
              <span class="tag"> <span>Tech solutions</span> </span>
              <span class="tag"> <span>Digital tools</span> </span>
            </div>
            <div class="tags p-t-10">
              <span class="tag"> <span>IT</span> </span>
              <span class="tag"> <span>Software development</span> </span>
              <!-- <span class="tag"> <span>Tech innovation</span> </span> -->
            </div>
            <p>
              Simplify your work and impress your customers with the latest
              tools, making your business operations smoother and more efficient
              than before.
            </p>
          </div>
          <NuxtLink to="/services/technology">
            <ButtonsIcon
              class="btn-card"
              :btn="{ icon: 'arrow-right' }"
            ></ButtonsIcon>
          </NuxtLink>
          <img alt="image" width="100%" src="/images/card-2.svg" />
        </div>
      </div>
      <div class="col-4 self-center">
        <div class="card-3">
          <div class="card-content">
            <NuxtImg format="webp" alt="image" src="/images/card-3-icon.svg" />
            <h3>Design</h3>
            <div class="tags">
              <span class="tag"> <span>Website</span> </span>
              <span class="tag"> <span>Graphic</span> </span>
            </div>
            <div class="tags p-t-10">
              <span class="tag"> <span>UI/UX</span> </span>
              <span class="tag"> <span>Visual communication</span> </span>
              <!-- <span class="tag"> <span>Creative design</span> </span> -->
            </div>
            <p>
              Let your brand shine online with beautiful websites that reflect
              your unique style and personality, leaving a lasting impression on
              your visitors.
            </p>
          </div>
          <NuxtLink to="/services/design">
            <ButtonsIcon
              class="btn-card"
              :btn="{ icon: 'arrow-right' }"
            ></ButtonsIcon>
          </NuxtLink>
          <img alt="image" width="100%" src="/images/card-3.svg" />
        </div>
      </div>
    </div>
    <div class="row row-gap container m-t-35">
      <div class="col-4 self-center">
        <div class="card-4">
          <div class="card-content">
            <NuxtImg format="webp" alt="image" src="/images/card-4-icon.svg" />
            <h3>Consulting</h3>
            <div class="tags">
              <span class="tag"> <span>Business</span> </span>
              <!-- <span class="tag"> <span>Strategy consulting</span> </span> -->
              <span class="tag"> <span>Marketing</span> </span>
            </div>
            <div class="tags p-t-10">
              <span class="tag"> <span>Management</span> </span>
              <span class="tag"> <span>Strategic planning</span> </span>
            </div>
            <p>
              Grow your business smarter and faster with expert advice tailored
              to your specific needs, helping you overcome challenges and seize
              opportunities.
            </p>
          </div>
          <NuxtLink to="/services/consulting">
            <ButtonsIcon
              class="btn-card"
              :btn="{ icon: 'arrow-right' }"
            ></ButtonsIcon>
          </NuxtLink>
          <img alt="image" width="100%" src="/images/card-4.svg" />
        </div>
      </div>
      <div class="col-4 self-center">
        <div class="card-5">
          <div class="card-content">
            <NuxtImg format="webp" alt="image" src="/images/card-5-icon.svg" />
            <h3>Advertising & Promotion</h3>
            <div class="tags">
              <span class="tag"> <span>Digital marketing</span> </span>
              <span class="tag"> <span>Advertising campaigns</span> </span>
            </div>
            <div class="tags p-t-10">
              <!-- <span class="tag"> <span>Online promotion</span> </span> -->
              <span class="tag"> <span>Social media marketing</span> </span>
              <!-- <span class="tag"> <span>PPC advertising</span> </span> -->
            </div>
            <p>
              Expand your reach and increase your sales with effective marketing
              campaigns that grab the attention of your target audience and
              drive them to action.
            </p>
          </div>
          <NuxtLink to="/services/advertising-promotion">
            <ButtonsIcon
              class="btn-card"
              :btn="{ icon: 'arrow-right' }"
            ></ButtonsIcon>
          </NuxtLink>
          <img alt="image" width="100%" src="/images/card-5.svg" />
        </div>
      </div>
      <div class="col-4 self-center">
        <div class="card-6">
          <div class="card-content">
            <NuxtImg format="webp" alt="image" src="/images/card-6-icon.svg" />
            <h3>Video & Media</h3>
            <div class="tags">
              <!-- <span class="tag"> <span>Video production</span> </span> -->
              <span class="tag"> <span>Multimedia content</span> </span>
              <span class="tag"> <span>Digital media</span> </span>
            </div>
            <div class="tags p-t-10">
              <span class="tag"> <span>Video marketing</span> </span>
              <span class="tag"> <span>Visual storytelling</span> </span>
            </div>
            <p>
              Tell your story in an engaging way through attractive multimedia
              content, connecting with your audience on a deeper level and
              leaving a lasting impression.
            </p>
          </div>
          <NuxtLink to="/services/video-media">
            <ButtonsIcon
              class="btn-card"
              :btn="{ icon: 'arrow-right' }"
            ></ButtonsIcon>
          </NuxtLink>
          <img alt="image" width="100%" src="/images/card-6.svg" />
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
img {
  pointer-events: none;
}
.row-gap {
  gap: 35px;
}
.card-content {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(50%, 50%); */
  padding: 10px 25px;
}
.card-content img {
  width: 110px;
  pointer-events: none;
  margin-left: -12px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.card-1 .card-content img {
  width: 120px;
  margin-top: 0px;
}
.card-2 .card-content img {
  width: 120px;
  margin-top: -5px;
  margin-bottom: 15px;
  margin-left: -20px;
  pointer-events: none;
}
.card-5 .card-content img {
  /* width: 120px; */
  /* margin-top: -5px; */
  margin-bottom: 15px;
  /* margin-left: -20px; */
  /* pointer-events: none; */
}
.card-3 .card-content img {
  width: 110px;
  /* margin-top: 15px; */
  /* margin-bottom: 15px; */
  margin-left: -10px;
  pointer-events: none;
}
.card-5 .card-content img {
  /* margin-bottom: 0px;
  margin-top: 0px; */
}
.card-5 .card-content h3 {
  font-size: 20px;
}
.card-5 .card-content h3 {
  font-size: 18px;
  text-wrap: nowrap;
}
.card-content h3 {
  font-size: 28px;
  font-weight: 600;
  line-height: 0px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0;
  margin-left: 7px;
}
.btn-card {
  position: absolute !important;
  top: 6px;
  right: 0;
}
.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
  position: relative;
  transition: all 0.3s;
  /* background: url("/images/card-1.svg");
  background-position: center center;
  background-size: contain; */
}
.card-1:hover {
  /* transform: scale(1.1); */
  /* transform: rotate3d(1, 1, 3, 1deg); */
}
.Ellipse-ser-right {
  position: absolute;
  top: -250px;
  right: 0;
  z-index: 0;
}
.Ellipse-ser-left {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 0;
}
.card-content .tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.card-content p {
  font-size: 16px;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.tags .tag {
  background: radial-gradient(
    84.92% 150% at 50% 138.75%,
    rgba(13, 71, 245, 0.24) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  /* linear-gradient(0deg, rgba(13, 71, 245, 0.02), rgba(13, 71, 245, 0.02)),
    linear-gradient(0deg, rgba(255, 255, 255, 0.22), rgba(255, 255, 255, 0.22)); */
  border: 1px solid #ffffff38;
  padding: 6px 6px;
  border-radius: 6px;
  /* border: 1px; */
  gap: 6px;
}
.tags .tag span {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.3) -6.34%,
    #ffffff 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
  line-height: 5px;
  letter-spacing: 0em;
  text-align: left;
  white-space: nowrap;
}
/* .card-5 .card-content h3 {
  line-height: unset;
  margin-bottom: 0;
} */
</style>
