<template>
  <div class="container-big- position-relative">
    <div class="row container">
      <div class="col-12 self-center text-center position-relative">
        <img alt="image" class="test-light" src="/images/test-light.svg" />
        <h2 class="heading-2">TESTIMONIALS</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 z-0 position-relative">
      <carousel v-bind="settings" :breakpoints="breakpoints" ref="carousel">
        <slide v-for="slide in items" :key="slide">
          <div class="carousel__item">
            <p>
              {{ slide.text1 }}
            </p>
            <div class="avatar_div">
              <div class="avatar_image">
                <!-- <div class="avatar_image_item"></div> -->
              </div>
              <div class="avatar_content">
                <span class="avatar_content_name"> {{ slide.text2 }}</span>
                <!-- <span class="avatar_content_desc"> {{ slide.text3 }}</span> -->
              </div>
            </div>
          </div>
        </slide>
        <template #addons>
          <!-- <navigation /> -->
          <div class="slider-pagination m-show">
            <pagination />
          </div>
        </template>
      </carousel>
    </div>
  </div>
  <div class="position-relative">
    <img alt="image" class="test-bg" src="/images/test-bg.svg" />

    <div class="row container m-b-150">
      <div class="col-6 m-t-150">
        <h2 class="heading-2-form">GET A FREE CONSULTATION</h2>
      </div>
      <div class="col-6 m-t-150 p-15 m-hide">
        <div class="form_div">
          <div class="input_form">
            <div class="input_form_container">
              <span class="icon_input">
                <!-- <img alt="image" src="/images/form-icon-p.svg" width="24" /> -->
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 2C9.38 2 7.25 4.13 7.25 6.75C7.25 9.32 9.26 11.4 11.88 11.49C11.96 11.48 12.04 11.48 12.1 11.49C12.12 11.49 12.13 11.49 12.15 11.49C12.16 11.49 12.16 11.49 12.17 11.49C14.73 11.4 16.74 9.32 16.75 6.75C16.75 4.13 14.62 2 12 2Z"
                    fill="white"
                    fill-opacity="0.86"
                  />
                  <path
                    d="M17.08 14.1509C14.29 12.2909 9.73996 12.2909 6.92996 14.1509C5.65996 15.0009 4.95996 16.1509 4.95996 17.3809C4.95996 18.6109 5.65996 19.7509 6.91996 20.5909C8.31996 21.5309 10.16 22.0009 12 22.0009C13.84 22.0009 15.68 21.5309 17.08 20.5909C18.34 19.7409 19.04 18.6009 19.04 17.3609C19.03 16.1309 18.34 14.9909 17.08 14.1509Z"
                    fill="white"
                    fill-opacity="0.86"
                  />
                </svg>
              </span>
              <input type="text" class="input_text" placeholder="Full name" />
            </div>
          </div>
          <div class="input_form">
            <div class="input_form_container">
              <span class="icon_input">
                <!-- <img alt="image" src="/images/form-icon-m.svg" width="24" /> -->
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M17 3.5H7C4 3.5 2 5 2 8.5V15.5C2 19 4 20.5 7 20.5H17C20 20.5 22 19 22 15.5V8.5C22 5 20 3.5 17 3.5ZM17.47 9.59L14.34 12.09C13.68 12.62 12.84 12.88 12 12.88C11.16 12.88 10.31 12.62 9.66 12.09L6.53 9.59C6.21 9.33 6.16 8.85 6.41 8.53C6.67 8.21 7.14 8.15 7.46 8.41L10.59 10.91C11.35 11.52 12.64 11.52 13.4 10.91L16.53 8.41C16.85 8.15 17.33 8.2 17.58 8.53C17.84 8.85 17.79 9.33 17.47 9.59Z"
                    fill="white"
                    fill-opacity="0.86"
                  />
                </svg>
              </span>
              <input type="text" class="input_text" placeholder="Email" />
            </div>
          </div>
          <div class="input_form">
            <div class="input_form_container">
              <span class="icon_input">
                <!-- <img alt="image" src="/images/form-icon-c.svg" width="24" /> -->
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M11.05 14.95L9.2 16.8C8.81 17.19 8.19 17.19 7.79 16.81C7.68 16.7 7.57 16.6 7.46 16.49C6.43 15.45 5.5 14.36 4.67 13.22C3.85 12.08 3.19 10.94 2.71 9.81C2.24 8.67 2 7.58 2 6.54C2 5.86 2.12 5.21 2.36 4.61C2.6 4 2.98 3.44 3.51 2.94C4.15 2.31 4.85 2 5.59 2C5.87 2 6.15 2.06 6.4 2.18C6.66 2.3 6.89 2.48 7.07 2.74L9.39 6.01C9.57 6.26 9.7 6.49 9.79 6.71C9.88 6.92 9.93 7.13 9.93 7.32C9.93 7.56 9.86 7.8 9.72 8.03C9.59 8.26 9.4 8.5 9.16 8.74L8.4 9.53C8.29 9.64 8.24 9.77 8.24 9.93C8.24 10.01 8.25 10.08 8.27 10.16C8.3 10.24 8.33 10.3 8.35 10.36C8.53 10.69 8.84 11.12 9.28 11.64C9.73 12.16 10.21 12.69 10.73 13.22C10.83 13.32 10.94 13.42 11.04 13.52C11.44 13.91 11.45 14.55 11.05 14.95Z"
                    fill="white"
                    fill-opacity="0.86"
                  />
                  <path
                    d="M21.9701 18.3291C21.9701 18.6091 21.9201 18.8991 21.8201 19.1791C21.7901 19.2591 21.7601 19.3391 21.7201 19.4191C21.5501 19.7791 21.3301 20.1191 21.0401 20.4391C20.5501 20.9791 20.0101 21.3691 19.4001 21.6191C19.3901 21.6191 19.3801 21.6291 19.3701 21.6291C18.7801 21.8691 18.1401 21.9991 17.4501 21.9991C16.4301 21.9991 15.3401 21.7591 14.1901 21.2691C13.0401 20.7791 11.8901 20.1191 10.7501 19.2891C10.3601 18.9991 9.9701 18.7091 9.6001 18.3991L12.8701 15.1291C13.1501 15.3391 13.4001 15.4991 13.6101 15.6091C13.6601 15.6291 13.7201 15.6591 13.7901 15.6891C13.8701 15.7191 13.9501 15.7291 14.0401 15.7291C14.2101 15.7291 14.3401 15.6691 14.4501 15.5591L15.2101 14.8091C15.4601 14.5591 15.7001 14.3691 15.9301 14.2491C16.1601 14.1091 16.3901 14.0391 16.6401 14.0391C16.8301 14.0391 17.0301 14.0791 17.2501 14.1691C17.4701 14.2591 17.7001 14.3891 17.9501 14.5591L21.2601 16.9091C21.5201 17.0891 21.7001 17.2991 21.8101 17.5491C21.9101 17.7991 21.9701 18.0491 21.9701 18.3291Z"
                    fill="white"
                    fill-opacity="0.86"
                  />
                </svg>
              </span>
              <input type="text" class="input_text" placeholder="Phone Number" />
            </div>
          </div>
          <div class="submit_form">Send</div>
        </div>
      </div>
      <div class="col-6 m-t-15 p-15 m-show text-center">
        <div class="btn-cta">
          <ButtonsPrimary
            :btn="{ label: 'Call US', icon: 'arrow-right' }"
          ></ButtonsPrimary>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      items: [
        {
          text1:
            "iWings made our brand shine with a beautiful website! They understood exactly what we wanted, and the result was amazing. We're so happy with it!",
          text2: "Liliana Abrahams",
          text3: "LA",
        },
        {
          text1:
            "I can't thank iWings enough for their exceptional solutions. Their team enhanced our customer experience. It's like having a partner by your side!",
          text2: "Hazem Halabi",
          text3: "HH",
        },
        {
          text1:
            "iWings' collaboration revolutionized my business, enhancing branding and strategic consulting, highly recommended for market success.",
          text2: "Samar Houdini",
          text3: "SH",
        },
      ],
      settings: {
        itemsToShow: 1,
        snapAlign: "left",
        transition: 1000,
        // autoplay: 1000,
        wrapAround: true,
      },
      // breakpoints are mobile first
      // any settings not specified will fallback to the carousel settings
      breakpoints: {
        // 700px and up
        300: {
          itemsToShow: 1,
          snapAlign: "center",
        },
        420: {
          itemsToShow: 1.1,
          snapAlign: "left",
        },
        // 1024 and up
        1024: {
          itemsToShow: 2.5,
          snapAlign: "start",
        },
      },
    };
  },
};
</script>
<style scoped>
.btn-cta {
  width: 70%;
  max-width: 250px;
  margin: 0 auto;
}
.submit_form {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 12px;
  background: #0d47f5;
  color: white;
  text-align: center;
  cursor: pointer;
}
.input_form {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 12%);
  background: linear-gradient(
    93deg,
    rgba(220, 220, 220, 0.06) -18.45%,
    rgba(221, 221, 221, 0.03) 115.85%
  );
  backdrop-filter: blur(11px);
}
.input_text {
  width: 100%;
  background: transparent;
  outline: 0;
  border: 0;
  padding: 0px;
  padding-left: 15px;
  border-left: 1px solid #ffffff43;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #999;
  font-variant-numeric: lining-nums proportional-nums;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 25.6px */
  text-transform: capitalize;
}
.input_form_container {
  display: flex;
}
.heading-2-form {
  background: linear-gradient(161deg, #fff -11.94%, rgba(255, 255, 255, 0) 136.39%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-size: 72px; */
  font-size: 3.6em;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 138px */
}
.form_div {
  padding: 25px;
  min-height: 200px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 12%);
  background: linear-gradient(
    167deg,
    rgba(255, 255, 255, 0.17) -93.24%,
    rgba(255, 255, 255, 0.02) 132.03%
  );
  backdrop-filter: blur(11px);
}
.avatar_div {
  display: flex;
}
.avatar_content span {
  margin: 0;
  display: block;
  padding-left: 10px;
  color: rgba(255, 255, 255, 0.6);
  /* font-family: Raleway; */
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}
.avatar_content_name {
  color: #fff !important;
  /* font-family: Raleway; */
  font-size: 16px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 28.8px */
}
.avatar_image_item {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background: #ddd;
}
.carousel__item p {
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 35.2px */
}
.carousel__item {
  margin-left: 20px;
  margin-right: 20px;
  /* z-index: -1; */
  padding: 30px 50px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 12%);
  background: linear-gradient(
    178deg,
    rgba(220, 220, 220, 0.09) -7.28%,
    rgba(221, 221, 221, 0.01) 82.13%
  );
  backdrop-filter: blur(11px);
}
.heading-2 {
  text-transform: uppercase;
  background: linear-gradient(87deg, #0f44ec -4.17%, #55c0f9 73.28%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.test-bg {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  margin-top: -15%;
  /* height: 600px; */
  z-index: 0;
  object-fit: cover;
  object-position: top center;
  /* z-index: 2; */
  /* width: 100%;
  position: relative;
  margin-top: -6%; */
}
.test-light {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  z-index: 0;
  transform: translate(-50%, -30%);
}
@media (max-width: 991px) {
  .heading-2-form {
    font-size: 35px;
    text-align: center;
  }
  .test-bg {
    margin-top: 50%;
  }
  .carousel__item {
    font-size: 13.4px;
  }
  .carousel__item {
    padding: 30px 44px;
  }
}
</style>
