<template>
  <div class="position-relative">
    <NuxtImg
      format="webp"
      quality="10"
      alt="image"
      width="700px"
      src="/images/unique-light-left.svg"
      class="unique-light-left"
    />
    <NuxtImg
      format="webp"
      alt="image"
      quality="10"
      class="unique-light-right"
      width="800px"
      src="/images/Ellipse-ser-right.svg"
    />
    <div class="container m-t-150">
      <div class="row justify-center top-div">
        <div class="col-6 top-div-right">
          <h2 class="heading-2">Our Unique Value</h2>
        </div>
        <div
          class="col-6 top-div-left"
          @mouseover="handleMouseOver"
          @mouseleave="handleMouseOut"
        ></div>
      </div>
      <div
        class="row justify-center"
        @mouseover="handleMouseOver"
        @mouseleave="handleMouseOut"
      >
        <div class="col-12 content-section" ref="target">
          <div class="row">
            <div class="col-4 card-unique">
              <!-- <img
                class="unique-image-size"
                width="auto"
                height="auto"
                format="webp"
                alt="image"
                src="/images/unique-1.svg"
              /> -->
              <svg
                width="61"
                height="62"
                viewBox="0 0 61 62"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="Group 1000001840">
                  <rect
                    id="Rectangle 4447"
                    x="0.0810547"
                    y="0.216797"
                    width="60.8082"
                    height="60.8082"
                    rx="11.6939"
                    fill="url(#paint0_radial_874_6070)"
                  />
                  <g id="vuesax/bold/cup">
                    <g id="cup">
                      <g id="Vector" filter="url(#filter0_d_874_6070)">
                        <path
                          d="M29.4137 39.5532H26.1978C24.6257 39.5532 23.3393 40.8395 23.3393 42.4117V42.769H21.9101C21.3241 42.769 20.8382 43.2549 20.8382 43.8409C20.8382 44.4269 21.3241 44.9129 21.9101 44.9129H39.0611C39.6471 44.9129 40.1331 44.4269 40.1331 43.8409C40.1331 43.2549 39.6471 42.769 39.0611 42.769H37.6319V42.4117C37.6319 40.8395 36.3455 39.5532 34.7734 39.5532H31.5575V36.2802C31.2002 36.3231 30.8429 36.3373 30.4856 36.3373C30.1283 36.3373 29.771 36.3231 29.4137 36.2802V39.5532Z"
                          fill="url(#paint1_radial_874_6070)"
                          shape-rendering="crispEdges"
                        />
                        <path
                          d="M39.7476 30.1061C40.6909 29.7488 41.5199 29.1628 42.1774 28.5054C43.5066 27.0332 44.3784 25.2752 44.3784 23.2171C44.3784 21.159 42.7633 19.5439 40.7052 19.5439H39.9048C38.9758 17.643 37.032 16.3281 34.7738 16.3281H26.1983C23.9401 16.3281 21.9963 17.643 21.0673 19.5439H20.2669C18.2088 19.5439 16.5938 21.159 16.5938 23.2171C16.5938 25.2752 17.4656 27.0332 18.7948 28.5054C19.4523 29.1628 20.2812 29.7488 21.2245 30.1061C22.7109 33.765 26.2836 36.3373 30.4856 36.3373C34.6876 36.3373 38.2612 33.765 39.7476 30.1061ZM34.5451 25.5468L33.659 26.633C33.5161 26.7902 33.416 27.1047 33.4303 27.3191L33.5161 28.7197C33.5733 29.5773 32.9587 30.0204 32.1583 29.7059L30.8577 29.1914C30.6576 29.1199 30.3146 29.1199 30.1145 29.1914L28.8139 29.7059C28.0135 30.0204 27.3989 29.5773 27.4561 28.7197L27.5418 27.3191C27.5561 27.1047 27.4561 26.7902 27.3131 26.633L26.427 25.5468C25.8696 24.8893 26.1126 24.1604 26.9415 23.946L28.2993 23.603C28.5137 23.5458 28.771 23.3458 28.8853 23.1599L29.6428 21.988C30.1145 21.259 30.8577 21.259 31.3293 21.988L32.0868 23.1599C32.2012 23.3458 32.4584 23.5458 32.6728 23.603L34.0306 23.946C34.8596 24.1604 35.1026 24.8893 34.5451 25.5468Z"
                          fill="url(#paint2_radial_874_6070)"
                          shape-rendering="crispEdges"
                        />
                      </g>
                    </g>
                  </g>
                </g>
                <defs>
                  <filter
                    id="filter0_d_874_6070"
                    x="8.01824"
                    y="8.53221"
                    width="44.9357"
                    height="45.735"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha"
                    />
                    <feOffset dy="0.779592" />
                    <feGaussianBlur stdDeviation="4.28776" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix
                      type="matrix"
                      values="0 0 0 0 0.195833 0 0 0 0 0.195833 0 0 0 0 0.195833 0 0 0 0.27 0"
                    />
                    <feBlend
                      mode="normal"
                      in2="BackgroundImageFix"
                      result="effect1_dropShadow_874_6070"
                    />
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="effect1_dropShadow_874_6070"
                      result="shape"
                    />
                  </filter>
                  <radialGradient
                    id="paint0_radial_874_6070"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(30.4851 30.6209) rotate(101.104) scale(48.7544 65.0059)"
                  >
                    <stop stop-color="#6D91FF" />
                    <stop offset="1" stop-color="#6D91FF" stop-opacity="0" />
                  </radialGradient>
                  <radialGradient
                    id="paint1_radial_874_6070"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(30.4856 25.5761) rotate(101.535) scale(25.2271 24.521)"
                  >
                    <stop stop-color="white" />
                    <stop offset="1" stop-color="white" stop-opacity="0.68" />
                  </radialGradient>
                  <radialGradient
                    id="paint2_radial_874_6070"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(30.4856 25.5761) rotate(101.535) scale(25.2271 24.521)"
                  >
                    <stop stop-color="white" />
                    <stop offset="1" stop-color="white" stop-opacity="0.68" />
                  </radialGradient>
                </defs>
              </svg>

              <h3>Innovative Redefinition</h3>
              <p>
                At iWings, we redefine marketing through the newest technologies, bringing
                a wealth of expertise to elevate your brand online.
              </p>
              <img alt="image" src="/images/unique-line-1.svg" class="unique-line-1" />
              <img alt="image" src="/images/unique-line-2.svg" class="unique-line-2" />
            </div>
            <div class="col-4 card-unique">
              <!-- <img
                class="unique-image-size"
                width="auto"
                height="auto"
                format="webp"
                alt="image"
                src="/images/unique-1.svg"
              /> -->
              <svg
                width="61"
                height="62"
                viewBox="0 0 61 62"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="Group 1000001840">
                  <rect
                    id="Rectangle 4447"
                    x="0.0810547"
                    y="0.216797"
                    width="60.8082"
                    height="60.8082"
                    rx="11.6939"
                    fill="url(#paint0_radial_874_6070)"
                  />
                  <g id="vuesax/bold/cup">
                    <g id="cup">
                      <g id="Vector" filter="url(#filter0_d_874_6070)">
                        <path
                          d="M29.4137 39.5532H26.1978C24.6257 39.5532 23.3393 40.8395 23.3393 42.4117V42.769H21.9101C21.3241 42.769 20.8382 43.2549 20.8382 43.8409C20.8382 44.4269 21.3241 44.9129 21.9101 44.9129H39.0611C39.6471 44.9129 40.1331 44.4269 40.1331 43.8409C40.1331 43.2549 39.6471 42.769 39.0611 42.769H37.6319V42.4117C37.6319 40.8395 36.3455 39.5532 34.7734 39.5532H31.5575V36.2802C31.2002 36.3231 30.8429 36.3373 30.4856 36.3373C30.1283 36.3373 29.771 36.3231 29.4137 36.2802V39.5532Z"
                          fill="url(#paint1_radial_874_6070)"
                          shape-rendering="crispEdges"
                        />
                        <path
                          d="M39.7476 30.1061C40.6909 29.7488 41.5199 29.1628 42.1774 28.5054C43.5066 27.0332 44.3784 25.2752 44.3784 23.2171C44.3784 21.159 42.7633 19.5439 40.7052 19.5439H39.9048C38.9758 17.643 37.032 16.3281 34.7738 16.3281H26.1983C23.9401 16.3281 21.9963 17.643 21.0673 19.5439H20.2669C18.2088 19.5439 16.5938 21.159 16.5938 23.2171C16.5938 25.2752 17.4656 27.0332 18.7948 28.5054C19.4523 29.1628 20.2812 29.7488 21.2245 30.1061C22.7109 33.765 26.2836 36.3373 30.4856 36.3373C34.6876 36.3373 38.2612 33.765 39.7476 30.1061ZM34.5451 25.5468L33.659 26.633C33.5161 26.7902 33.416 27.1047 33.4303 27.3191L33.5161 28.7197C33.5733 29.5773 32.9587 30.0204 32.1583 29.7059L30.8577 29.1914C30.6576 29.1199 30.3146 29.1199 30.1145 29.1914L28.8139 29.7059C28.0135 30.0204 27.3989 29.5773 27.4561 28.7197L27.5418 27.3191C27.5561 27.1047 27.4561 26.7902 27.3131 26.633L26.427 25.5468C25.8696 24.8893 26.1126 24.1604 26.9415 23.946L28.2993 23.603C28.5137 23.5458 28.771 23.3458 28.8853 23.1599L29.6428 21.988C30.1145 21.259 30.8577 21.259 31.3293 21.988L32.0868 23.1599C32.2012 23.3458 32.4584 23.5458 32.6728 23.603L34.0306 23.946C34.8596 24.1604 35.1026 24.8893 34.5451 25.5468Z"
                          fill="url(#paint2_radial_874_6070)"
                          shape-rendering="crispEdges"
                        />
                      </g>
                    </g>
                  </g>
                </g>
                <defs>
                  <filter
                    id="filter0_d_874_6070"
                    x="8.01824"
                    y="8.53221"
                    width="44.9357"
                    height="45.735"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha"
                    />
                    <feOffset dy="0.779592" />
                    <feGaussianBlur stdDeviation="4.28776" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix
                      type="matrix"
                      values="0 0 0 0 0.195833 0 0 0 0 0.195833 0 0 0 0 0.195833 0 0 0 0.27 0"
                    />
                    <feBlend
                      mode="normal"
                      in2="BackgroundImageFix"
                      result="effect1_dropShadow_874_6070"
                    />
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="effect1_dropShadow_874_6070"
                      result="shape"
                    />
                  </filter>
                  <radialGradient
                    id="paint0_radial_874_6070"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(30.4851 30.6209) rotate(101.104) scale(48.7544 65.0059)"
                  >
                    <stop stop-color="#6D91FF" />
                    <stop offset="1" stop-color="#6D91FF" stop-opacity="0" />
                  </radialGradient>
                  <radialGradient
                    id="paint1_radial_874_6070"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(30.4856 25.5761) rotate(101.535) scale(25.2271 24.521)"
                  >
                    <stop stop-color="white" />
                    <stop offset="1" stop-color="white" stop-opacity="0.68" />
                  </radialGradient>
                  <radialGradient
                    id="paint2_radial_874_6070"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(30.4856 25.5761) rotate(101.535) scale(25.2271 24.521)"
                  >
                    <stop stop-color="white" />
                    <stop offset="1" stop-color="white" stop-opacity="0.68" />
                  </radialGradient>
                </defs>
              </svg>

              <h3>Strategic Mastery</h3>
              <p>
                We make strategies that distinguish you, with our deep understanding of
                technology and mastery of using it for marketing goals.
              </p>
              <img
                format="webp"
                alt="image"
                src="/images/unique-line-1.svg"
                class="unique-line-1"
              />
            </div>
            <div class="col-4 card-unique">
              <!-- <img
                class="unique-image-size"
                width="auto"
                height="auto"
                format="webp"
                alt="image"
                src="/images/unique-1.svg"
              /> -->
              <svg
                width="61"
                height="62"
                viewBox="0 0 61 62"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="Group 1000001840">
                  <rect
                    id="Rectangle 4447"
                    x="0.0810547"
                    y="0.216797"
                    width="60.8082"
                    height="60.8082"
                    rx="11.6939"
                    fill="url(#paint0_radial_874_6070)"
                  />
                  <g id="vuesax/bold/cup">
                    <g id="cup">
                      <g id="Vector" filter="url(#filter0_d_874_6070)">
                        <path
                          d="M29.4137 39.5532H26.1978C24.6257 39.5532 23.3393 40.8395 23.3393 42.4117V42.769H21.9101C21.3241 42.769 20.8382 43.2549 20.8382 43.8409C20.8382 44.4269 21.3241 44.9129 21.9101 44.9129H39.0611C39.6471 44.9129 40.1331 44.4269 40.1331 43.8409C40.1331 43.2549 39.6471 42.769 39.0611 42.769H37.6319V42.4117C37.6319 40.8395 36.3455 39.5532 34.7734 39.5532H31.5575V36.2802C31.2002 36.3231 30.8429 36.3373 30.4856 36.3373C30.1283 36.3373 29.771 36.3231 29.4137 36.2802V39.5532Z"
                          fill="url(#paint1_radial_874_6070)"
                          shape-rendering="crispEdges"
                        />
                        <path
                          d="M39.7476 30.1061C40.6909 29.7488 41.5199 29.1628 42.1774 28.5054C43.5066 27.0332 44.3784 25.2752 44.3784 23.2171C44.3784 21.159 42.7633 19.5439 40.7052 19.5439H39.9048C38.9758 17.643 37.032 16.3281 34.7738 16.3281H26.1983C23.9401 16.3281 21.9963 17.643 21.0673 19.5439H20.2669C18.2088 19.5439 16.5938 21.159 16.5938 23.2171C16.5938 25.2752 17.4656 27.0332 18.7948 28.5054C19.4523 29.1628 20.2812 29.7488 21.2245 30.1061C22.7109 33.765 26.2836 36.3373 30.4856 36.3373C34.6876 36.3373 38.2612 33.765 39.7476 30.1061ZM34.5451 25.5468L33.659 26.633C33.5161 26.7902 33.416 27.1047 33.4303 27.3191L33.5161 28.7197C33.5733 29.5773 32.9587 30.0204 32.1583 29.7059L30.8577 29.1914C30.6576 29.1199 30.3146 29.1199 30.1145 29.1914L28.8139 29.7059C28.0135 30.0204 27.3989 29.5773 27.4561 28.7197L27.5418 27.3191C27.5561 27.1047 27.4561 26.7902 27.3131 26.633L26.427 25.5468C25.8696 24.8893 26.1126 24.1604 26.9415 23.946L28.2993 23.603C28.5137 23.5458 28.771 23.3458 28.8853 23.1599L29.6428 21.988C30.1145 21.259 30.8577 21.259 31.3293 21.988L32.0868 23.1599C32.2012 23.3458 32.4584 23.5458 32.6728 23.603L34.0306 23.946C34.8596 24.1604 35.1026 24.8893 34.5451 25.5468Z"
                          fill="url(#paint2_radial_874_6070)"
                          shape-rendering="crispEdges"
                        />
                      </g>
                    </g>
                  </g>
                </g>
                <defs>
                  <filter
                    id="filter0_d_874_6070"
                    x="8.01824"
                    y="8.53221"
                    width="44.9357"
                    height="45.735"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha"
                    />
                    <feOffset dy="0.779592" />
                    <feGaussianBlur stdDeviation="4.28776" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix
                      type="matrix"
                      values="0 0 0 0 0.195833 0 0 0 0 0.195833 0 0 0 0 0.195833 0 0 0 0.27 0"
                    />
                    <feBlend
                      mode="normal"
                      in2="BackgroundImageFix"
                      result="effect1_dropShadow_874_6070"
                    />
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="effect1_dropShadow_874_6070"
                      result="shape"
                    />
                  </filter>
                  <radialGradient
                    id="paint0_radial_874_6070"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(30.4851 30.6209) rotate(101.104) scale(48.7544 65.0059)"
                  >
                    <stop stop-color="#6D91FF" />
                    <stop offset="1" stop-color="#6D91FF" stop-opacity="0" />
                  </radialGradient>
                  <radialGradient
                    id="paint1_radial_874_6070"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(30.4856 25.5761) rotate(101.535) scale(25.2271 24.521)"
                  >
                    <stop stop-color="white" />
                    <stop offset="1" stop-color="white" stop-opacity="0.68" />
                  </radialGradient>
                  <radialGradient
                    id="paint2_radial_874_6070"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(30.4856 25.5761) rotate(101.535) scale(25.2271 24.521)"
                  >
                    <stop stop-color="white" />
                    <stop offset="1" stop-color="white" stop-opacity="0.68" />
                  </radialGradient>
                </defs>
              </svg>

              <h3>Proficient Integration</h3>
              <p>
                Our proficiency lies in integrating technology to enhance your online
                visibility, making us your preferred partner for achieving marketing
                excellence.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 card-unique">
              <!-- <img
                class="unique-image-size"
                format="webp"
                width="auto"
                height="auto"
                alt="image"
                src="/images/unique-1.svg"
              /> -->
              <svg
                width="61"
                height="62"
                viewBox="0 0 61 62"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="Group 1000001840">
                  <rect
                    id="Rectangle 4447"
                    x="0.0810547"
                    y="0.216797"
                    width="60.8082"
                    height="60.8082"
                    rx="11.6939"
                    fill="url(#paint0_radial_874_6070)"
                  />
                  <g id="vuesax/bold/cup">
                    <g id="cup">
                      <g id="Vector" filter="url(#filter0_d_874_6070)">
                        <path
                          d="M29.4137 39.5532H26.1978C24.6257 39.5532 23.3393 40.8395 23.3393 42.4117V42.769H21.9101C21.3241 42.769 20.8382 43.2549 20.8382 43.8409C20.8382 44.4269 21.3241 44.9129 21.9101 44.9129H39.0611C39.6471 44.9129 40.1331 44.4269 40.1331 43.8409C40.1331 43.2549 39.6471 42.769 39.0611 42.769H37.6319V42.4117C37.6319 40.8395 36.3455 39.5532 34.7734 39.5532H31.5575V36.2802C31.2002 36.3231 30.8429 36.3373 30.4856 36.3373C30.1283 36.3373 29.771 36.3231 29.4137 36.2802V39.5532Z"
                          fill="url(#paint1_radial_874_6070)"
                          shape-rendering="crispEdges"
                        />
                        <path
                          d="M39.7476 30.1061C40.6909 29.7488 41.5199 29.1628 42.1774 28.5054C43.5066 27.0332 44.3784 25.2752 44.3784 23.2171C44.3784 21.159 42.7633 19.5439 40.7052 19.5439H39.9048C38.9758 17.643 37.032 16.3281 34.7738 16.3281H26.1983C23.9401 16.3281 21.9963 17.643 21.0673 19.5439H20.2669C18.2088 19.5439 16.5938 21.159 16.5938 23.2171C16.5938 25.2752 17.4656 27.0332 18.7948 28.5054C19.4523 29.1628 20.2812 29.7488 21.2245 30.1061C22.7109 33.765 26.2836 36.3373 30.4856 36.3373C34.6876 36.3373 38.2612 33.765 39.7476 30.1061ZM34.5451 25.5468L33.659 26.633C33.5161 26.7902 33.416 27.1047 33.4303 27.3191L33.5161 28.7197C33.5733 29.5773 32.9587 30.0204 32.1583 29.7059L30.8577 29.1914C30.6576 29.1199 30.3146 29.1199 30.1145 29.1914L28.8139 29.7059C28.0135 30.0204 27.3989 29.5773 27.4561 28.7197L27.5418 27.3191C27.5561 27.1047 27.4561 26.7902 27.3131 26.633L26.427 25.5468C25.8696 24.8893 26.1126 24.1604 26.9415 23.946L28.2993 23.603C28.5137 23.5458 28.771 23.3458 28.8853 23.1599L29.6428 21.988C30.1145 21.259 30.8577 21.259 31.3293 21.988L32.0868 23.1599C32.2012 23.3458 32.4584 23.5458 32.6728 23.603L34.0306 23.946C34.8596 24.1604 35.1026 24.8893 34.5451 25.5468Z"
                          fill="url(#paint2_radial_874_6070)"
                          shape-rendering="crispEdges"
                        />
                      </g>
                    </g>
                  </g>
                </g>
                <defs>
                  <filter
                    id="filter0_d_874_6070"
                    x="8.01824"
                    y="8.53221"
                    width="44.9357"
                    height="45.735"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha"
                    />
                    <feOffset dy="0.779592" />
                    <feGaussianBlur stdDeviation="4.28776" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix
                      type="matrix"
                      values="0 0 0 0 0.195833 0 0 0 0 0.195833 0 0 0 0 0.195833 0 0 0 0.27 0"
                    />
                    <feBlend
                      mode="normal"
                      in2="BackgroundImageFix"
                      result="effect1_dropShadow_874_6070"
                    />
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="effect1_dropShadow_874_6070"
                      result="shape"
                    />
                  </filter>
                  <radialGradient
                    id="paint0_radial_874_6070"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(30.4851 30.6209) rotate(101.104) scale(48.7544 65.0059)"
                  >
                    <stop stop-color="#6D91FF" />
                    <stop offset="1" stop-color="#6D91FF" stop-opacity="0" />
                  </radialGradient>
                  <radialGradient
                    id="paint1_radial_874_6070"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(30.4856 25.5761) rotate(101.535) scale(25.2271 24.521)"
                  >
                    <stop stop-color="white" />
                    <stop offset="1" stop-color="white" stop-opacity="0.68" />
                  </radialGradient>
                  <radialGradient
                    id="paint2_radial_874_6070"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(30.4856 25.5761) rotate(101.535) scale(25.2271 24.521)"
                  >
                    <stop stop-color="white" />
                    <stop offset="1" stop-color="white" stop-opacity="0.68" />
                  </radialGradient>
                </defs>
              </svg>

              <h3>Flexibility</h3>
              <p>
                Our solutions are created for your business to guarantee a perfect fit for
                your evolving goals.
              </p>
            </div>
            <div class="col-4 card-unique">
              <!-- <img
                class="unique-image-size"
                format="webp"
                width="auto"
                height="auto"
                alt="image"
                src="/images/unique-1.svg"
              /> -->
              <svg
                width="61"
                height="62"
                viewBox="0 0 61 62"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="Group 1000001840">
                  <rect
                    id="Rectangle 4447"
                    x="0.0810547"
                    y="0.216797"
                    width="60.8082"
                    height="60.8082"
                    rx="11.6939"
                    fill="url(#paint0_radial_874_6070)"
                  />
                  <g id="vuesax/bold/cup">
                    <g id="cup">
                      <g id="Vector" filter="url(#filter0_d_874_6070)">
                        <path
                          d="M29.4137 39.5532H26.1978C24.6257 39.5532 23.3393 40.8395 23.3393 42.4117V42.769H21.9101C21.3241 42.769 20.8382 43.2549 20.8382 43.8409C20.8382 44.4269 21.3241 44.9129 21.9101 44.9129H39.0611C39.6471 44.9129 40.1331 44.4269 40.1331 43.8409C40.1331 43.2549 39.6471 42.769 39.0611 42.769H37.6319V42.4117C37.6319 40.8395 36.3455 39.5532 34.7734 39.5532H31.5575V36.2802C31.2002 36.3231 30.8429 36.3373 30.4856 36.3373C30.1283 36.3373 29.771 36.3231 29.4137 36.2802V39.5532Z"
                          fill="url(#paint1_radial_874_6070)"
                          shape-rendering="crispEdges"
                        />
                        <path
                          d="M39.7476 30.1061C40.6909 29.7488 41.5199 29.1628 42.1774 28.5054C43.5066 27.0332 44.3784 25.2752 44.3784 23.2171C44.3784 21.159 42.7633 19.5439 40.7052 19.5439H39.9048C38.9758 17.643 37.032 16.3281 34.7738 16.3281H26.1983C23.9401 16.3281 21.9963 17.643 21.0673 19.5439H20.2669C18.2088 19.5439 16.5938 21.159 16.5938 23.2171C16.5938 25.2752 17.4656 27.0332 18.7948 28.5054C19.4523 29.1628 20.2812 29.7488 21.2245 30.1061C22.7109 33.765 26.2836 36.3373 30.4856 36.3373C34.6876 36.3373 38.2612 33.765 39.7476 30.1061ZM34.5451 25.5468L33.659 26.633C33.5161 26.7902 33.416 27.1047 33.4303 27.3191L33.5161 28.7197C33.5733 29.5773 32.9587 30.0204 32.1583 29.7059L30.8577 29.1914C30.6576 29.1199 30.3146 29.1199 30.1145 29.1914L28.8139 29.7059C28.0135 30.0204 27.3989 29.5773 27.4561 28.7197L27.5418 27.3191C27.5561 27.1047 27.4561 26.7902 27.3131 26.633L26.427 25.5468C25.8696 24.8893 26.1126 24.1604 26.9415 23.946L28.2993 23.603C28.5137 23.5458 28.771 23.3458 28.8853 23.1599L29.6428 21.988C30.1145 21.259 30.8577 21.259 31.3293 21.988L32.0868 23.1599C32.2012 23.3458 32.4584 23.5458 32.6728 23.603L34.0306 23.946C34.8596 24.1604 35.1026 24.8893 34.5451 25.5468Z"
                          fill="url(#paint2_radial_874_6070)"
                          shape-rendering="crispEdges"
                        />
                      </g>
                    </g>
                  </g>
                </g>
                <defs>
                  <filter
                    id="filter0_d_874_6070"
                    x="8.01824"
                    y="8.53221"
                    width="44.9357"
                    height="45.735"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha"
                    />
                    <feOffset dy="0.779592" />
                    <feGaussianBlur stdDeviation="4.28776" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix
                      type="matrix"
                      values="0 0 0 0 0.195833 0 0 0 0 0.195833 0 0 0 0 0.195833 0 0 0 0.27 0"
                    />
                    <feBlend
                      mode="normal"
                      in2="BackgroundImageFix"
                      result="effect1_dropShadow_874_6070"
                    />
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="effect1_dropShadow_874_6070"
                      result="shape"
                    />
                  </filter>
                  <radialGradient
                    id="paint0_radial_874_6070"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(30.4851 30.6209) rotate(101.104) scale(48.7544 65.0059)"
                  >
                    <stop stop-color="#6D91FF" />
                    <stop offset="1" stop-color="#6D91FF" stop-opacity="0" />
                  </radialGradient>
                  <radialGradient
                    id="paint1_radial_874_6070"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(30.4856 25.5761) rotate(101.535) scale(25.2271 24.521)"
                  >
                    <stop stop-color="white" />
                    <stop offset="1" stop-color="white" stop-opacity="0.68" />
                  </radialGradient>
                  <radialGradient
                    id="paint2_radial_874_6070"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(30.4856 25.5761) rotate(101.535) scale(25.2271 24.521)"
                  >
                    <stop stop-color="white" />
                    <stop offset="1" stop-color="white" stop-opacity="0.68" />
                  </radialGradient>
                </defs>
              </svg>

              <h3>Scalability</h3>
              <p>
                Ready to expand with your business, our solutions adapt to the changing
                demands of the digital landscape.
              </p>
            </div>
            <div class="col-4 card-unique">
              <!-- <img
                class="unique-image-size"
                format="webp"
                width="auto"
                height="auto"
                alt="image"
                src="/images/unique-1.svg"
              /> -->
              <svg
                width="61"
                height="62"
                viewBox="0 0 61 62"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="Group 1000001840">
                  <rect
                    id="Rectangle 4447"
                    x="0.0810547"
                    y="0.216797"
                    width="60.8082"
                    height="60.8082"
                    rx="11.6939"
                    fill="url(#paint0_radial_874_6070)"
                  />
                  <g id="vuesax/bold/cup">
                    <g id="cup">
                      <g id="Vector" filter="url(#filter0_d_874_6070)">
                        <path
                          d="M29.4137 39.5532H26.1978C24.6257 39.5532 23.3393 40.8395 23.3393 42.4117V42.769H21.9101C21.3241 42.769 20.8382 43.2549 20.8382 43.8409C20.8382 44.4269 21.3241 44.9129 21.9101 44.9129H39.0611C39.6471 44.9129 40.1331 44.4269 40.1331 43.8409C40.1331 43.2549 39.6471 42.769 39.0611 42.769H37.6319V42.4117C37.6319 40.8395 36.3455 39.5532 34.7734 39.5532H31.5575V36.2802C31.2002 36.3231 30.8429 36.3373 30.4856 36.3373C30.1283 36.3373 29.771 36.3231 29.4137 36.2802V39.5532Z"
                          fill="url(#paint1_radial_874_6070)"
                          shape-rendering="crispEdges"
                        />
                        <path
                          d="M39.7476 30.1061C40.6909 29.7488 41.5199 29.1628 42.1774 28.5054C43.5066 27.0332 44.3784 25.2752 44.3784 23.2171C44.3784 21.159 42.7633 19.5439 40.7052 19.5439H39.9048C38.9758 17.643 37.032 16.3281 34.7738 16.3281H26.1983C23.9401 16.3281 21.9963 17.643 21.0673 19.5439H20.2669C18.2088 19.5439 16.5938 21.159 16.5938 23.2171C16.5938 25.2752 17.4656 27.0332 18.7948 28.5054C19.4523 29.1628 20.2812 29.7488 21.2245 30.1061C22.7109 33.765 26.2836 36.3373 30.4856 36.3373C34.6876 36.3373 38.2612 33.765 39.7476 30.1061ZM34.5451 25.5468L33.659 26.633C33.5161 26.7902 33.416 27.1047 33.4303 27.3191L33.5161 28.7197C33.5733 29.5773 32.9587 30.0204 32.1583 29.7059L30.8577 29.1914C30.6576 29.1199 30.3146 29.1199 30.1145 29.1914L28.8139 29.7059C28.0135 30.0204 27.3989 29.5773 27.4561 28.7197L27.5418 27.3191C27.5561 27.1047 27.4561 26.7902 27.3131 26.633L26.427 25.5468C25.8696 24.8893 26.1126 24.1604 26.9415 23.946L28.2993 23.603C28.5137 23.5458 28.771 23.3458 28.8853 23.1599L29.6428 21.988C30.1145 21.259 30.8577 21.259 31.3293 21.988L32.0868 23.1599C32.2012 23.3458 32.4584 23.5458 32.6728 23.603L34.0306 23.946C34.8596 24.1604 35.1026 24.8893 34.5451 25.5468Z"
                          fill="url(#paint2_radial_874_6070)"
                          shape-rendering="crispEdges"
                        />
                      </g>
                    </g>
                  </g>
                </g>
                <defs>
                  <filter
                    id="filter0_d_874_6070"
                    x="8.01824"
                    y="8.53221"
                    width="44.9357"
                    height="45.735"
                    filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB"
                  >
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix
                      in="SourceAlpha"
                      type="matrix"
                      values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha"
                    />
                    <feOffset dy="0.779592" />
                    <feGaussianBlur stdDeviation="4.28776" />
                    <feComposite in2="hardAlpha" operator="out" />
                    <feColorMatrix
                      type="matrix"
                      values="0 0 0 0 0.195833 0 0 0 0 0.195833 0 0 0 0 0.195833 0 0 0 0.27 0"
                    />
                    <feBlend
                      mode="normal"
                      in2="BackgroundImageFix"
                      result="effect1_dropShadow_874_6070"
                    />
                    <feBlend
                      mode="normal"
                      in="SourceGraphic"
                      in2="effect1_dropShadow_874_6070"
                      result="shape"
                    />
                  </filter>
                  <radialGradient
                    id="paint0_radial_874_6070"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(30.4851 30.6209) rotate(101.104) scale(48.7544 65.0059)"
                  >
                    <stop stop-color="#6D91FF" />
                    <stop offset="1" stop-color="#6D91FF" stop-opacity="0" />
                  </radialGradient>
                  <radialGradient
                    id="paint1_radial_874_6070"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(30.4856 25.5761) rotate(101.535) scale(25.2271 24.521)"
                  >
                    <stop stop-color="white" />
                    <stop offset="1" stop-color="white" stop-opacity="0.68" />
                  </radialGradient>
                  <radialGradient
                    id="paint2_radial_874_6070"
                    cx="0"
                    cy="0"
                    r="1"
                    gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(30.4856 25.5761) rotate(101.535) scale(25.2271 24.521)"
                  >
                    <stop stop-color="white" />
                    <stop offset="1" stop-color="white" stop-opacity="0.68" />
                  </radialGradient>
                </defs>
              </svg>

              <h3>Results-Driven</h3>
              <p>
                We focus on tangible outcomes, our solutions are tuned to deliver the
                results that matter most to your business through continuous measurement,
                analysis, and optimization.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  methods: {
    handleMouseOver() {
      if (process.client) {
        // document.getElementsByClassName("mouseLight")[0].style.zIndex = "1";
      }
    },
    handleMouseOut() {
      if (process.client) {
        // document.getElementsByClassName("mouseLight")[0].style.zIndex = "0";
      }
    },
  },
};
</script>
<style>
.card-unique:hover .mouseLight {
  z-index: 1 !important;
  width: 200px !important;
  height: 200px !important;
  opacity: 0.4;
}
</style>

<style scoped>
.unique-image-size {
  width: auto !important;
}
.unique-light-left {
  position: absolute;
  top: -5%;
  left: 0;
  /* width: 100%; */
}
.unique-light-right {
  position: absolute;
  bottom: -45%;
  right: 0;
}
.unique-line-1 {
  height: 200%;
  position: absolute;
  top: 0;
  right: 0;
}
.unique-line-2 {
  width: 300%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.card-unique {
  position: relative;
  padding: 30px 30px;
  z-index: 1;
}
.card-unique h3 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 37.42px */
}
.card-unique p {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 19.958px */
  /* text-transform: capitalize; */
}
.top-div {
  /* background: yellow; */
  width: 100%;
  justify-content: center;
}
.top-div-right .heading-2 {
  margin: 0;
  margin-top: -10px;
  text-transform: uppercase;
}
.top-div-right {
  text-align: center;
  height: 100px;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 12%);
  /* background: #310dcf94; */
}

.content-section {
  background: #030014;
  border: 1px solid rgba(255, 255, 255, 12%);
  border-top: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding: 50px 75px;
}
.top-div-left {
  background: #030014;
  height: 100px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 12%);
  border-bottom: 0px !important;
  backdrop-filter: blur(11px);
}

.top-div-left:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -38px;
  height: 30px;
  width: 37px;
  border-top: 0px;
  border-left: 0px;
  border-right: 1px solid rgba(255, 255, 255, 12%);
  border-bottom: 1px solid rgba(255, 255, 255, 12%);
  border-bottom-right-radius: 50%;
  background: none;
}
.top-div-left:before {
  box-shadow: 22px 0px 0 0 #030014;
}

.content-section:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0px;
  height: 35px;
  width: 37px;
  border-top: 0px;
  border-left: 0px;
  border-left: 1px solid rgba(255, 255, 255, 12%);
  border-top: 1px solid rgba(255, 255, 255, 12%);
  border-top-left-radius: 50%;
  background: none;
}
.content-section:before {
  box-shadow: 0px -20px 0 0 #030014;
}
</style>
