<template>
  <div class="position-relative">
    <img alt="image" 
      width="700px"
      src="/images/unique-light-left.svg"
      class="unique-light-left"
    />
    <img alt="image" 
      class="unique-light-right"
      width="800px"
      src="/images/Ellipse-ser-right.svg"
    />
    <div class="container m-t-150">
      <div class="row justify-center top-div">
        <div class="col-6 top-div-right">
          <h2 class="heading-2">Our Unique Value</h2>
        </div>
        <div
          class="col-6 top-div-left"
          @mouseover="handleMouseOver"
          @mouseleave="handleMouseOut"
        ></div>
      </div>
      <div
        class="row justify-center"
        @mouseover="handleMouseOver"
        @mouseleave="handleMouseOut"
      >
        <div class="col-12 content-section" ref="target">
          <div class="row content-align-center">
            <div class="col-4 card-unique">
              <img alt="image"  src="/images/unique-1.svg" />
              <h3>Strategic Mastery</h3>
              <p>
                We make strategies that distinguish you, with our deep
                understanding of technology and a mastery of using it for
                marketing goals. 
              </p>
              <img alt="image"  src="/images/unique-line-1.svg" class="unique-line-1" />
              <img alt="image"  src="/images/unique-line-2.svg" class="unique-line-2" />
            </div>
            <div class="col-4 card-unique">
              <img alt="image"  src="/images/unique-1.svg" />
              <h3>Innovative Redefinition</h3>
              <p>
                At iWings, we redefine marketing through the newest
                technologies, bringing a wealth of expertise to elevate your
                brand online.
              </p>
              <img alt="image"  src="/images/unique-line-1.svg" class="unique-line-1" />
            </div>
            <div class="col-4 card-unique">
              <img alt="image"  src="/images/unique-1.svg" />
              <h3>Strategic Mastery</h3>
              <p>
                We make strategies that distinguish you, with our deep
                understanding of technology and a mastery of using it for
                marketing goals. 
              </p>
            </div>
          </div>
          <div class="row content-align-center">
            <div class="col-4 card-unique">
              <img alt="image"  src="/images/unique-1.svg" />
              <h3>Strategic Mastery</h3>
              <p>
                We make strategies that distinguish you, with our deep
                understanding of technology and a mastery of using it for
                marketing goals. 
              </p>
            </div>
            <div class="col-4 card-unique">
              <img alt="image"  src="/images/unique-1.svg" />
              <h3>Innovative Redefinition</h3>
              <p>
                At iWings, we redefine marketing through the newest
                technologies, bringing a wealth of expertise to elevate your
                brand online.
              </p>
            </div>
            <div class="col-4 card-unique">
              <img alt="image"  src="/images/unique-1.svg" />
              <h3>Strategic Mastery</h3>
              <p>
                We make strategies that distinguish you, with our deep
                understanding of technology and a mastery of using it for
                marketing goals. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
export default {
  methods: {
    handleMouseOver() {
      if (process.client) {
        // document.getElementsByClassName("mouseLight")[0].style.zIndex = "1";
      }
    },
    handleMouseOut() {
      if (process.client) {
        // document.getElementsByClassName("mouseLight")[0].style.zIndex = "0";
      }
    },
  },
};
</script>
<style>
.card-unique:hover .mouseLight {
  z-index: 1 !important;
  width: 200px !important;
  height: 200px !important;
  opacity: 0.4;
}
</style>

<style scoped>
.unique-light-left {
  position: absolute;
  top: -5%;
  left: 0;
  /* width: 100%; */
}
.unique-light-right {
  position: absolute;
  bottom: -45%;
  right: 0;
}
.unique-line-1 {
  height: 200%;
  position: absolute;
  top: 0;
  right: 0;
}
.unique-line-2 {
  width: 300%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.card-unique {
  position: relative;
  padding: 30px 30px;
  z-index: 1;
}
.card-unique h3 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 37.42px */
}
.card-unique p {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 19.958px */
  text-transform: capitalize;
}
.top-div {
  /* background: yellow; */
  width: 100%;
  justify-content: center;
}
.top-div-right .heading-2 {
  margin: 0;
  margin-top: -10px;
}
.top-div-right {
  text-align: center;
  height: 100px;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 12%);
  /* background: #310dcf94; */
}

.content-section {
  background: #030014;
  border: 1px solid rgba(255, 255, 255, 12%);
  border-top: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding: 50px 75px;
}
.top-div-left {
  background: #030014;
  height: 100px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 12%);
  border-bottom: 0px !important;
  backdrop-filter: blur(11px);
}

.top-div-left:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: -38px;
  height: 30px;
  width: 37px;
  border-top: 0px;
  border-left: 0px;
  border-right: 1px solid rgba(255, 255, 255, 12%);
  border-bottom: 1px solid rgba(255, 255, 255, 12%);
  border-bottom-right-radius: 50%;
  background: none;
}
.top-div-left:before {
  box-shadow: 22px 0px 0 0 #030014;
}

.content-section:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0px;
  height: 35px;
  width: 37px;
  border-top: 0px;
  border-left: 0px;
  border-left: 1px solid rgba(255, 255, 255, 12%);
  border-top: 1px solid rgba(255, 255, 255, 12%);
  border-top-left-radius: 50%;
  background: none;
}
.content-section:before {
  box-shadow: 0px -20px 0 0 #030014;
}
</style>
