<template>
  <div class="position-relative m-t-150">
    <NuxtImg
      format="webp"
      quality="10"
      alt="image"
      class="way-bottom-light m-hide"
      src="/images/way-bottom-light.svg"
    />
    <NuxtImg
      format="webp"
      quality="10"
      alt="image"
      class="way-top-light m-hide"
      src="/images/way-top-light.svg"
    />
    <NuxtImg
      format="webp"
      quality="10"
      alt="image"
      class="way-top-stars m-hide"
      src="/images/way-top-stars.svg"
    />
    <NuxtImg
      format="webp"
      quality="10"
      alt="image"
      class="way-bottom-stars"
      src="/images/way-bottom-stars.svg"
    />

    <div class="container m-t-150 position-relative">
      <div class="row">
        <div class="col-12">
          <NuxtImg
            format="webp"
            alt="image"
            class="m-hide bg-width-webp"
            src="/images/way-bg.svg"
            quality="10"
          />
          <NuxtImg
            format="webp"
            alt="image"
            quality="10"
            class="m-show reload-width"
            src="/images/mobile/way-bg.svg"
          />
          <NuxtImg
            format="webp"
            alt="image"
            class="way-top-line m-hide"
            src="/images/way-top-line.svg"
          />
          <NuxtImg
            format="webp"
            alt="image"
            quality="10"
            class="way-bottom-line m-hide"
            src="/images/way-bottom-line.svg"
          />

          <div class="content-way">
            <h2>WHY IWINGS</h2>
            <p>
              With iWings, you will have a clear, flexible and scalable solution,
              tailor-made to fit your unique needs. We employ the best strategies and
              technologies to optimize your marketing efforts, and utilize data and
              insights to maximize your gains.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.bg-width-webp {
  width: 100% !important;
}
.way-bottom-light {
  position: absolute;
  bottom: -70%;
  left: 0;
  width: 80%;
}
.way-top-light {
  position: absolute;
  top: -70%;
  right: 0;
  width: 100%;
}
.way-bottom-stars {
  position: absolute;
}
.way-top-stars {
  position: absolute;
}
.way-top-line {
  width: 40%;
  position: absolute;
  top: 19.8%;
  right: 10%;
}
.way-bottom-line {
  width: 40%;
  position: absolute;
  bottom: 14.1%;
  left: 10%;
}
.content-way {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68%;
  transform: translate(-50%, -50%);
}
.content-way h2 {
  color: #fff;
  text-align: center;

  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 88.5px */
}
.content-way p {
  color: #fff;
  text-align: center;

  /* Font - Desktop/bodytext 1 */
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 48px */
}
@media (max-width: 991px) {
  .content-way p {
    font-size: 20px;
  }
  .content-way h2 {
    font-size: 2em;
  }
  .content-way {
    width: 88%;
    transform: translate(-50%, -60%);
  }
  .reload-width {
    height: 100%;
    width: 100%;
  }
}
</style>
