<template>
  <div class="container overflow-hidden z-0-1">
    <div class="max-width-what curv-rad">
      <div class="row">
        <div class="col-6 p-15 self-center what-we-do">
          <h2 class="heading-2">WHAT WE DO</h2>
        </div>
        <div class="col-6 self-center what-we-do">
          <div class="mobile-show"></div>
          <p class="p-15">
            We employ the right technologies and marketing strategies to boost your
            brand's equity, with a transparent process that keeps you in the driver’s
            seat.
            <span style="display: block">
              We are the catalyst to elevates your brand to new heights.</span
            >
          </p>
        </div>
        <img alt="image" src="/images/curve.svg" class="curve_svg" />
      </div>
    </div>
  </div>
</template>

<style>
.max-width-what {
  z-index: 0;
  max-width: 80%;
  background: #030014;
  max-height: 243px;
}
.curve_svg {
  position: absolute;
  right: -238px;
  height: 243px;
  width: 250px;
  top: -22px;
}
.what-we-do p {
  /* margin-top: -40px; */
  font-size: 16px;
  padding: 10px 20px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.curv-rad {
  border-top-right-radius: 10px;
}
.what-we-do .mobile-show {
  display: none;
}
</style>
<style scoped>
@media (max-width: 991px) {
  .what-we-do p {
    margin-top: -40px;
  }
  .what-we-do .mobile-show {
    display: block;
    position: absolute;
    height: 100%;
    width: 200%;
    background: #030014;
    z-index: -1;
  }
  .heading-2 {
    text-align: left;
    font-size: 1.8em !important;
    font-style: normal;
    font-weight: 700;
    line-height: 85%;
    text-transform: capitalize;
  }
  .max-width-what {
    z-index: 0;
    max-width: 75%;
    background: #030014;
    max-height: 100%;
  }
  .curve_svg {
    position: absolute;
    right: -161px;
    height: 161px;
    width: 208px;
    top: -22px;
  }
}
@media (max-width: 391px) {
  .what-we-do .mobile-show {
    margin-top: -27px;
  }
}

@media (max-width: 991px) {
  .curve_svg {
    position: absolute;
    right: -161px;
    height: 185px !important;
    width: 174px !important;
    top: -22px;
  }
}
</style>
