<template>
  <div class="p-t-50 position-relative">
    <img
      src="/images/about/about-left-top-light.svg"
      alt="light"
      width="100%"
      height="100%"
      class="sub-s-about-left-top-light"
    />
    <img
      src="/images/about/about-right-bottom-light.svg"
      alt="light"
      width="100%"
      height="100%"
      class="sub-s-about-right-bottom-light m-hide"
    />
    <div class="container">
      <div class="row content-align-center p-15">
        <div class="col-6">
          <div class="sub-s-heading-div">
            <h1 class="sub-s-heading-1">
              <span class="sub-s-text-1">{{ dataProps.title }}</span>
              <!-- <span class="text-2">We Do Marketing Through Technology</span> -->
            </h1>
            <p class="sub-s-heading-div-p">{{ dataProps.p }}</p>
            <div class="fit-content">
              <!-- <NuxtLink to="/contact-us">
                <ButtonsPrimary
                  :btn="{ label: 'Get in touch', icon: '' }"
                ></ButtonsPrimary>
              </NuxtLink> -->
            </div>
          </div>
        </div>
        <div class="col-6 position-relative"></div>
      </div>
    </div>
    <NuxtImg
      class="sub-s-image-hero"
      loading="lazy"
      format="webp"
      alt="image"
      width="100%"
      height="100%"
      :src="dataProps.image"
    />
    <div class="sub-s-stars-left m-width"></div>
    <div class="sub-s-stars-right m-width"></div>
  </div>
</template>

<script>
export default {
  props: ["dataProps"],
  mounted() {
    window.addEventListener(
      "scroll",
      () => {
        document.body.style.setProperty(
          "--scroll",
          window.pageYOffset / (document.body.offsetHeight - window.innerHeight)
        );
      },
      false
    );
  },
};
</script>

<style>
.sub-s-image-hero {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.sub-s-heading-1 .sub-s-text-1 {
  margin-bottom: 26.8px;
}
@media (max-width: 991px) {
  /* .heading-1 .text-1 {
    margin-bottom: 
  } */
  .sub-s-heading-1 {
    font-size: 2.1em !important;
  }
  .sub-s-heading-div-p {
    font-family: Raleway;
    font-size: 18px !important;

    line-height: 150% !important; /* 24px */
    background: linear-gradient(
      137deg,
      #fff -18.54%,
      rgba(255, 255, 255, 0) 149.75%
    ) !important;
    background-clip: text;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    backdrop-filter: blur(2px) !important;
  }
  .sub-s-about-left-top-light {
    background-image: unset !important;
    background: linear-gradient(
      148deg,
      rgba(85, 192, 249, 0.34) 0%,
      rgba(255, 255, 255, 0) 73%
    );
    height: 100% !important;
    width: 100% !important;
  }
  .sub-s-image-hero {
    position: relative;
    width: 120%;
    height: 100%;
    object-fit: unset;
    left: -50px;
  }
  .shape-h1 {
    /* position: absolute; */
    top: 0% !important;
    bottom: unset !important;
    left: 50% !important;
    font-size: 113px !important;
    transform: translate(-50%, 64%) !important;
  }
}

.sub-s-heading-div-p {
  font-variant-numeric: lining-nums proportional-nums;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  /* text-transform: capitalize; */
  background: linear-gradient(
    137deg,
    #fff -18.54%,
    rgba(255, 255, 255, 0) 149.75%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backdrop-filter: blur(2px);
}

.sub-s-about-left-top-light {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: auto;
  object-fit: cover;
}
.sub-s-about-right-bottom-light {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: auto;
  object-fit: cover;
}
.sub-s-heading-1 {
  font-size: 2.5em;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 150%; /* 138px */
}
.sub-s-heading-1 .sub-s-text-1,
.sub-s-heading-1 .sub-s-text-2 {
  display: block;
}
.sub-s-heading-1 .sub-s-text-1 {
  background: linear-gradient(
    126deg,
    #fff -6.54%,
    rgba(255, 255, 255, 0) 152.98%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backdrop-filter: blur(2px);
}
.sub-s-heading-1 .sub-s-text-2 {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 38.4px */
}
.sub-s-stars-left {
  height: 60%;
  background-image: url("/images/Stars-left.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 60%;
  background-position: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -2;
  animation-name: stars;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
}
.sub-s-stars-right {
  height: 60%;
  background-image: url("/images/Stars-right.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 60%;
  background-position: 0;
  position: absolute;
  bottom: -20%;
  right: 0;
  z-index: -2;
  animation-name: stars;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}
.sub-s-div-hero-right,
.sub-s-div-hero-left {
  /* animation: scroll-img 1s ease forwards; */
  /* animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both; */
}

@keyframes scroll-img {
  0% {
    /* transform: scale(100%);
    background: red; */
    opacity: 0.5;
  }

  100% {
    /* transform: scale(150%); */
    opacity: 1;
    /* background: red; */
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.fit-content {
  width: fit-content;
}
</style>
