<template>
  <div class="bg-primary position-relative" style="margin-top: -250px">
    <img
      alt="image"
      class="process-right-light"
      src="/images/process-right-light.svg"
    />
    <img
      alt="image"
      class="process-left-light"
      src="/images/process-left-light.svg"
    />
    <div class="container">
      <div class="row">
        <div class="col-12 text-center p-15">
          <h2 class="heading-2 text-center text-upper">HOW</h2>
          <p class="text-center" style="max-width: 600px; margin: 0 auto">
            {{ content.desc }}
          </p>
        </div>
      </div>
    </div>
    <div class="container m-t-50 m-b-150">
      <div class="row p-15 row-gap">
        <div class="col-8">
          <div class="how-card how-card-1">
            <div class="how-card-content">
              <h3>1. {{ content.cards[0].title }}</h3>
              <p>
                {{ content.cards[0].desc }}
              </p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="how-card how-card-2">
            <div class="how-card-content">
              <h3>2. {{ content.cards[1].title }}</h3>
              <p>
                {{ content.cards[1].desc }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-15 row-gap">
        <div class="col-4">
          <div class="how-card how-card-2">
            <div class="how-card-content">
              <h3>3. {{ content.cards[2].title }}</h3>
              <p>
                {{ content.cards[2].desc }}
              </p>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="how-card how-card-1 bg-card-2">
            <div class="how-card-content">
              <h3>4. {{ content.cards[3].title }}</h3>
              <p>
                {{ content.cards[3].desc }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["content"],
};
</script>

<style scoped>
.how-card {
  border: 1px solid rgba(255, 255, 255, 12%);
  backdrop-filter: blur(8.765625px);
  padding: 40px 40px;
  position: relative;
  border-radius: 15.938px;
  min-height: 300px;
  height: 100%;
}
.how-card h3 {
  font-family: Raleway;
  font-size: 1.7em;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 70.5px */
  background: linear-gradient(
    185deg,
    #fff 19.78%,
    rgba(255, 255, 255, 0) 126.23%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.how-card p {
  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 21px */
  /* text-transform: capitalize; */
}
.how-card-1 .how-card-content {
  height: 100%;
  position: relative;
  bottom: -100px;
}
.how-card-1 {
  background: radial-gradient(
      136.26% 79.57% at 83.53% 108.28%,
      rgba(85, 192, 249, 0.3) 0%,
      rgba(85, 192, 249, 0) 100%
    ),
    radial-gradient(
      69.37% 49.45% at 13.4% -10.3%,
      rgba(13, 71, 245, 0.3) 0%,
      rgba(13, 71, 245, 0.25) 0.01%,
      rgba(13, 71, 245, 0) 100%
    ),
    linear-gradient(
      148deg,
      rgba(220, 220, 220, 0.09) 2.42%,
      rgba(221, 221, 221, 0.01) 99.39%
    );
}
.how-card-2 {
  background: linear-gradient(
    148deg,
    rgba(220, 220, 220, 0.09) 2.42%,
    rgba(221, 221, 221, 0.01) 99.39%
  );
}
.bg-card-2 {
  background: linear-gradient(
    148deg,
    rgba(220, 220, 220, 0.09) 2.42%,
    rgba(221, 221, 221, 0.01) 99.39%
  );
}
p {
  color: #fff;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  margin-top: 0px;
  font-weight: 200;
  line-height: 150%; /* 27px */
  /* text-transform: capitalize; */
}
.heading-2 {
  margin-bottom: 0px;
}
.how-card-content h3 {
  /* font-size: clamp(1em, 2vw, 2.1em); */
  /* font-size: calc(1.1em + 1vw); */
  width: 100%;
  word-break: break-word;
}
.row-gap {
  gap: 30px;
}
.process-right-light {
  position: absolute;
  right: -40%;
  top: -30%;
  z-index: 0;
}
@media (max-width: 991px) {
  .how-card-content {
    position: static !important;
  }
}
</style>
