<template>
  <div
    class="bg-primary position-relative margin-top-why"
    style="margin-top: -250px"
  >
    <img
      alt="image"
      class="process-right-light m-hide"
      src="/images/process-right-light.svg"
    />
    <img
      alt="image"
      class="process-right-bottom-light m-hide"
      src="/images/process-right-light.svg"
    />
    <img
      alt="image"
      class="process-left-light m-hide"
      src="/images/process-left-light.svg"
    />
    <div class="container">
      <div class="row">
        <div class="col-5 col-5-md p-15">
          <h2 class="heading-2 text-upper">WHAT</h2>
          <p class="">
            {{ content.desc }}
          </p>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: -180px">
      <div class="row p-15">
        <div class="col-6"></div>
        <div class="col-6 position-relative">
          <NuxtImg
            class="card-image-what"
            src="/images/services/pages/what-card-1.svg"
          ></NuxtImg>
          <div class="what-card-content">
            <h3>1. {{ content.cards[0].title }}</h3>
            <p>
              {{ content.cards[0].desc }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: -80px">
      <div class="row p-15">
        <div class="col-6 position-relative">
          <NuxtImg
            class="card-image-what"
            src="/images/services/pages/what-card-2.svg"
          ></NuxtImg>
          <div class="what-card-content">
            <h3>2. {{ content.cards[1].title }}</h3>
            <p>
              {{ content.cards[1].desc }}
            </p>
          </div>
        </div>
        <div class="col-6"></div>
      </div>
    </div>
    <div class="container m-b-150" style="margin-top: -90px">
      <div class="row p-15">
        <div class="col-6"></div>
        <div class="col-6 position-relative">
          <NuxtImg
            class="card-image-what"
            src="/images/services/pages/what-card-3.svg"
          ></NuxtImg>
          <div class="what-card-content">
            <h3>3. {{ content.cards[2].title }}</h3>
            <p>
              {{ content.cards[2].desc }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div v-if="content.cards[3]" class="container" style="margin-top: -180px">
      <div class="row p-15">
        <div class="col-6 position-relative">
          <NuxtImg
            class="card-image-what"
            src="/images/services/pages/what-card-2.svg"
          ></NuxtImg>
          <div class="what-card-content">
            <h3>4. {{ content.cards[3].title }}</h3>
            <p>
              {{ content.cards[3].desc }}
            </p>
          </div>
        </div>
        <div class="col-6"></div>
      </div>
    </div>
    <div
      v-if="content.cards[4]"
      class="container m-b-150"
      style="margin-top: -90px"
    >
      <div class="row p-15">
        <div class="col-6"></div>
        <div class="col-6 position-relative">
          <NuxtImg
            class="card-image-what"
            src="/images/services/pages/what-card-3.svg"
          ></NuxtImg>
          <div class="what-card-content">
            <h3>5. {{ content.cards[4].title }}</h3>
            <p>
              {{ content.cards[4].desc }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container" v-if="content.cards[5]" style="margin-top: -180px">
      <div class="row p-15">
        <div class="col-6 position-relative">
          <NuxtImg
            class="card-image-what"
            src="/images/services/pages/what-card-1.svg"
          ></NuxtImg>
          <div class="what-card-content">
            <h3>6. {{ content.cards[5].title }}</h3>
            <p>
              {{ content.cards[5].desc }}
            </p>
          </div>
        </div>
        <div class="col-6"></div>
      </div>
    </div>
    <div
      v-if="content.cards[6]"
      class="container m-b-150"
      style="margin-top: -90px"
    >
      <div class="row p-15">
        <div class="col-6"></div>
        <div class="col-6 position-relative">
          <NuxtImg
            class="card-image-what"
            src="/images/services/pages/what-card-3.svg"
          ></NuxtImg>
          <div class="what-card-content">
            <h3>7. {{ content.cards[6].title }}</h3>
            <p>
              {{ content.cards[6].desc }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container" v-if="content.cards[7]" style="margin-top: -180px">
      <div class="row p-15">
        <div class="col-6 position-relative">
          <NuxtImg
            class="card-image-what"
            src="/images/services/pages/what-card-1.svg"
          ></NuxtImg>
          <div class="what-card-content">
            <h3>8. {{ content.cards[7].title }}</h3>
            <p>
              {{ content.cards[7].desc }}
            </p>
          </div>
        </div>
        <div class="col-6"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["content"],
};
</script>

<style scoped>
@media (max-width: 991px) {
  .container {
    margin-top: 00px !important;
  }
  .card-image-what {
    width: 100% !important;
    min-height: 200px;
  }
  .what-card-content h3 {
    font-size: 1.3em !important;
  }
  .m-b-150 {
    margin-bottom: 20px !important;
  }
}
.what-card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
  width: 70%;
}
.what-card-content h3 {
  font-family: Raleway;
  font-size: 1.7em;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 70.5px */
  background: linear-gradient(
    185deg,
    #fff 19.78%,
    rgba(255, 255, 255, 0) 126.23%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.what-card-content p {
  color: #fff;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 21px */
  /* text-transform: capitalize; */
}
p {
  color: #fff;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  margin-top: 0px;
  font-weight: 200;
  line-height: 150%; /* 27px */
  /* text-transform: capitalize; */
}
.heading-2 {
  margin-bottom: 0px;
}
.row-gap {
  gap: 30px;
}
.card-image-what {
  width: 90%;
}
.process-right-bottom-light {
  position: absolute;
  right: -50%;
  top: 10%;
  z-index: 0;
}
</style>
