<template>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-12 p-15"></div>
      </div>
    </div>
    <div class="position-relative">
      <NuxtImg class="shape-light" src="/images/services/pages/why-light.svg">
      </NuxtImg>

      <div class="shape m-b-50">
        <div>
          <h1 class="shape-h1">why</h1>
          <div class="shape-left">
            <img
              alt="image"
              class="why-left-line"
              src="/images/way-top-line.svg"
            />
          </div>
          <div class="shape-right">
            <img
              alt="image"
              class="why-right-line"
              src="/images/way-bottom-line.svg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
@media (max-width: 991px) {
  /* .why-left-line,
  .why-right-line {
    width: 100% !important;
  } */
  .shape-right,
  .shape-left {
    width: 70%;
  }
  .shape-right {
    right: -30% !important;
  }
  .shape-left {
    left: -30% !important;
  }
}
.why-left-line {
  transform: rotate(-20deg);
  width: 90%;
  height: 1px;
  object-fit: cover;
  transform: scale(1);
  /* margin-top: -5px; */
  position: absolute;
  filter: blur(1px);
}
.why-right-line {
  transform: rotate(-20deg);
  width: 90%;
  height: 1px;
  object-fit: cover;
  transform: scale(1);
  filter: blur(1px);
  position: absolute;
}
.shape-h1 {
  position: absolute;
  bottom: 0%;
  left: 50%;
  font-size: 200px;
  font-family: "Raleway" !important;
  transform: translate(-50%, -60%);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  /* backdrop-filter: blur(2px) !important; */
}
.shape-light {
  position: absolute;
  bottom: 30%;
  left: 50%;
  z-index: -1;
  height: 100%;
  transform: translate(-50%, 0%);
  /* width: 100%;
  height: 494px;
  background-repeat: no-repeat !important;
  background: url(""); */
}
.shape {
  position: relative;
  height: 600px;
  overflow: hidden;
  max-width: 1982px;
  margin: 0 auto;
}
.shape-left {
  position: absolute;
  left: -20%;
  bottom: 0;
  width: 75%;
  background: rgb(3, 0, 20);
  /* background: linear-gradient(180deg, rgba(3, 0, 20, 1) 45%, rgba(255, 255, 255, 0) 91%); */
  height: 450px;
  transform: rotate(20deg);
}
.shape-right {
  bottom: 0;
  position: absolute;
  right: -20%;
  width: 75%;
  background: rgb(3, 0, 20);
  background: rgb(3, 0, 20);
  /* background: linear-gradient(180deg, rgba(3, 0, 20, 1) 45%, rgba(255, 255, 255, 0) 91%); */
  height: 450px;
  transform: rotate(-20deg);
}
</style>
