<template>
  <div
    class="bg-primary position-relative margin-top-why"
    style="margin-top: -250px"
  >
    <img
      alt="image"
      class="process-right-light m-hide"
      src="/images/process-right-light.svg"
    />
    <img
      alt="image"
      class="process-left-light m-hide"
      src="/images/process-left-light.svg"
    />
    <div class="container">
      <div class="row">
        <div class="col-5 col-5-md p-15">
          <h2 class="heading-2 text-upper">why</h2>
          <p class="">
            {{ content.desc }}
          </p>
        </div>
      </div>
    </div>
    <div class="container m-t-50 m-b-150">
      <div class="row p-15 row-gap">
        <div class="col-4">
          <div class="card-why-info card-why-info-1">
            <NuxtImg
              width="100%"
              height="100%"
              class="top-image"
              src="/images/services/pages/card-why-info-1.svg"
            ></NuxtImg>

            <p>
              {{ content.cards[0] }}
            </p>
          </div>
        </div>
        <div class="col-4">
          <div class="card-why-info card-why-info-2">
            <p>
              {{ content.cards[1] }}
            </p>
            <NuxtImg
              width="100%"
              height="100%"
              class="bottom-image"
              src="/images/services/pages/card-why-info-2.svg"
            ></NuxtImg>
          </div>
        </div>
        <div class="col-4">
          <div class="card-why-info card-why-info-3">
            <NuxtImg
              class="top-image"
              width="100%"
              height="100%"
              src="/images/services/pages/card-why-info-3.svg"
            ></NuxtImg>
            <p>
              {{ content.cards[2] }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["content"],
};
</script>
<style scoped>
p {
  color: #fff;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  margin-top: 0px;
  font-weight: 200;
  line-height: 150%; /* 27px */
  /* text-transform: capitalize; */
}
.heading-2 {
  margin-bottom: 0px;
}
.row-gap {
  gap: 30px;
}
</style>
<style>
.card-why-info-1 {
  /* margin-top: 100px; */
  background: radial-gradient(
      40.52% 53% at 19.9% -7.09%,
      rgba(85, 192, 249, 0.44) 0%,
      rgba(85, 192, 249, 0.03) 100%
    ),
    radial-gradient(
      30.13% 40.55% at 87.76% 110.02%,
      rgba(85, 192, 249, 0.18) 0%,
      rgba(85, 192, 249, 0.01) 100%
    ),
    #030014;
}
.card-why-info-1 p {
  position: relative;
  bottom: 8%;
  margin-bottom: 0;
}
.card-why-info-2 p {
  position: relative;
  top: 8%;
  margin-bottom: 0;
}
.card-why-info-3 p {
  position: relative;
  bottom: 8%;
  margin-bottom: 0;
}
.card-why-info-2 {
  margin-top: -100px;
  width: 100%;
  background: radial-gradient(
      51.2% 60.15% at 15.92% -5.74%,
      rgba(13, 71, 245, 0.3) 0%,
      rgba(13, 71, 245, 0.25) 0.01%,
      rgba(13, 71, 245, 0.05) 100%
    ),
    #030014;
}
.card-why-info-3 {
  margin-top: -200px;
  background: radial-gradient(
      109.82% 68.79% at 17.04% -24.86%,
      rgba(85, 192, 249, 0.18) 0%,
      rgba(85, 192, 249, 0.01) 100%
    ),
    radial-gradient(
      36.95% 53.52% at 75.2% 100%,
      rgba(13, 71, 245, 0.22) 0%,
      rgba(13, 71, 245, 0) 100%
    ),
    #030014;
}
.card-why-info p {
  padding: 10px 35px;
  color: #cecdd4;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 27px */
  text-transform: capitalize;
}
.card-why-info {
  width: 100%;
  height: 100%;
  min-height: 200px;
  transition: all 0.4s;

  /* stroke-width: 0.804px; */
  border: 0.8px solid rgba(255, 255, 255, 12%);
  backdrop-filter: blur(8.848920822143555px);
  border-radius: 15px;
  /* padding: 15px; */
  overflow: hidden;
}
.card-why-info:hover {
  box-shadow: 0 0 35px rgba(75, 123, 236, 0.35);
}
.top-image {
  position: relative;
  top: 0;
  width: 100%;
}
.bottom-image {
  position: relative;
  bottom: 0;
  width: 100%;
}
.process-right-light {
  position: absolute;
  right: -70%;
  top: -70%;
  z-index: 0;
}
.process-left-light {
  position: absolute;
  left: -30%;
  top: -30%;
  z-index: 0;
}
@media (max-width: 991px) {
  .col-5-md {
    width: 100% !important;
  }
  .margin-top-why {
    margin-top: -378px !important;
  }
  .card-why-info-2,
  .card-why-info-1,
  .card-why-info-3 {
    margin-top: 50px !important;
  }
  .col-4 {
    width: 100% !important;
  }
  .col-8 {
    width: 100% !important;
  }
  .m-b-150 {
    margin-bottom: 20px !important;
  }
}
</style>
