<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Making Your Brand Stand Out and Thrive",
        p: "At iWINGS, we believe that your brand's position in the market is crucial to its success. It’s not just about being different; it's about being uniquely aligned with your audience's values and needs. Our mission is to help you find and claim that perfect spot in the market, ensuring your brand stands out, engages, and thrives.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "Your brand’s position can define its success. Our service helps you understand your competitive advantage and the market dynamics to position your brand effectively.",
          cards: [
            "Identify your unique advantage in a crowded marketplace.",
            "Align your organization around a compelling vision and clear objectives.",
            "Position your brand to connect with your audience and flourish.",
          ],
        },
        WHAT: {
          desc: "We begin with a thorough analysis of your market and competitors. We uncover gaps and identify opportunities, allowing us to craft a unique value proposition and develop a strategic roadmap for growth.",
          cards: [
            {
              title: "Market & Competitors Analysis",
              desc: "We dive deep into market trends and competitor actions to uncover gaps and opportunities for your brand.",
            },
            {
              title: "Strategic Evaluation",
              desc: "Our experts conduct SWOT assessments and craft a unique value proposition (UVP), creating a strategic roadmap for growth.",
            },
            {
              title: "Brand Positioning Opportunities",
              desc: "Utilizing extensive data, we pinpoint the ideal position for your brand to thrive and stand out.",
            },
          ],
        },
        how: {
          desc: "We employ comprehensive market research and analysis to ensure your brand’s positioning is strong and relevant. By aligning your strengths with market needs, we ensure your positioning guides you toward success.",
          cards: [
            {
              title: "Market Research & Forecasts",
              desc: "We start with comprehensive research and future projections to ensure your brand’s positioning remains strong as the market evolves.",
            },
            {
              title: "Competitive Landscape",
              desc: "Analyzing competitors' strengths and weaknesses highlights your unique value proposition, making your brand shine.",
            },
            {
              title: "Customer/Market Insights & Strategic Fit",
              desc: "Aligning your brand’s strengths with market needs ensures your positioning guides you toward success.",
            },
            {
              title: "Organizational Alignment",
              desc: "We ensure your entire organization embraces the chosen position, maintaining a consistent and powerful brand message.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
