<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Creating a Captivating Brand That Resonates",
        p: "Standing out from the crowd requires more than just having a unique product or service. It requires having a defined brand that tells a captivating story, reflects your values and purpose, and fosters meaningful connections with your audience. At iWings, we offer professional brand strategy consulting services to guide you on this journey.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "Your brand is more than just a logo or tagline. It embodies your promise, commitment, and identity. Our Brand Strategy service acts as your guiding compass, helping you create a cohesive, impactful, and authentic brand that resonates with your core values and audience.",
          cards: [
            "Create a unique, convincing, and consistent brand identity that distinguishes you in the market",
            "Set a clear direction for your organization toward achieving your business objectives",
            "Give your customers a clear reason to choose you over your competitors",
          ],
        },
        WHAT: {
          desc: "We provide a detailed roadmap, helping you articulate your brand’s essence and market perception. This comprehensive company profile encapsulates your brand’s core values and positioning.",
          cards: [
            {
              title: "Brand Discovery",
              desc: "We delve into the core values, purpose, and positioning of your brand. We also analyze factors such as your target market, competitive landscape, and industry trends.",
            },
            {
              title: "Strategy Formulation",
              desc: "Based on our findings, we create strategies that align with your business goals and appeal to your audience, establishing a strong brand architecture.",
            },
            {
              title: "Strategy Implementation",
              desc: "We provide guidance on how to effectively implement the brand strategy, driving brand awareness, loyalty, and growth.",
            },
          ],
        },
        how: {
          desc: "Our approach involves a combination of research, creativity, and strategic thinking to create a powerful, unique brand.",
          cards: [
            {
              title: "Market Research",
              desc: "We use market research techniques to gain insights into your target audience, competition, and current market trends.",
            },
            {
              title: "Strategic Planning",
              desc: "Based on these insights, we create a brand strategy that effectively positions your brand in the market and guides all brand-related decisions.",
            },
            {
              title: "Strategic Foresight",
              desc: "At iWings, we utilize our experience and expertise, following a structured and systematic approach of using ideas about the future to anticipate and better prepare for change.",
            },
            {
              title: "Tracking Performance",
              desc: "We continuously monitor the effectiveness of the brand strategy, making adjustments based on feedback from the market and evolving trends.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
