<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Creating the Heart and Soul of Your Business",
        p: "At iWINGS, we believe that your brand identity is more than just visual elements - it's the emotional connection that resonates with your audience. It's about creating a unique identity that embodies your business's personality and values, capturing the attention and trust of your customers. Our mission is to help you forge a compelling brand identity that not only stands out but also reflects what you and your customers believe in.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "Your brand identity is the heart and soul of your business, it’s what distinguishes you and leaves a lasting impression on your customers.",
          cards: [
            "A unique brand identity captures your audience’s attention and makes you distinguished in the market.",
            "Your brand is more than just a logo or color palette, it is an embodiment of your business personality and values.",
            "Reaching consistency helps build trust with your audience, ultimately boosting brand recall.",
          ],
        },
        WHAT: {
          desc: "We create brand identities that go beyond mere names or symbols. Our approach is to deeply understand your brand - its goals, aspirations, and limitations.",
          cards: [
            {
              title: "Brand Analysis",
              desc: "We begin with a comprehensive analysis of your brand elements, market positioning, and customer perception to develop a strategic approach to shaping your brand identity.",
            },
            {
              title: "Visual Elements & Brand Messages",
              desc: "Our designers and strategists collaborate to create visual elements that align with your brand’s personality and values, from logos to typography, color palettes, and imagery styles.",
            },
            {
              title: "Brand Guidelines",
              desc: "We develop detailed brand guidelines to ensure consistency across all touchpoints, outlining rules for logo usage, color schemes, typography, and more.",
            },
          ],
        },
        how: {
          desc: "Our techniques ensure your brand’s voice resonates with your audience.",
          cards: [
            {
              title: "Creative Exploration",
              desc: "We push creative boundaries to ensure your brand identity captures the essence of your business, incorporating your input to reflect your unique brand.",
            },
            {
              title: "Design Excellence",
              desc: "We combine aesthetic appeal with design principles to create visuals that not only look stunning but also communicate your brand’s values effectively.",
            },
            {
              title: "Ensuring Consistency",
              desc: "We work with you to implement and enforce brand guidelines across all platforms, maintaining a consistent and intact brand identity.",
            },
            {
              title: "Journey with iWINGS!",
              desc: "At iWINGS, we create brand identities that resonate, inspire, and leave a lasting impact. Your brand identity will evolve into a compelling story, an emotion, and a commitment. ",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
