<template>
  <ServiceMainHeroservice1 :dataProps="dataProps"></ServiceMainHeroservice1>
  <ServiceMainSubservice1 :content="content"></ServiceMainSubservice1>
</template>

<script>
import { defineAsyncComponent } from "vue";
export default {
  components: {
    ServiceMainHeroservice1: defineAsyncComponent(() =>
      import("@/components/service/main/heroservice.vue")
    ),
    ServiceMainSubservice1: defineAsyncComponent(() =>
      import("@/components/service/main/subservice.vue")
    ),
  },
  data() {
    return {
      dataProps: {
        title: "Elevate Your Brand with Purpose",
        p: "At iWINGS, we believe that your brand is more than just a logo or a tagline - it's the embodiment of your values, your purpose, and your vision for the future. It’s the promise you make to your customers, reflecting what you stand for and why you exist. ",
        p2: "We are passionate about helping brands connect deeply with their audience by crafting narratives that resonate on a human level, making your brand not just recognized, but truly remembered.",
        image: "/images/services/pages/hero-image.png",
      },
      content: [
        {
          title: "Brand Strategy",
          p: "Creating a compelling blueprint that defines your brand's purpose, vision, and direction, ensuring every element reflects your core values.",
          link: "/services/branding/brand-strategy",
        },
        {
          title: "Brand Identity",
          p: "Crafting unique, memorable visual and verbal elements that immediately express your brand’s personality and make a lasting impression.",
          link: "/services/branding/brand-identity",
        },
        {
          title: "Rebranding & Brand Revamp",
          p: "Breathing new life into your brand to align with evolving market trends and the changing needs of your audience.",
          link: "/services/branding/rebranding-brand-revamp",
        },
        {
          title: "Brand Positioning",
          p: "Strategically positioning your brand in the marketplace to attract and connect with your ideal customers effectively.",
          link: "/services/branding/brand-positioning",
        },
      ],
    };
  },
};
</script>
