<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Breathing New Life into Your Brand",
        p: "At iWINGS, we understand that the essence of your brand is more than just its appearance - it's the story it tells and the connections it fosters. As your business evolves, so too should your brand. Our mission is to help you rediscover and redefine your brand’s identity, ensuring it resonates with your audience and stands out in a competitive landscape.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "Your brand must evolve with changing business goals, values, and market dynamics. By retelling your brand story, you connect with new customers, expand your base, and thrive by aligning with audience preferences and aspirations in a competitive environment.",
          cards: [
            "Reconnect with your audience by reshaping your brand story to reflect evolving values and goals.",
            "Engage new customers and grow your existing base by aligning your brand with their preferences.",
            "Stand out in the market by adopting a new, compelling brand position.",
          ],
        },
        WHAT: {
          desc: "We evaluate your existing brand, analyze customer feedback, redesign identity elements, and develop a strategic roadmap for seamless implementation, ensuring alignment with customer expectations.",
          cards: [
            {
              title: "Brand Evaluation",
              desc: "We start our process by evaluating your existing brand. This helps us identify areas that need enhancement and forms the foundation for our rebranding strategy.",
            },
            {
              title: "Customers Analysis",
              desc: "Delving into customer feedback, behaviors, and preferences to ensure the new brand aligns perfectly with their expectations.",
            },
            {
              title: "Creative Redesign",
              desc: "Our team of designers and strategists work closely to create captivating brand identity elements. We ensure every element reflects the renewed essence of your business.",
            },
            {
              title: "Strategic Implementation",
              desc: "Rebranding is more than just aesthetics. We develop a strategic roadmap to implement your brand across all touchpoints, ensuring a consistent and impactful customer experience.",
            },
          ],
        },
        how: {
          desc: "We employ thorough market research and creative development to transform your brand, ensuring a smooth transition to its new identity.",
          cards: [
            {
              title: "Thorough Market Research",
              desc: "Conducting in-depth market research to understand industry trends, competitor strategies, and emerging opportunities.",
            },
            {
              title: "New Brand Identity Development",
              desc: "Using creativity to develop a brand identity that encapsulates your vision, values, and aspirations leaving a lasting impression on your target audience.",
            },
            {
              title: "Seamless Implementation",
              desc: "Ensuring a smooth transition of your brand to its new identity, with all elements in harmony and ready for launch.",
            },
            {
              title: "Revamp Service",
              desc: "For businesses looking for a modern update without a total transformation, our Revamp Service revitalizes your brand while retaining its essence.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
