<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Harnessing Data to Drive Growth and Enhance User Experience",
        p: "At iWINGS, we believe that data is the key to unlocking your business’s potential. Our mission is to leverage data analytics and conversion optimization to help you make informed decisions, improve user experiences, and drive growth.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "Data Analytics & Conversion Optimization are critical for understanding user behavior, enhancing customer experiences, and maximizing business performance. Here’s why our service is essential for your business.",
          cards: [
            "Data-driven insights allow you to make strategic decisions that align with your business goals and customer needs.",
            "By understanding user behavior, we can optimize your digital platforms to provide a seamless and enjoyable experience.",
            "Strategic optimization of your website and marketing efforts leads to higher conversion rates, turning visitors into loyal customers.",
          ],
        },
        WHAT: {
          desc: "Our Data Analytics & Conversion Optimization service includes a comprehensive suite of strategies and tactics designed to enhance your business performance.",
          cards: [
            {
              title: "Data Collection & Analysis",
              desc: "Gathering and analyzing data from various sources to gain a comprehensive understanding of user behavior and market trends.",
            },
            {
              title: "Customer Journey Mapping",
              desc: "Visualizing the customer journey to identify touchpoints and opportunities for optimization.",
            },
            {
              title: "Conversion Rate Optimization (CRO)",
              desc: "Implementing strategies to optimize your website and marketing campaigns, increasing the likelihood of conversion.",
            },
            {
              title: "A/B Testing & Experimentation",
              desc: "Conducting experiments to test different variations of your website and marketing elements to determine the most effective approach.",
            },
            {
              title: "Performance Monitoring & Reporting",
              desc: "Continuously monitoring key performance metrics and providing detailed reports to track progress and identify areas for improvement.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to Data Analytics & Conversion Optimization is analytical, strategic, and iterative.",
          cards: [
            {
              title: "Understanding Your Goals",
              desc: "We start by understanding your business objectives, target audience, and key performance indicators (KPIs) to tailor our strategy to your needs.",
            },
            {
              title: "Data-Driven Strategy Development",
              desc: "Using data insights, we develop a strategy that focuses on optimizing user experience and increasing conversions.",
            },
            {
              title: "Implementation & Testing",
              desc: "Our team implements the strategy, conducts A/B testing, and monitors performance to ensure continuous improvement.",
            },
            {
              title: "Continuous Optimization",
              desc: "We make data-driven adjustments and refinements to maximize your results and ensure sustained growth.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
