<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Building Powerful Online Stores That Drive Sales",
        p: "At iWINGS, we believe that a robust e-commerce platform is crucial for reaching a global audience and driving sales. Our mission is to create powerful, user-friendly online stores that enhance the shopping experience, boost conversions, and support your business growth.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "A well-developed e-commerce platform is essential for capitalizing on the growing trend of online shopping. Here’s why our E-Commerce service is crucial for your business.",
          cards: [
            "E-commerce platforms enable you to reach customers globally, providing an opportunity to increase sales and grow your brand.",
            "A seamless and intuitive online shopping experience enhances customer satisfaction and encourages repeat business.",
            "Optimized e-commerce websites guide customers smoothly through the purchase process, increasing conversion rates and driving revenue.",
          ],
        },
        WHAT: {
          desc: "Our E-Commerce service includes a comprehensive suite of strategies and tactics designed to create an exceptional online shopping experience.",
          cards: [
            {
              title: "Custom E-Commerce Website Design",
              desc: "Crafting visually appealing and user-friendly online stores that reflect your brand’s identity and provide an engaging shopping experience.",
            },
            {
              title: "Product Management",
              desc: "Implementing efficient product management systems to handle inventory, categorization, and product descriptions seamlessly.",
            },
            {
              title: "Secure Payment Gateways",
              desc: "Integrating reliable and secure payment gateways to ensure smooth and safe transactions for your customers.",
            },
            {
              title: "SEO for E-Commerce",
              desc: "Optimizing product pages and website structure to improve search engine rankings and attract organic traffic.",
            },
            {
              title: "Mobile Optimization",
              desc: "Ensuring your e-commerce platform is fully responsive and performs flawlessly on all devices, providing a seamless shopping experience for mobile users.",
            },
            {
              title: "Performance Tracking and Analytics",
              desc: "Monitoring key metrics to understand customer behavior, optimize the shopping experience, and drive continuous improvement.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to E-Commerce is strategic, customer-focused, and results-driven.",
          cards: [
            {
              title: "Understanding Your Business",
              desc: "We start by understanding your business goals, target audience, and product offerings to tailor our e-commerce strategy to your needs.",
            },
            {
              title: "Design and Development",
              desc: "Our team of designers and developers work together to create a visually stunning and highly functional e-commerce platform.",
            },
            {
              title: "Integration and Testing",
              desc: "We integrate necessary tools and plugins, conduct thorough testing to ensure seamless functionality and security before launching.",
            },
            {
              title: "Ongoing Support and Optimization",
              desc: "We provide continuous support, monitoring performance and making data-driven adjustments to ensure your e-commerce site remains effective and competitive.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
