<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Adapting Technology to Grow with Your Business",
        p: "At iWINGS, we believe that technology should evolve alongside your business. Our mission is to provide flexible and scalable solutions that adapt to your changing needs, ensuring continuous growth and efficiency.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "Flexible and scalable solutions are essential for maintaining agility and staying competitive in today’s fast-paced market. Here’s why our Flexible and Scalable Solutions service is crucial for your business.",
          cards: [
            "Solutions that can easily adjust to your changing business requirements help you stay ahead of market trends and demands.",
            "Scalable technology allows you to invest gradually, aligning costs with growth and reducing the risk of over-investment.",
            "Flexible solutions support continuous improvement and innovation, driving sustained business growth and efficiency.",
          ],
        },
        WHAT: {
          desc: "Our Flexible and Scalable Solutions service includes a comprehensive suite of strategies and tactics designed to ensure your technology infrastructure grows with your business.",
          cards: [
            {
              title: "Custom Software Development",
              desc: "Creating tailored software solutions that meet your unique business needs and can be scaled as your business grows.",
            },
            {
              title: "Cloud Solutions",
              desc: "Leveraging cloud technology to provide scalable storage, computing power, and applications that adapt to your changing requirements.",
            },
            {
              title: "Modular System Design",
              desc: "Developing systems with modular architecture, allowing for easy expansion and integration of new functionalities.",
            },
            {
              title: "Integration Services",
              desc: "Ensuring seamless integration with existing systems and third-party applications to enhance overall efficiency and scalability.",
            },
            {
              title: "Performance Monitoring and Optimization",
              desc: "Continuously monitoring and optimizing system performance to ensure it meets evolving business needs.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to Flexible and Scalable Solutions is strategic, innovative, and growth-focused.",
          cards: [
            {
              title: "Understanding Your Business",
              desc: "We start by diving deep into your business goals, current infrastructure, and future growth plans to develop a tailored strategy.",
            },
            {
              title: "Design and Development",
              desc: "Our team of experts designs and develops flexible and scalable solutions that are aligned with your business objectives.",
            },
            {
              title: "Implementation and Integration",
              desc: "We implement the solutions, ensuring seamless integration with your existing systems and processes.",
            },
            {
              title: "Ongoing Support and Optimization",
              desc: "We provide continuous support, making data-driven adjustments and optimizations to ensure the solutions evolve with your business.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
