<template>
  <ServiceMainHeroservice1 :dataProps="dataProps"></ServiceMainHeroservice1>
  <ServiceMainSubservice1 :content="content"></ServiceMainSubservice1>
</template>

<script>
import { defineAsyncComponent } from "vue";
export default {
  components: {
    ServiceMainHeroservice1: defineAsyncComponent(() =>
      import("@/components/service/main/heroservice.vue")
    ),
    ServiceMainSubservice1: defineAsyncComponent(() =>
      import("@/components/service/main/subservice.vue")
    ),
  },
  data() {
    return {
      dataProps: {
        title: "Empowering Your Business Through Innovative Digital Solutions",
        p: "At iWINGS, we believe in the transformative power of technology to elevate businesses and drive meaningful change. Our purpose is to help you harness the potential of cutting-edge digital solutions to achieve your goals and realize your vision. ",
        p2: "We are passionate about innovation and committed to your success, ensuring that our technology solutions not only meet today's demands but also pave the way for future growth.",
        image: "/images/services/pages/hero-image.png",
      },
      content: [
        {
          title: "Web Development",
          p: "Designing bespoke, high-performance websites that reflect your brand's unique identity and support your business objectives.",
          link: "/services/technology/web-development",
        },
        {
          title: "App Development",
          p: "Developing intuitive, engaging mobile applications designed to enhance user experience and increase customer satisfaction.",
          link: "/services/technology/app-development",
        },
        {
          title: "SaaS Solution",
          p: "Providing robust, scalable Software as a Service solution to streamline and simplify your business operations.",
          link: "/services/technology/saas-solution",
        },
        {
          title: "Flexible and Scalable Solutions",
          p: "Developing adaptable technology solutions that grow with your business, ensuring continuous improvement and scalability.",
          link: "/services/technology/flexible-scalable-solutions",
        },
        {
          title: "Data Analytics & Conversion Optimization",
          p: "Utilizing data insights to refine your digital strategies, increase conversions, and optimize overall performance.",
          link: "/services/technology/data-analytics-conversion-optimization",
        },
        {
          title: "E-Commerce",
          p: "Building dynamic e-commerce platforms designed to drive sales and provide an exceptional shopping experience for your customers.",
          link: "/services/technology/e-commerce",
        },
      ],
    };
  },
};
</script>
