<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Building High-Performing and User-Friendly Websites",
        p: "At iWINGS, we believe that a website is more than just an online presence—it’s a powerful tool for engaging your audience and driving your business forward. Our mission is to create high-performing, user-friendly websites that reflect your brand’s values and deliver a seamless user experience.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "A well-developed website is crucial for establishing credibility, engaging visitors, and driving conversions. Here’s why our Web Development service is essential for your business.",
          cards: [
            "Your website is often the first interaction potential customers have with your brand. A well-designed site ensures a positive first impression, building trust and encouraging further engagement.",
            "A user-friendly website with intuitive navigation and fast load times keeps visitors engaged and encourages them to explore more of your offerings.",
            "A strategically developed website guides visitors through the sales funnel, converting them from casual browsers into loyal customers.",
          ],
        },
        WHAT: {
          desc: "Our Web Development service includes a comprehensive suite of strategies and tactics designed to create a website that meets your business goals and exceeds user expectations.",
          cards: [
            {
              title: "Custom Website Design",
              desc: "Crafting bespoke website designs that reflect your brand’s identity and resonate with your target audience.",
            },
            {
              title: "Responsive Development",
              desc: "Ensuring your website performs flawlessly across all devices, providing a seamless experience for users on desktops, tablets, and smartphones.",
            },
            {
              title: "Content Management Systems (CMS)",
              desc: "Implementing user-friendly CMS platforms like WordPress, allowing you to easily update and manage your website content.",
            },
            {
              title: "E-commerce Solutions",
              desc: "Developing robust e-commerce platforms with secure payment gateways and intuitive product navigation to enhance the online shopping experience.",
            },
            {
              title: "SEO Integration",
              desc: "Building websites with SEO best practices in mind to improve your search engine rankings and increase organic traffic.",
            },
            {
              title: "Performance Optimization",
              desc: "Ensuring fast load times and optimal performance through code optimization and efficient hosting solutions.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to Web Development is strategic, user-focused, and results-driven.",
          cards: [
            {
              title: "Understanding Your Needs",
              desc: "We start by diving deep into your business goals, target audience, and brand identity to ensure our development strategy aligns with your objectives.",
            },
            {
              title: "Design and Development",
              desc: "Our team of designers and developers work together to create a visually stunning and highly functional website that engages users and drives conversions.",
            },
            {
              title: "Testing and Launch",
              desc: "We rigorously test your website to ensure it performs seamlessly across all devices and browsers before launching it to the public.",
            },
            {
              title: "Ongoing Support and Optimization",
              desc: "We provide continuous support and make data-driven adjustments to ensure your website remains up-to-date and performs at its best.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
