<template>
  <div class="row">
    <div class="col-12">
      <div class="card-contact">
        <p>
          Welcome! Whether you prefer dropping a line or giving us a call, we're here for
          you. Even during dinner, our inbox is always open.
        </p>
        <p>
          When we're not creating great marketing strategies, you'll find us enjoying a
          cup of coffee and a friendly chat. We'd love to connect with you too!
        </p>
        <p>
          Let's schedule a meeting, no strings attached, to discover the possibilities
          ahead together.
        </p>
        <br />
        <div class="contact-info">
          <div class="contact-info-icon">
            <img alt="image" src="/images/footer-icon-1.svg" />
          </div>
          <div class="contact-info-text">
            <div class="text-1">Tel</div>
            <div class="text-2">
              <a title="phone" target="_blank" href="tel:+971586987337">
                +971 58 698 7337</a
              >
            </div>
          </div>
        </div>
        <div class="contact-info">
          <div class="contact-info-icon">
            <img alt="image" src="/images/footer-icon-2.svg" />
          </div>
          <div class="contact-info-text">
            <div class="text-1">Mail</div>
            <div class="text-2">
              <a title="mail" target="_blank" href="mailto:info@iwings.io"
                >info@iwings.io</a
              >
            </div>
          </div>
        </div>
        <div class="contact-info">
          <div class="contact-info-icon">
            <img alt="image" src="/images/footer-icon-3.svg" />
          </div>
          <div class="contact-info-text">
            <div class="text-1">Address</div>
            <div class="text-2">
              Tamani Art offices - Business Bay - Dubai - United Arab Emirates
            </div>
          </div>
        </div>
        <div class="follow-div">
          <p class="p-follow">follow us</p>
          <div class="footer-social-link">
            <a href="https://www.facebook.com/iWings.io" target="_blank" title="facebook">
              <div class="social-icon">
                <img alt="image" src="/images/footer-icon-social-facebook.svg" />
              </div>
            </a>

            <a href="https://wa.me/46700698420" target="_blank" title="whatsapp">
              <div class="social-icon">
                <img alt="image" src="/images/footer-icon-social-Whatsapp.svg" />
              </div>
            </a>
            <a
              href="https://www.linkedin.com/company/iwings-agency/"
              target="_blank"
              title="linkedin"
            >
              <div class="social-icon">
                <img alt="image" src="/images/footer-icon-social-linkedin.svg" />
              </div>
            </a>
            <a
              href="https://www.instagram.com/iwings.io/"
              target="_blank"
              title="instagram"
            >
              <div class="social-icon">
                <img alt="image" src="/images/footer-icon-social-instagram.svg" />
              </div>
            </a>
            <a href="https://twitter.com/iWings_agency" target="_blank" title="twitter">
              <div class="social-icon">
                <img alt="image" src="/images/footer-icon-social-twitter.svg" />
              </div>
            </a>
            <a
              href="https://www.pinterest.com/iwingsagency/"
              target="_blank"
              title="pinterest"
            >
              <div class="social-icon">
                <img alt="image" src="/images/footer-icon-social-pinterest.png" />
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.footer-social-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}
.footer-social-link .social-icon {
  cursor: pointer;
  display: flex;
  width: 48px;
  height: 48px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100%;
  background: rgba(3, 0, 20, 0.22);
}
.follow-div {
  margin-top: 15% !important;
}
.follow-div .p-follow {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  text-transform: capitalize;
}
.card-contact p {
  width: 80%;
  margin-bottom: 35px;
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;

  /* Font - Desktop/bodytext 2 */

  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 38.4px */
}
.card-contact {
  padding: 40px 50px;
  background-image: url("/images/contact/contact-card-bg.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  aspect-ratio: 0.63;
  object-fit: auto;
  object-position: center;
  width: 100%;
  fill: linear-gradient(
      93deg,
      rgba(220, 220, 220, 0.08) -18.28%,
      rgba(221, 221, 221, 0.04) 114.81%
    ),
    radial-gradient(
      55% 39.81% at -1.26% 73.7%,
      rgba(13, 71, 245, 0.33) 0%,
      rgba(13, 71, 245, 0) 100%
    ),
    radial-gradient(
      59.62% 43.02% at 100.79% 47.33%,
      rgba(13, 71, 245, 0.33) 0%,
      rgba(13, 71, 245, 0) 100%
    );
  stroke-width: 1px;
  stroke: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(11px);
  max-width: 675px;
}

.contact-info-text .text-1 {
  color: var(--Dark-Text, #8c8c8c);
  /* font-family: "29LT Bukra"; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}
.contact-info-text .text-2 {
  color: #ffff;
  /* font-family: "29LT Bukra"; */
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.contact-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact-info-icon {
  display: flex;
  width: 48px;
  height: 48px;
  min-width: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  /* border: 1px solid #ffffff21; */
  background: rgba(3, 0, 20, 0.22);
  cursor: pointer;
  transition: all 0.3s;
}
.contact-info-icon:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.178);
}
.social-icon {
  transition: all 0.3s;
}
.social-icon:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.178);
}
@media (max-width: 991px) {
  .card-contact {
    padding: 29px 30px;
    background-image: url("/images/mobile/Subtract3.webp");
    background-size: cover !important;
    border-bottom: 1px solid #ffffff6b;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .card-contact p {
    width: 100%;
    margin-bottom: 10px;
    font-size: 17px;
  }
  .footer-social-link {
    flex-wrap: wrap;
  }
}
</style>
