<template>
  <div class="row">
    <div class="col-12 p-15">
      <h2 class="heading-form">How can we help you today?</h2>
    </div>
  </div>
  <div class="row">
    <div class="content-form-back"></div>
    <div class="col-12 p-15">
      <form @submit.prevent="onSubmit()">
        <div class="content-form">
          <span class="form-span">Your contact information</span>
          <div class="form_div">
            <div class="row gap-form">
              <div class="col-6">
                <div class="input_form">
                  <div class="input_form_container">
                    <span class="icon_input">
                      <img alt="image" src="/images/form-icon-p.svg" width="24" />
                    </span>
                    <input
                      v-model="form.name"
                      type="text"
                      class="input_text"
                      placeholder="What is your name :)"
                    />
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="input_form">
                  <div class="input_form_container">
                    <span class="icon_input">
                      <img
                        alt="image"
                        src="/images/contact/form-company.svg"
                        width="24"
                      />
                    </span>
                    <input
                      v-model="form.company"
                      type="text"
                      class="input_text"
                      placeholder="You company"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="input_form">
                  <div class="input_form_container">
                    <span class="icon_input">
                      <img alt="image" src="/images/form-icon-c.svg" width="24" />
                    </span>
                    <input
                      v-model="form.phone"
                      type="text"
                      class="input_text"
                      placeholder="Phone Number"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="input_form">
                  <div class="input_form_container">
                    <span class="icon_input">
                      <img alt="image" src="/images/form-icon-m.svg" width="24" />
                    </span>
                    <input
                      v-model="form.email"
                      required
                      type="email"
                      class="input_text"
                      placeholder="Mail"
                    />
                    <span style="color: red" v-if="ifNotEmail"
                      >Please enter a valid email!</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="input_form">
                  <div class="input_form_container">
                    <!-- <span class="icon_input">
                    <img alt="image"  src="/images/form-icon-m.svg" width="24" />
                  </span> -->
                    <textarea
                      v-model="form.message"
                      required
                      rows="10"
                      type="text"
                      style="border-left: 0; margin-left: -10px"
                      class="input_text"
                      placeholder="Your message"
                    />
                  </div>
                </div>
              </div>
            </div>
            <span class="form-span">Service - (Select the services you want)</span>
            <div class="check-box">
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <input
                      type="checkbox"
                      name="Branding"
                      id="Branding"
                      class="checkBox"
                      value="1"
                      v-model="form.group[0]"
                    />
                    <label for="Branding">Branding</label>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <input
                      v-model="form.group[1]"
                      type="checkbox"
                      name="Application"
                      id="Application"
                      class="checkBox"
                      value="1"
                    />
                    <label for="Application">Application</label>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <input
                      v-model="form.group[2]"
                      type="checkbox"
                      name="DESGINE"
                      id="DESGINE"
                      class="checkBox"
                      value="1"
                    />
                    <label for="DESGINE">UX/UI</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <input
                      v-model="form.group[3]"
                      type="checkbox"
                      name="SEO"
                      id="SEO"
                      class="checkBox"
                      value="1"
                    />
                    <label for="SEO">SEO</label>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <input
                      v-model="form.group[4]"
                      type="checkbox"
                      name="VideoMedia"
                      id="VideoMedia"
                      class="checkBox"
                      value="1"
                    />
                    <label for="VideoMedia">Video & Media</label>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <input
                      v-model="form.group[5]"
                      type="checkbox"
                      name="Creative writing"
                      id="Creative writing"
                      class="checkBox"
                      value="1"
                    />
                    <label for="Creative writing">Creative writing</label>
                  </div>
                </div>
              </div>
            </div>

            <button type="submit" :disabled="loading" class="submit_form">Send</button>
            <span v-if="loading">Loading ...</span>
            <span v-if="done">Your message was sent successfully</span>
          </div>
          <div class="whatsapp-call-div">
            <div class="row">
              <div class="col-7">
                <span class="span-1">If you have an urgent question,</span>
                <span class="span-2">Please don't hesitate to message us directly.</span>
              </div>
              <div class="col-5">
                <a
                  class="btn-a-link"
                  href="https://wa.me/+971507706746"
                  target="_blank"
                  title="whatsapp"
                >
                  <ButtonsWhatsapp
                    :btn="{ label: 'Whatsapp ', icon: 'Whatsapp' }"
                  ></ButtonsWhatsapp>
                </a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loading: false,
      ifNotEmail: false,
      done: false,
      form: {
        name: "",
        company: "",
        phone: "",
        email: "",
        message: "",
        group: {
          0: false,
          1: false,
          2: false,
          3: false,
          4: false,
          5: false,
        },
      },
    };
  },
  methods: {
    onSubmit(e) {
      var pattern = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i;
      if (!pattern.test(this.form.email)) {
        this.ifNotEmail = true;
        return false;
      } else {
        this.ifNotEmail = false;
        this.sendEmail();
      }
    },
    sendEmail() {
      this.done = false;
      this.loading = true;
      this.$mail
        .send({
          from: "info@iwings.io",
          subject: "New Contact Form",
          text: `
        name : ${this.form.name}.  
        company : ${this.form.company}.  
        phone : ${this.form.phone}.  
        email : ${this.form.email}.  
        message : ${this.form.message}.  
        Branding : ${this.form.group[0]}.  
        Application : ${this.form.group[1]}.  
        UX/UI DESGINE : ${this.form.group[2]}.  
        SEO : ${this.form.group[3]}.  
        Video & Media : ${this.form.group[4]}.  
        Creative writing : ${this.form.group[5]}.  
        `,
        })
        .then((result) => {
          this.done = true;
          this.loading = false;
        })
        .catch((err) => {
          this.done = false;
          this.loading = false;
        });
    },
  },
};
</script>

<style scoped>
.whatsapp-call-div {
  margin-top: 40px;
}
.btn-a-link {
  text-decoration: none;
  color: white;
}
.span-1 {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
}
.span-2 {
  display: block;
  font-size: 12px;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
}
.box {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid var(--bg1, #0f44ec);
  background: rgba(217, 217, 217, 0);
}
.gap-form {
  gap: 20px;
}
.form-span {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;

  /* Font - Desktop/small text 1 */

  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: 160%; /* 25.6px */
  text-transform: capitalize;
}
.heading-form {
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;

  /* Font - Desktop/Headline 5 */

  font-size: 1.2em;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 57px */
}
.submit_form {
  margin-top: 20px;
  outline: 0;
  width: 100%;
  border: 0;
  margin-bottom: 20px;
  padding: 15px 20px;
  border-radius: 12px;
  background: #0d47f5;
  color: white;
  text-align: center;
  cursor: pointer;
}
.input_form {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 15px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 12%);
  background: linear-gradient(
    93deg,
    rgba(220, 220, 220, 0.06) -18.45%,
    rgba(221, 221, 221, 0.03) 115.85%
  );
  backdrop-filter: blur(11px);
}
.input_text {
  width: 100%;
  background: transparent;
  outline: 0;
  border: 0;
  font-family: "Raleway";
  padding: 5px 0px;
  padding-left: 15px;
  border-left: 1px solid #ffffff43;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #999;
  font-variant-numeric: lining-nums proportional-nums;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 25.6px */
  text-transform: capitalize;
}
.input_form_container {
  display: flex;
  align-items: center;
}
.input_form {
  transition: all 0.3s;
}
.input_form:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.199);
}
</style>
<style lang="scss" scoped>
.form-group {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  .checkBox {
    display: none;

    &:checked + label::after {
      background: #55bff957;
    }

    & + label {
      z-index: 3;
      cursor: pointer;
      padding-left: 33px;
      display: block;
      position: relative;
      height: 20px;
      line-height: 1.7em;

      &:before {
        z-index: 2;
        top: 0px;
        left: 2px;
        width: 25px;
        height: 25px;
        background: linear-gradient(86.6deg, #0f44ec -4.17%, #55c0f9 73.28%),
          linear-gradient(0deg, rgba(217, 217, 217, 0), rgba(217, 217, 217, 0));
        display: block;
        content: "";
        position: absolute;
        border-radius: 4px;
      }

      &::after {
        z-index: 2;
        top: 2px;
        left: 4px;
        width: 21px;
        height: 21px;
        background: #030014;
        display: block;
        content: "";
        position: absolute;
        border-radius: 3px;
      }
    }
  }
}
</style>
<style scoped>
@media (max-width: 991px) {
  .gap-form {
    gap: 0;
  }
  .span-2 {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .col-7 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .content-form-back {
    background: linear-gradient(
      90deg,
      rgba(85, 192, 249, 0.23853291316526615) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
</style>
