import type { BlogPosts } from '#build/components';
<template>
  <div class="">
    <img
      alt="image"
      class="contact-hero-left-light m-new-background"
      src="/images/contact/hero-left-light.svg"
    />
    <img
      alt="image"
      class="contact-hero-right-light m-hide"
      src="/images/contact/hero-right-light.svg"
    />
    <img
      alt="image"
      class="contact-hero-left-bottom-light m-new-background2"
      src="/images/contact/hero-left-bottom-light.svg"
    />
    <div class="row container m-t-50 p-15">
      <div class="col-12 p-15 hero-contact">
        <h1 class="heading-contact-1 no-upper">
          <span class="text-2">iWINGS</span> magazine
        </h1>
        <!-- <p>
          If you want to get in touch with any of our wonderful team members, you can find
          their contact details here. <br />Or if you just want to see what we look like.
        </p> -->
      </div>
    </div>
  </div>
  <div class="row m-t-50 p-b-50 container">
    <div class="col-12 p-15">
      <BlogPosts></BlogPosts>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
.no-upper {
  text-transform: unset !important;
}
.heading-contact-1 .text-2 {
  background: linear-gradient(98deg, #0d47f5 5.07%, #55c0f9 56.19%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.fixed-animation {
  margin-top: 150px;
}
@media (max-width: 991px) {
  .fixed-animation {
    margin-top: 700px;
  }
}
</style>
<style scoped>
.contact-hero-left-light {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}
.contact-hero-left-bottom-light {
  position: absolute;
  left: 0;
  bottom: -800px;
  max-width: 100%;
  height: 135%;
}
.contact-hero-right-light {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
}
.hero-contact p {
  font-variant-numeric: lining-nums proportional-nums;

  /* Font - Desktop/bodytext 2 */
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 38.4px */
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 203.95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backdrop-filter: blur(2px);
  margin-top: 0px;
}
.heading-contact-1 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 3.4em;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  background: linear-gradient(
    173deg,
    #fff -31.57%,
    rgba(255, 255, 255, 0) 210.68%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backdrop-filter: blur(2px);
}
@media (max-width: 991px) {
  .m-new-background {
    background-image: unset !important;
    background: linear-gradient(
      120deg,
      rgba(13, 71, 240, 0.3) 0%,
      rgba(255, 255, 255, 0) 30%
    ) !important;
    height: 100%;
  }
  .m-new-background2 {
    background-image: unset !important;
    background: radial-gradient(
      circle,
      rgba(85, 192, 249, 0.23853291316526615) 49%,
      rgba(255, 255, 255, 0) 94%
    );
    height: 100%;
  }
  .heading-contact-1 {
    font-size: 2.5em;
  }
  .hero-contact p {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
  }

  .contact-hero-left-bottom-light {
    bottom: -1460px;
    max-width: 100%;
    width: 100%;
    height: 135%;
    background: radial-gradient(
      circle,
      rgb(85 192 249 / 18%) 0%,
      rgba(252, 70, 107, 0) 100%
    ) !important;
  }
}
</style>
