<template>
  <div class="container">
    <div class="row">
      <div class="col-12 p-15">
        <div class="btns-flex-cont">
          <div
            class="btn-secoundary btns-flex"
            :class="[item.selected ? 'active' : '']"
            v-for="item in items"
            :key="item"
            @click="item.selected = !item.selected"
          >
            <span class="label-btn"> {{ item.lable }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-t-50">
      <div class="col-12 p-15">
        <div class="post-card-flex-cont">
          <div class="post-card-flex" v-for="post in 6" :key="post">
            <NuxtImg format="webp" src="/images/blog/1.jpg"></NuxtImg>
            <div class="post-author">
              <div class="row">
                <div class="col-6">
                  <span class="post-author-icon">
                    <NuxtImg src="/images/person.svg"></NuxtImg>
                  </span>
                  <span class="post-author-span">Mohammed adil</span>
                </div>
                <div class="col-6">
                  <span class="post-author-icon">
                    <NuxtImg src="/images/date.svg"></NuxtImg>
                  </span>
                  <span class="post-author-span">2024 / 03 /5</span>
                </div>
              </div>
            </div>
            <div class="post-title">
              5 Media Activation Tips for CPG & Retail Marketers
            </div>
            <div class="post-tags">
              <span class="post-tag">#Media</span>
              <span class="post-tag">#GPS</span>
              <span class="post-tag">#Tips</span>
              <span class="post-tag">#Marketers</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-t-50">
      <div class="col-12 p-15">
        <div class="btns-flex-cont justify-center">
          <div
            class="btn-secoundary btns-flex"
            style="padding: 10px 15px"
            :class="[item === 1 ? 'active' : '']"
            v-for="item in 6"
            :key="item"
          >
            <span class="label-btn"> {{ item }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          selected: false,
          value: "Web development",
          lable: "Web development ",
        },
        {
          selected: false,
          value: "Mobile app",
          lable: "Mobile app",
        },
        {
          selected: true,
          value: "Marketers",
          lable: "Marketers",
        },
        {
          selected: false,
          value: "Solutions",
          lable: "Solutions",
        },
        {
          selected: true,
          value: "Media",
          lable: "Media",
        },
        {
          selected: false,
          value: "Agency",
          lable: "Agency",
        },
      ],
    };
  },
};
</script>

<style scoped>
.post-tag {
  color: #55c0f9;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-right: 10px;
}
.post-card-flex-cont {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.post-card-flex {
  position: relative;
  padding: 1px;
  width: 31%;
  border-radius: 16px;
  overflow: hidden;
  background: linear-gradient(98.03deg, rgba(13, 71, 245, 0.9) 1.09%, #55c0f9 106.07%);
}
.post-card-flex::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border-radius: 10px;
  /* width: max-content; */
  background-color: rgb(21, 34, 71);

  z-index: -1;
}
.post-card-flex::after {
  content: attr(data);
  font-size: 16px;
}
.post-card-flex img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
  object-position: top center;
  vertical-align: middle;
}
.post-author {
  /* border: 1px solid rgba(255, 255, 255, 0.44); */

  background: linear-gradient(
    148deg,
    rgba(255, 255, 255, 0.18) 2.42%,
    rgba(255, 255, 255, 0.04) 99.39%
  );
  backdrop-filter: blur(11px);

  width: 100%;
  margin-top: -51px;
  /* margin-bottom: 50px; */
  /* z-index: 3; */
  position: relative;
  padding: 15px 35px;
}
.post-author-span {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.post-author-icon {
  display: inline-block;
}
.post-author-icon img {
  vertical-align: bottom;
  width: 20px !important;
  height: 20px !important;
  display: inline-block;
  margin-right: 10px;
}
.post-title {
  width: 100%;
  height: 100px;
  background-color: rgb(21, 34, 71);
  padding: 30px 35px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
}
.post-tags {
  width: 100%;
  background-color: rgb(21, 34, 71);
  padding: 30px 35px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.btns-flex-cont {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.btn-secoundary {
  /* min-width: 170px; */

  padding: 12px 28px;
  /* background: linear-gradient(
    95.97deg,
    rgba(13, 71, 245, 0.2) 11.47%,
    rgba(85, 192, 249, 0.2) 109.7%
  ); */
  /* border: 1px solid transparent; */
  background: linear-gradient(98.03deg, rgba(13, 71, 245, 0.9) 1.09%, #55c0f9 106.07%);
  border-radius: 10px;
  border: none;
  outline: none;
  position: relative;
  backdrop-filter: blur(15px);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  /* box-shadow: 0px 4px 30px 0px #55c0f947; */
  cursor: pointer;
  transition: 0.4s all;
}
.btn-secoundary:hover {
  backdrop-filter: blur(15px);
  box-shadow: 0px 4px 43px 0px #55c0f999;
}
.btn-secoundary::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border-radius: 10px;
  background-color: rgb(21, 34, 71);

  z-index: -1;
}
.active {
  transition: all 0.4s;
}
.btn-secoundary.active::before {
  background-color: transparent !important;
}
.btn-secoundary::after {
  content: attr(data);
  font-size: 16px;
}

.btn-secoundary .label-btn {
  display: inline-block;
}
@media (max-width: 991px) {
  .post-card-flex {
    width: 100%;
  }
}
</style>
