<script setup lang="ts">
// const route = useRoute();
</script>

<template>
  <div>
    <DesktopAppHeader></DesktopAppHeader>
    <slot />
    <DesktopAppFooter></DesktopAppFooter>
  </div>
</template>
