<template>
  <AboutHero1></AboutHero1>
  <AboutPromise1></AboutPromise1>
  <AboutAboutmv1></AboutAboutmv1>
  <HomeMobileProcess1 class="m-show"></HomeMobileProcess1>
  <HomeProcess21 :anim="false" class="m-hide"></HomeProcess21>
</template>

<script setup>
import { defineAsyncComponent } from "vue";

const AboutHero1 = defineAsyncComponent(() =>
  import("@/components/about/hero.vue")
);
const AboutPromise1 = defineAsyncComponent(() =>
  import("@/components/about/promise.vue")
);
const AboutAboutmv1 = defineAsyncComponent(() =>
  import("@/components/about/aboutmv.vue")
);
const HomeMobileProcess1 = defineAsyncComponent(() =>
  import("@/components/home/mobile/process.vue")
);
const HomeProcess21 = defineAsyncComponent(() =>
  import("@/components/home/process2.vue")
);
</script>
