<template>
  <BlogHero1></BlogHero1>
</template>
<script setup>
import { defineAsyncComponent } from "vue";

const BlogHero1 = defineAsyncComponent(() =>
  import("@/components/blog/hero.vue")
);
</script>
