<template>
  <ContactHero1></ContactHero1>
</template>
<script setup>
import { defineAsyncComponent } from "vue";

const ContactHero1 = defineAsyncComponent(() =>
  import("@/components/contact/hero.vue")
);
</script>
