<script setup lang="ts">
import { useMouse, useWindowSize, useMouseInElement } from "@vueuse/core";
// if (process.client) {
//   let width = window.innerWidth;
//   if (width > 600) {
// const target = ref(null);
const { x, y } = useMouse();
const { width, height } = useWindowSize();

const dx = computed(() => Math.abs(x.value - width.value / 2));
const dy = computed(() => Math.abs(y.value - height.value / 2));
const distance = computed(() =>
  Math.sqrt(dx.value * dx.value + dy.value * dy.value)
);
//   }
// }
</script>

<template>
  <div
    ref="mouseLight"
    v-if="y < width * 4"
    class="mouseLight"
    :style="{
      left: `${x}px`,
      top: `${y}px`,
      width: '100px',
      height: '100px',
    }"
  ></div>
  <HomeHero></HomeHero>
  <HomeWhatwedo></HomeWhatwedo>
  <div class="bg-primary z-1">
    <HomeServices class="m-hide"></HomeServices>
    <!-- <MobileServices class="m-show"></MobileServices> -->
    <HomeMobileServices class="m-show"></HomeMobileServices>
  </div>

  <HomeProcess :anim="true" class="m-hide"></HomeProcess>
  <!-- <HomeProcess2 :anim="true" class="m-hide"></HomeProcess2> -->
  <HomeMobileProcess class="m-show"></HomeMobileProcess>
  <HomeUnique class="m-hide"></HomeUnique>
  <HomeWay></HomeWay>
  <HomeClients></HomeClients>
  <HomeFeatured></HomeFeatured>
  <HomeTestimonials></HomeTestimonials>
</template>
<style>
.mouseLight {
  /* transition: ease-in 0.01s; */

  z-index: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  background: #7bd1ff48;
  opacity: 0.5;
  pointer-events: none;
  border-radius: 100%;
  backdrop-filter: blur(15px);
  filter: blur(30px);
}
</style>
