<template>
  <TeamHero1></TeamHero1>
</template>

<script setup>
import { defineAsyncComponent } from "vue";

const TeamHero1 = defineAsyncComponent(() =>
  import("@/components/team/hero.vue")
);
</script>
