<template>
  <ServiceHero1></ServiceHero1>
  <HomeServices1 class="m-hide"></HomeServices1>
  <HomeMobileServices1 class="m-show"></HomeMobileServices1>
  <ServiceSection1></ServiceSection1>
</template>

<script setup>
import { defineAsyncComponent } from "vue";

const ServiceHero1 = defineAsyncComponent(() =>
  import("@/components/service/hero.vue")
);
const HomeServices1 = defineAsyncComponent(() =>
  import("@/components/home/services.vue")
);
const HomeMobileServices1 = defineAsyncComponent(() =>
  import("@/components/home/mobile/services.vue")
);
const ServiceSection1 = defineAsyncComponent(() =>
  import("@/components/service/section.vue")
);
</script>
