<template>
  <div class="container m-t-150">
    <div class="row row-gap-aboutmv p-m-15">
      <div class="col-6">
        <div class="card-aboutmv">
          <img alt="card-icon" src="/images/about/about-card-1.svg" />
          <h3 class="card-aboutmv-h3">VISION</h3>
          <p class="card-aboutmv-p">
            we are dedicated to becoming the foremost technology marketing agency in the
            UAE, using cutting-edge technologies to advance and optimize marketing
            efforts.
          </p>
        </div>
      </div>
      <div class="col-6">
        <div class="card-aboutmv">
          <img alt="card-icon card-icon-2" src="/images/about/about-card-2.svg" />
          <h3 class="card-aboutmv-h3 card-icon-2">MISSION</h3>
          <p class="card-aboutmv-p">
            We propel your brand to new heights by harnessing the power of innovative
            technologies to supercharge your marketing efforts. Our tailored process and
            data-driven strategies optimize your results to the fullest.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.card-aboutmv-p {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;

  font-size: 15px;
  font-style: normal;
  font-weight: 200;
  line-height: 160%; /* 25.6px */
  /* text-transform: capitalize; */
}
.card-aboutmv-h3 {
  margin: 0;
  font-family: Raleway;
  font-size: 2.6em;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 78px */
  background: var(--bg1, linear-gradient(87deg, #0f44ec -4.17%, #55c0f9 73.28%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.row-gap-aboutmv {
  gap: 30px;
}
.card-aboutmv {
  padding: 40px 25px 40px 40px;
  border-radius: 22px;
  border: 1px solid #86a4ff38;
  background: radial-gradient(
      57.68% 72.15% at 50% 100%,
      rgba(13, 71, 245, 0.6) 0%,
      rgba(13, 71, 245, 0.11) 100%
    ),
    linear-gradient(180deg, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0) 106.38%);
  backdrop-filter: blur(11px);
  transition: all 0.3s;
}
.card-aboutmv:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.171);
}
.card-icon {
  width: 140px;
  height: 140px;
}
.card-icon-2 {
  padding-top: 15px !important;
}
@media (max-width: 991px) {
  .card-aboutmv-h3 {
    font-size: 2em !important;
  }
  .p-m-15 {
    padding: 15px;
  }
  .m-t-150 {
    margin-top: 50px !important;
  }
}
</style>
