<template>
  <div class="position-relative">
    <img
      src="/images/about/light-mv-bottom.svg"
      width="50%"
      height="auto"
      alt="light"
      class="light-mv-bottom"
    />
    <div class="container m-t-150">
      <div class="row row-reverse content-align-center">
        <div class="col-6 position-relative">
          <img
            class="promise-bg"
            src="/images/about/promise-image.svg"
            width="100%"
            height="100%"
            alt="promise"
          />
          <img
            class="promise-image-top"
            src="/images/about/about-promise.webp"
            width="auto"
            height="auto"
            alt="promise"
          />
          <div class="box-icon ico-1">
            <img
              alt="icons"
              width="auto"
              height="auto"
              src="/images/about/box-icon-1.svg"
            />
          </div>
          <div class="box-icon ico-2">
            <img
              alt="icons"
              width="auto"
              height="auto"
              src="/images/about/box-icon-2.svg"
            />
          </div>
          <div class="box-icon ico-3">
            <img
              alt="icons"
              width="auto"
              height="auto"
              src="/images/about/box-icon-3.svg"
            />
          </div>
          <div class="box-icon ico-4">
            <img
              alt="icons"
              width="auto"
              height="auto"
              src="/images/about/box-icon-4.svg"
            />
          </div>
        </div>
        <div class="col-6 position-relative">
          <div class="promise-div-content">
            <h3 class="promise-div-h3">Our Promise</h3>
            <p>
              We can blend marketing and technology, crafting a transparent process that
              allows you to own your brand's growth.
            </p>
            <p>
              We stand out from the competition by offering flexible and scalable
              solutions, tailor-made to fit your unique needs.
            </p>
            <p>
              We employ the best technologies to optimize your marketing efforts, ensuring
              that our solutions evolve with your growing requirements. Our
              results-oriented approach uses data and insights to drive decisions and
              boost your brand's visibility.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
@media (max-width: 991px) {
  .promise-div-h3 {
    font-size: 2em !important;
  }
  .m-t-150 {
    margin-top: 50px !important;
  }
  .row-reverse {
    flex-direction: column-reverse;
  }
  .promise-div-content {
    padding: 15px !important;
  }
  .promise-image-top {
    width: 45% !important;
  }
}
.promise-div-content {
  padding-left: 50px;
}
.promise-div-content p {
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
  /* text-transform: capitalize; */
  background: linear-gradient(137deg, #fff -18.54%, rgba(255, 255, 255, 0) 149.75%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backdrop-filter: blur(2px);
}
.promise-div-h3 {
  font-family: Raleway;
  font-size: 2.6em;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 78px */
  text-transform: capitalize;
  background: linear-gradient(86deg, #0f44ec 14.43%, #55c0f9 120.27%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
.box-icon img {
  width: 23px;
  height: 23px;
  vertical-align: middle;
  margin: 0 auto;
}
.promise-image-top {
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: auto !important; */
  height: auto !important;
  transform: translate(-50%, -50%);
}
.box-icon.ico-1 {
  top: 10%;
  left: 38%;
}
.box-icon.ico-2 {
  top: 23%;
  left: 75%;
}
.box-icon.ico-3 {
  top: 56%;
  left: 11%;
}
.box-icon.ico-4 {
  top: 75%;
  left: 59%;
}
.box-icon {
  padding: 18px;
  position: absolute;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 40px;
  background: linear-gradient(
    151deg,
    rgba(255, 255, 255, 0.14) -9.54%,
    rgba(255, 255, 255, 0.02) 93.99%
  );
  transition: all 0.2s;
  backdrop-filter: blur(7px);
  /* border-top-left: 2px solid #0d47f5; */
}
.box-icon:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border-bottom: 1px solid #0d47f5;
  transform: rotate(45deg);
}
.box-icon:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border-top: 1px solid #0d47f5;
  transform: rotate(45deg);
}
.promise-bg {
  /* animation: rotate 2.3s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both; */
}
.light-mv-bottom {
  position: absolute;
  left: 0;
  /* bottom: 0; */
  width: 100%;
  opacity: 0.5;
}
</style>
