<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Creating Compelling Content That Drives Engagement and Growth",
        p: "At iWINGS, we believe that a strong content strategy is the backbone of effective digital marketing. Our mission is to craft content that resonates with your audience, supports your brand’s goals, and drives meaningful engagement and growth.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "A well-defined content strategy is essential for building brand awareness, engaging your audience, and driving conversions. Here’s why our Content Strategy service is crucial for your business.",
          cards: [
            "A clear content strategy ensures that all your content aligns with your brand’s voice, message, and goals.",
            "Understanding what your audience values and creating content that meets their needs builds stronger connections and fosters loyalty.",
            "Strategic content planning ensures that your message is delivered effectively across all channels, maximizing impact and reach.",
          ],
        },
        WHAT: {
          desc: "Our Content Strategy service includes a comprehensive suite of strategies and tactics designed to create impactful and engaging content.",
          cards: [
            {
              title: "Content Audit and Analysis",
              desc: "Reviewing your existing content to identify strengths, gaps, and opportunities for improvement.",
            },
            {
              title: "Audience Research",
              desc: "Conducting in-depth research to understand your target audience’s needs, preferences, and behaviors.",
            },
            {
              title: "Content Planning and Calendar",
              desc: "Developing a content roadmap and editorial calendar to ensure consistent and timely content creation.",
            },
            {
              title: "Content Creation",
              desc: "Crafting high-quality content, including blog posts, articles, videos, infographics, and social media posts, that aligns with your brand and engages your audience.",
            },
            {
              title: "SEO Integration",
              desc: "Ensuring all content is optimized for search engines to improve visibility and attract organic traffic.",
            },
            {
              title: "Content Distribution",
              desc: "Identifying the best channels and platforms to distribute your content and reach your target audience.",
            },
            {
              title: "Performance Measurement",
              desc: "Monitoring content performance and using data-driven insights to refine and optimize your content strategy.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to Content Strategy is strategic, creative, and data-driven.",
          cards: [
            {
              title: "Understanding Your Business",
              desc: "We start by diving deep into your business goals, target audience, and brand identity to develop a strategy that aligns with your objectives.",
            },
            {
              title: "Strategic Planning",
              desc: "Our team of experts creates a comprehensive content strategy, including audience research, content planning, and SEO integration.",
            },
            {
              title: "Content Creation and Distribution",
              desc: "We craft engaging content and strategically distribute it across the most effective channels to reach and resonate with your audience.",
            },
            {
              title: "Continuous Optimization",
              desc: "We provide ongoing support, monitoring performance, and making data-driven adjustments to ensure your content strategy remains effective and aligned with your goals.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
