<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Unlocking Insights to Drive Business Success",
        p: "At iWINGS, we believe that data is a powerful asset that can transform the way businesses operate. Our mission is to harness the power of data science to uncover insights, inform strategies, and drive growth for your business.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "Data science is essential for making informed decisions, optimizing operations, and staying competitive in today’s data-driven world. Here’s why our Data Science service is crucial for your business:",
          cards: [
            "Leveraging data to make strategic decisions that align with your business goals.",
            "Using data-driven insights to streamline processes and improve efficiency.",
            "Gaining a deeper understanding of market trends and customer behavior to stay ahead of the competition.",
          ],
        },
        WHAT: {
          desc: "Our Data Science service includes a comprehensive suite of strategies and tactics designed to turn data into actionable insights.",
          cards: [
            {
              title: "Data Collection and Integration",
              desc: "Gathering and integrating data from various sources to create a comprehensive dataset.",
            },
            {
              title: "Data Analysis and Visualization",
              desc: "Analyzing data to uncover patterns, trends, and insights, and presenting findings in an easily understandable format.",
            },
            {
              title: "Predictive Modeling",
              desc: "Developing predictive models to forecast future trends and behaviors, helping you make proactive decisions.",
            },
            {
              title: "Machine Learning and AI",
              desc: "Implementing machine learning algorithms and artificial intelligence to automate processes and enhance decision-making.",
            },
            {
              title: "Customer Segmentation and Profiling",
              desc: "Identifying and segmenting your customer base to tailor marketing strategies and improve targeting.",
            },
            {
              title: "Performance Monitoring and Reporting",
              desc: "Continuously monitoring key performance indicators and providing detailed reports to track progress and identify areas for improvement.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to Data Science is analytical, innovative, and results-driven.",
          cards: [
            {
              title: "Understanding Your Business",
              desc: "We start by diving deep into your business objectives, data sources, and key challenges to develop a tailored data science strategy.",
            },
            {
              title: "Data Collection and Preparation",
              desc: "Our team collects, cleans, and integrates data from various sources to ensure accuracy and completeness.",
            },
            {
              title: "Advanced Analysis and Modeling",
              desc: "Using advanced analytical techniques and predictive modeling, we uncover insights and forecast future trends.",
            },
            {
              title: "Implementation and Optimization",
              desc: "We implement data-driven strategies and continuously monitor performance, making adjustments as needed to optimize results.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
