<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Navigating the Digital Landscape with Purpose and Precision",
        p: "At iWINGS, we believe that a well-defined digital strategy is the cornerstone of successful online presence and growth. Our mission is to help you navigate the digital landscape with purpose and precision, ensuring your brand is positioned for success.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "A robust digital strategy and clear positioning are essential for standing out in the crowded online marketplace. Here’s why our Digital Strategy & Positioning service is crucial for your business.",
          cards: [
            "A defined strategy provides a clear roadmap, guiding your digital efforts towards achieving your business goals.",
            "Strategic positioning helps you differentiate your brand and carve out a unique space in the market.",
            "Understanding your audience and market dynamics allows you to tailor your digital efforts, maximizing engagement and conversions.",
          ],
        },
        WHAT: {
          desc: "Our Digital Strategy & Positioning service includes a comprehensive suite of strategies and tactics designed to establish a strong online presence and drive business growth.",
          cards: [
            {
              title: "Market and Competitor Analysis",
              desc: "Conducting in-depth research to understand market trends, audience behavior, and competitor strategies, identifying opportunities for differentiation.",
            },
            {
              title: "Brand Positioning",
              desc: "Crafting a unique value proposition and positioning statement that clearly defines your brand’s place in the market.",
            },
            {
              title: "Strategic Planning",
              desc: "Developing a detailed digital strategy that aligns with your business goals, including objectives, key performance indicators (KPIs), and action plans.",
            },
            {
              title: "Channel Strategy",
              desc: "Identifying the most effective digital channels for reaching your target audience and achieving your goals.",
            },
            {
              title: "Content Strategy",
              desc: "Creating a content roadmap that aligns with your brand’s voice and resonates with your audience, driving engagement and loyalty.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to Digital Strategy & Positioning is comprehensive, data-driven, and tailored to your unique needs.",
          cards: [
            {
              title: "Understanding Your Business",
              desc: "We start by diving deep into your business goals, target audience, and competitive landscape to develop a strategy that aligns with your objectives.",
            },
            {
              title: "Strategic Development",
              desc: "Our team of experts crafts a detailed digital strategy, including market analysis, brand positioning, and channel selection to guide your digital efforts.",
            },
            {
              title: "Implementation and Monitoring",
              desc: "We implement the strategy, continuously monitoring performance and making data-driven adjustments to ensure optimal results.",
            },
            {
              title: "Ongoing Optimization",
              desc: "We provide ongoing support, refining the strategy based on performance data and market changes to maintain your competitive edge.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
