<template>
  <ServiceMainHeroservice1 :dataProps="dataProps"></ServiceMainHeroservice1>
  <ServiceMainSubservice1 :content="content"></ServiceMainSubservice1>
</template>

<script>
import { defineAsyncComponent } from "vue";
export default {
  components: {
    ServiceMainHeroservice1: defineAsyncComponent(() =>
      import("@/components/service/main/heroservice.vue")
    ),
    ServiceMainSubservice1: defineAsyncComponent(() =>
      import("@/components/service/main/subservice.vue")
    ),
  },
  data() {
    return {
      dataProps: {
        title: "Strategizing Success in the Digital World",
        p: "At iWINGS, we believe that true success starts with a clear purpose and a strategic vision. We partner with you to uncover your core values and align them with innovative strategies that drive your business forward. ",
        p2: "Our mission is to help you navigate the digital landscape with confidence, ensuring that insight and purpose guides every decision.",
        image: "/images/services/pages/hero-image.png",
      },
      content: [
        {
          title: "Digital Strategy & Positioning",
          p: "Creating a unique digital roadmap that aligns with your brand's values, positioning you distinctly in the market.",
          link: "/services/consulting/digital-strategy-positioning",
        },
        {
          title: "Marketing Strategy",
          p: "Developing focused marketing plans that effectively engage your audience and significantly increase your return on investment (ROI).",
          link: "/services/consulting/marketing-strategy",
        },
        {
          title: "Content Strategy",
          p: "Planning and developing content that speaks to your audience’s beliefs, supporting and amplifying your brand’s goals.",
          link: "/services/consulting/content-strategy",
        },
        {
          title: "Growth Hacking",
          p: "Implementing creative, efficient tactics to expand your business quickly, enhancing visibility and scalability in your market.",
          link: "/services/consulting/growth-hacking",
        },
        {
          title: "Data Science",
          p: "Leveraging data insights to refine strategies, optimize performance, and drive smarter decision-making across operations.",
          link: "/services/consulting/data-science",
        },
      ],
    };
  },
};
</script>
