<template>
  <ServiceSubHeroservice :dataProps="dataProps"></ServiceSubHeroservice>
  <ServiceSubWhy></ServiceSubWhy>
  <ServiceSubWhyinfo :content="content.why"></ServiceSubWhyinfo>
  <ServiceSubWhat></ServiceSubWhat>
  <ServiceSubWhatinfo :content="content.WHAT"></ServiceSubWhatinfo>
  <ServiceSubHow></ServiceSubHow>
  <ServiceSubHowinfo :content="content.how"></ServiceSubHowinfo>
</template>

<script>
export default {
  data() {
    return {
      dataProps: {
        title: "Crafting Targeted Plans to Achieve Your Business Goals",
        p: "At iWINGS, we believe that a well-crafted marketing strategy is essential for driving growth and achieving business success. Our mission is to develop comprehensive marketing plans that resonate with your audience, elevate your brand, and maximize your return on investment.",
        image: "/images/services/pages/hero-image.png",
      },
      content: {
        why: {
          desc: "A strategic marketing plan is crucial for reaching your target audience and achieving your business objectives. Here’s why our Marketing Strategy service is essential for your business.",
          cards: [
            "A clear marketing strategy helps you focus your efforts on the most impactful activities, ensuring efficient use of resources.",
            "Understanding your audience’s needs and behaviors allows you to create campaigns that resonate and drive engagement.",
            "Strategic planning ensures that your marketing efforts are aligned with your business goals, maximizing your return on investment.",
          ],
        },
        WHAT: {
          desc: "Our Marketing Strategy service includes a comprehensive suite of strategies and tactics designed to drive your business growth.",
          cards: [
            {
              title: "Market Research and Analysis",
              desc: "Conducting thorough research to understand market trends, customer behaviors, and competitive dynamics, providing a solid foundation for your strategy.",
            },
            {
              title: "Target Audience Definition",
              desc: "Identifying and segmenting your target audience to tailor your marketing efforts for maximum impact.",
            },
            {
              title: "Strategic Planning",
              desc: "Developing a detailed marketing plan that outlines objectives, key performance indicators (KPIs), and actionable steps to achieve your goals.",
            },
            {
              title: "Campaign Development",
              desc: "Crafting compelling marketing campaigns that align with your brand and resonate with your audience, driving engagement and conversions.",
            },
            {
              title: "Channel Selection",
              desc: "Identifying the most effective marketing channels to reach your target audience and achieve your business objectives.",
            },
            {
              title: "Performance Tracking and Optimization",
              desc: "Continuously monitoring campaign performance and making data-driven adjustments to optimize results.",
            },
          ],
        },
        how: {
          desc: "At iWINGS, our approach to Marketing Strategy is data-driven, customer-focused, and results-oriented.",
          cards: [
            {
              title: "Understanding Your Business",
              desc: "We start by diving deep into your business goals, target audience, and market landscape to develop a strategy that aligns with your objectives.",
            },
            {
              title: "Strategic Development",
              desc: "Our team of experts creates a comprehensive marketing strategy, including market analysis, audience segmentation, and campaign planning.",
            },
            {
              title: "Implementation and Monitoring",
              desc: "We implement the strategy, continuously tracking performance and making data-driven adjustments to ensure optimal results.",
            },
            {
              title: "Ongoing Optimization",
              desc: "We provide ongoing support, refining the strategy based on performance data and market changes to maintain your competitive edge.",
            },
          ],
        },
      },
    };
  },
};
</script>

<style></style>
